<script src="/js/likeAjax1.js"></script>
<script src="/js/loadAjax.js"></script>

<p hidden id="findMe"></p>

<p hidden id="resourceIdsMe"><%= resourceIds %></p>

<!--<div class='card-body'>-->
<% if (resourceInfo && resourceInfo.length > 0) { %>
    <% for (let i = 0; i < resourceInfo.length; i++) { %>
        <div class='card-body' style="margin-bottom: 20px">
            <h3><%= resourceInfo[i].name %></h3>
            <div class='card-text'>
                <ul class='list-group'>
                    <li class='list-group-item borderless box-padding'>
                        <h5 style="display: inline">Description:</h5> <%= resourceInfo[i].description %>
                    </li>
                    <li class='list-group-item borderless box-padding'>
                        <h5 style="display: inline">Year:</h5> <%= resourceInfo[i].yearOfCreation %>
                    </li>
                    <li class='list-group-item borderless box-padding'>
                        <h5 style="display: inline">State:</h5> <%= resourceInfo[i].state %>
                    </li>
                    <% if (resourceInfo[i].mediaType === 'video') { %>
                        <li class='list-group-item borderless box-padding'>
                            <video width="400" controls>
                                <source src="<%= resourceInfo[i].uri %>" type="video/mp4">
                            </video>
                        </li>
                    <% } else { %>
                        <li class='list-group-item borderless box-padding'>
                            <h5 style="display: inline">Link:</h5> <a href='<%= resourceInfo[i].uri %>'>click me</a>
                        </li>
                    <% } %>
                    <li class='list-group-item borderless box-padding'>
                        <h5 style="display: inline">Institution:</h5> <%= resourceInfo[i].institution %>
                    </li>
                    <li class='list-group-item borderless box-padding'>
                        <h5 style="display: inline">Author:</h5> <%= resourceInfo[i].ownerName %>
                    </li>
                    <% if (resourceInfo[i].tags.length >= 1 && resourceInfo[i].tags[0].length !== 0) { %>
                        <li class='list-group-item borderless box-padding'>
                            <h5 style="display: inline">Tags:</h5> <%= resourceInfo[i].tags %>
                        </li>
                    <% } %>
                    <li class='list-group-item borderless box-padding'>
                        <h5 style="display: inline">Actions:</h5>
                        <button type="submit"
                                style='border:0px solid transparent'
                                class='focusMe btn btn-outline-danger'
                                id="<%= resourceInfo[i]._id %>">
                            <% if (resourceIds && resourceIds.toString().includes(resourceInfo[i]._id.toString())) { %>
                                &#9829;
                            <% } else { %>
                                &#9825;
                            <% } %>
                        </button>
                        <% if (status === 'admin' || status === 'faculty' || resourceInfo[i].ownerId.toString() === user._id.toString()) { %>
                            <button id="<%= resourceInfo[i]._id %>" type='button'
                                    class='editBtn btn btn-outline-info'
                                    style='border:0 solid transparent'
                                    data-toggle='modal'
                                    data-target='#editModal'>
                                Edit
                            </button>
                            <button id="<%= resourceInfo[i]._id %>" type='button'
                                    class='deleteBtn btn btn-outline-danger'
                                    style='border:0px solid transparent'
                                    data-toggle='modal'
                                    data-target='#deleteModal'>
                                Delete
                            </button>
                        <% } %>
                        <% if (resourceInfo[i].ownerId.toString() !== user._id.toString()) { %>
                            <a href='/messages/view/<%= user._id %>/<%= resourceInfo[i].ownerId %>/<%= resourceInfo[i]._id %>'><input
                                        class='btn btn-outline-primary' style='border:0px solid transparent'
                                        type='button' value='Contact the author'></a>
                        <% } %>
                    </li>
                </ul>
            </div>
        </div>
    <% } %>
<% } else { %>
    <div class='card-body text-center'>
        No resource available yet
    </div>
<% } %>

<div id="appendAfterMe1"></div>

<div>
    <br>
    <button id="loadMore" class="btn btn-primary">load more</button>
</div>