<nav class='header__menu'>
    <ul>
        <li>
            <a class='header-link' id='header-link' href='/' data-aos='fade-left'>HOME</a>
        </li>
        <% if (!loggedIn) { %>
            <li>
                <a class='header-link' id='header-link' href='#' data-aos='fade-left'>Resources</a>
                <ul class='sub-menu'>
                    <li>
                        <a class='header-link' href='/resources/view/public/all'>Find Some Resources</a>
                    </li>
                    <li>
                        <a class='header-link' href='/events' data-aos='fade-left'>Upcoming Events</a>
                    </li>
                </ul>
            </li>

            <li>
                <a class='header-link' id='header-link' href='/profiles/view/faculty' data-aos="fade-left">Faculty &
                    School</a>
            </li>

            <li>
                <a class='header-link' id='header-link' href='/about' data-aos='fade-left'>About</a>
            </li>

        <% } else { %>
            <li>
                <a class='header-link' id='header-link' href='#' data-aos='fade-left'>Resources</a>
                <ul class='sub-menu'>
                    <li>
                        <a class='header-link' href='/resources/search/private/advanced'>Find some resources</a>
                    </li>
                    <% if (status === 'faculty' || status === 'admin') { %>
                        <li>
                            <a class='header-link' href='/resource/upload/faculty'>Upload resources</a>
                        </li>
                    <% } %>
                    <li>
                        <a class='header-link' href='/resources/view/favorite'>My favorites</a>
                    </li>
                    <li>
                        <% if (status === 'faculty' || status === 'admin') { %>
                            <a class='header-link' href='/resources/view/private'>My resources</a>
                        <% } else { %>
                            <a class='header-link' href='/resources/view/private'>My resources</a>
                        <% } %>
                    </li>
                </ul>
            </li>
            <li>
                <a class='header-link' id='header-link' href='#' data-aos='fade-left'>Networking</a>
            </li>
            <li>
                <a class='header-link' id='header-link' href='/events' data-aos='fade-left'>Events</a>
            </li>


            <li>
                <% if (status === 'admin' || status === 'faculty' ) { %>
                    <a class='header-link' id='header-link' href='#' data-aos='fade-left'>Faculty & School</a>
                    <ul class='sub-menu'>
                        <li>
                            <a class='header-link' href='/resources/view/faculty'>Faculty guide</a>
                        </li>
                        <li>
                            <a class='header-link' href='/profiles/view/faculty'>Faculty list</a>
                        </li>
                        <li>
                            <a class='header-link' href='/resource/review'>Approve stdnt. resources</a>
                        </li>
                        <% for (let i = 0; i < courseInfoSet.length; i++) { %>
                            <li>
                                <% if (courseInfoSet[i].courseName.length <= 20) { %>
                                    <a class='header-link'
                                       href='/course/view/<%= courseInfoSet[i]._id %>'><%= courseInfoSet[i].courseName %></a>
                                <% } else { %>
                                    <a class='header-link'
                                       href='/course/view/<%= courseInfoSet[i]._id %>'><%= courseInfoSet[i].courseName.substring(0, 20) + "..." %></a>
                                <% } %>
                            </li>
                        <% } %>
                    </ul>
                <% } else { %>
                    <a class='header-link' id='header-link' href='#' data-aos='fade-left'>Faculty & School</a>
                    <ul class='sub-menu'>
                        <li>
                            <a class='header-link' href='/profiles/view/faculty'>Faculty list</a>
                        </li>
                        <% for (let i = 0; i < courseInfoSet.length; i++) { %>
                            <li>
                                <% if (courseInfoSet[i].courseName.length <= 20) { %>
                                    <a class='header-link'
                                       href='/course/view/<%= courseInfoSet[i]._id %>'><%= courseInfoSet[i].courseName %></a>
                                <% } else { %>
                                    <a class='header-link'
                                       href='/course/view/<%= courseInfoSet[i]._id %>'><%= courseInfoSet[i].courseName.substring(0, 20) + "..." %></a>
                                <% } %>
                            </li>
                        <% } %>
                    </ul>
                <% } %>
            </li>

            <li>
                <% if (status === 'admin') { %>
                    <a class='header-link' id='header-link' href='#' data-aos='fade-left'>Admin</a>
                    <ul class='sub-menu'>
                        <li>
                            <a class='header-link' href='/resource/approve/public'>Approve public resources</a>
                        </li>
                        <li>
                            <a class='header-link' href='/tag/approve'>Approve new tags</a>
                        </li>
                        <li>
                            <a class='header-link' href='/managePublicResources'>Home page resources</a>
                        </li>
                        <li>
                            <a class='header-link' href='/profile/create/faculty'>Set up a new faculty</a>
                        </li>
                        <li>
                            <a class='header-link' href='/course/join'>Join a course</a>
                        </li>
                        <li>
                            <a class='header-link' href='/profiles/view/all'>View all profiles</a>
                        </li>
                    </ul>
                <% } %>
            </li>
            <li>
                <a class='header-link' id='header-link' href='#' data-aos='fade-left'>Profile & Others</a>
                <ul class='sub-menu'>
                    <li>
                        <a class='header-link' href='/profile/update'>Update profile</a>
                    </li>
                    <li>
                        <a class='header-link' id='header-link' href='/messages/view/all'
                           data-aos='fade-left'>Messages</a>
                    </li>
                    <li>
                        <a class='header-link' id='header-link' href='/help' data-aos='fade-left'>Help</a>
                    </li>
                    <li>
                        <a class='header-link' id='header-link' href='/about' data-aos='fade-left'>About</a>
                    </li>
                    <li>
                        <a class='header-link' id='header-link' href='/contact' data-aos='fade-left'>Contact</a>
                    </li>
                </ul>
            </li>
        <% } %>

        <li class='header__btn header__btn--login'>
            <% if (!loggedIn) { %>
                <a class='btn btn-primary' style="color: white; font-weight: bold" href='/login'
                   data-aos='fade-left'>Login</a>
            <% } else { %>
                <a class='btn btn-primary' style="color: white; font-weight: bold" href='/logout'
                   data-aos='fade-left'>Logout</a>
            <% } %>
        </li>
    </ul>
</nav>