<%- include('header'); -%>
<%- include('navbar'); -%>

<section class="section">
    <div class="section__content section__content--full-width">
        <div class="jumbotron masthead text-center">
            <div class="section__title section__title--centered">
                <%= user.userName %>'s profile
            </div>
        </div>
    </div>
</section>

<section class="section section__grey">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12"></div>
            <div class="col-md-6 col-sm-12">

                <h3>Basic Information</h3>
                <hr>

                <% if (user.profilePicURL) { %>
                    <img src="<%= user.profilePicURL %>" width="100%" alt="profile picture">
                <% } else { %>
                    No profile image
                <% } %>
                <br>
                <br>

                <div class="input-group-prepend">
                    <span class="input-group-text" style="width: 180px">Username</span>
                    <input disabled type="text" class="form-control" value="<%= locals.user.userName %>">
                </div>

                <br>


                <div class="input-group-prepend">
                    <span class="input-group-text" style="width: 180px">Work Email</span>
                    <input disabled type="text" class="form-control" value="<%= locals.user.googleemail %>">
                </div>

                <br>

                <div class="input-group-prepend">
                    <span class="input-group-text" style="width: 180px">Personal Email</span>
                    <input disabled type="text" class="form-control" value="<%= locals.user.personalEmail %>">
                </div>

                <br>

                <div class="input-group-prepend">
                    <span class="input-group-text" style="width: 180px">Phone Number</span>
                    <input disabled type="text" class="form-control" value="<%= locals.user.phoneNumber %>">
                </div>

                <br>

                <div class="input-group-prepend">
                    <span class="input-group-text" style="width: 180px">Bio</span>
                    <textarea disabled type="text" class="form-control"><%= locals.user.bio %></textarea>
                </div>

                <br>

                <div class="input-group-prepend">
                    <span class="input-group-text" style="width: 180px">Status</span>
                    <input disabled type="text" class="form-control" value="<%= locals.status %>">
                    <% console.log("stttatus: " + locals.user.status) %>
                </div>
                <br>
                <a class="btn btn-outline-dark" href="/editMyProfile">Edit</a>

            </div>
        </div>
    </div>
</section>

<%- include('footer'); -%>
