<%- include('header'); -%>
<%- include('navbar'); -%>
<section class="section section--grey">
    <div class="section__content section__content--full-width">
        <div class="jumbotron masthead text-center">
            <div class="section__title section__title--centered">
                <%= courseInfo.courseName %>
                <br>
                Professor: <%= ownerInfo.googlename %>
            </div>
        </div>
    </div>
</section>

<%- include('footer'); -%>