<%- include('header'); -%>
<%- include('navbar'); -%>

<section class="section">
    <div class="section__content section__content--full-width">
        <div class="jumbotron masthead text-center">
            <div class="section__title section__title--centered">
                <% if (status === "faculty" || status === "admin") { %>
                    Courses you are teaching
                <% } else { %>
                    Courses You Enrolled In
                <% } %>
            </div>
        </div>
    </div>
</section>

<section class="section section__grey">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12"></div>
            <div class="col-md-6 col-sm-12 text-center">
                <% if (loggedIn) { %>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Course Name</th>
                            <th scope="col">Semester</th>
                            <th scope="col">
                                <% if (status === "faculty" || status === "admin") { %>
                                    Course Pin
                                <% } else { %>
                                    Instructor
                                <% } %>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <% if (status === "faculty" || status === "admin") { %>
                            <% for(let i = 0; i < coursesOwned.length; i++) { %>
                                <tr>
                                    <td>
                                        <a href="/showOneCourse/<%= coursesOwned[i]._id %>"><%= coursesOwned[i].courseName %></a>
                                    </td>
                                    <td><%= coursesOwned[i].semester %></td>
                                    <td>
                                        <%= coursesOwned[i].coursePin %>
                                    </td>
                                </tr>
                            <% } %>
                        <% } else if (coursesTaken.length > 0) { %>
                            <% for (let i = 0; i < coursesTaken.length; i++){ %>
                                <tr>
                                    <td>
                                        <a href="/showOneCourse/<%= coursesTaken[i]._id %>"><%= coursesTaken[i].courseName %></a>
                                    </td>
                                    <td><%= coursesTaken[i].semester %></td>
                                    <td><%= coursesTaken[i].instructor %></td>
                                </tr>
                            <% } %>
                        </tbody>
                        <% } else { %>
                            <div class="text-center partners__text">
                                <h3>You didn't create or enroll in any courses</h3>
                            </div>
                        <% } %>
                    </table>
                <% } else { %>
                    <div class="text-center partners__text">
                        <h3>Please login to view this page</h3>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</section>


<%- include('footer'); -%>