<%- include('header'); -%>
<%- include('navbar'); -%>

<section class="section">
    <div class="section__content section__content--full-width">
        <div class="jumbotron masthead text-center">
            <div class="section__title section__title--centered">
                Resource Upload
            </div>
        </div>
    </div>
</section>

<section class="section section__grey">
    <div class="container">
        <% if (loggedIn) { %>
            <div class="row">
                <div class="col-md-3 col-sm-12"></div>
                <div class="col-md-6 col-sm-12">
                    <h3>Upload the file</h3>
                    <hr>
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#myModal">
                        Upload the file
                    </button>
                </div>
            </div>
            <br>
            <form method="post" action="/uploadResource/<%= req.params.courseId %>">
                <div class="row">

                    <div class="col-md-3 col-sm-12"></div>
                    <div class="col-md-6 col-sm-12">
                        <h3>Basic information</h3>
                        <hr>
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width: 180px">Resource Name</span>
                            <input type="text" class="form-control" name="resourceName"
                                   placeholder="e.g. ENACT Introduction">
                        </div>
                        <br>
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width: 180px">Description</span>
                            <textarea type="text" class="form-control" name="resourceDescription" rows="4"
                                      placeholder="e.g. Detailed description"></textarea>
                        </div>
                        <!--hidden-->
                        <div hidden class="input-group-prepend">
                            <span class="input-group-text" style="width: 180px">URI</span>
                            <input type="text" id='fileURL' class="form-control" name="uri"
                                   placeholder="e.g. URI">
                        </div>
                        <br>
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width: 180px">Resource Type</span>
                            <select class="form-control" name="resourceType">
                                <option selected value="null">Choose...</option>
                                <option value="video">Video</option>
                                <option value="document">Document</option>
                                <option>...</option>
                            </select>
                        </div>
                        <br>
                        <% if (status === 'admin') { %>
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width: 180px">Resource Status</span>
                                <select class="form-control" name="status">
                                    <option value="public">Open to public</option>
                                    <option value="privateToENACT">Open to all ENACT members</option>
                                    <option value="privateToProfessor">Exclusive to ENACT professors</option>
                                </select>
                            </div>
                            <br>
                        <% } else if (status === 'faculty') { %>
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width: 180px">Resource Status</span>
                                <select class="form-control" name="status">
                                    <option value="privateToENACT">Open to all ENACT members</option>
                                    <option value="privateToProfessor">Exclusive to ENACT professors</option>
                                </select>
                            </div>
                            <br>
                        <% } else { %>
                            <div hidden class="input-group-prepend">
                                <span class="input-group-text" style="width: 180px">Resource Status</span>
                                <select class="form-control" name="status">
                                    <option selected value="privateToENACT">Open to all ENACT members</option>
                                </select>
                            </div>
                        <% } %>
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width: 180px">State</span>
                            <select class="form-control" name="state">
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District Of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select>
                        </div>
                        <br>
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width: 180px">Institution</span>
                            <input type="text" class="form-control" name="institution"
                                   placeholder="e.g. Brandeis University">
                        </div>
                        <br>
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width: 180px">Creation Year</span>
                            <input type="text" class="form-control" name="yearOfCreation"
                                   placeholder="e.g. 2018">
                        </div>

                    </div>

                    <div class="w-100"></div>
                    <br>
                    <div class="col-md-3 col-sm-12"></div>
                    <div class="col-md-6 col-sm-12">
                        <h3>Tag the resource</h3>
                        <hr>

                    </div>
                    <div class="w-100"></div>

                    <% for (let i = 0; i < tags.length;) { %>
                        <div class="col-md-3"></div>
                        <% for (let j = 0; i < tags.length && j < 2; i++, j++) { %>
                            <div class="col-md-3 col-sm-12 text-md-right">
                                <div class="input-group" style="padding-bottom: 10px">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <input type="checkbox" value="<%= tags[i] %>"><br>
                                        </div>
                                    </div>
                                    <input disabled type="text" class="form-control"
                                           aria-label="Text input with checkbox" value="<%= tags[i] %>">
                                </div>
                            </div>
                        <% } %>
                        <div class="w-100"></div>
                    <% } %>

                    <input hidden id="tagsToReturn" type="text" class="form-control" name="tags" value="">
                    <br>

                    <div class="w-100"></div>
                    <div class="col-md-3 col-sm-12"></div>
                    <div class="col-md-6 col-sm-12">
                        <input type="submit" name="submit" class="btn btn-outline-dark" value="Save">
                    </div>
                </div>
            </form>
            <br>
            <div class="row">

            </div>
        <% } else { %>
            <div class="text-center partners__text">
                <h3>Please login to view this page</h3>
            </div>
        <% } %>

    </div>

</section>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload file</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <br><br>
                    <div class="col-md-12 col-sm-12">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Upload File</span>
                            <input type="file" class="form-control" id="file-input">
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        let checkboxes = $(":checkbox");
        checkboxes.on('change', function () {
            let string = checkboxes.filter(":checked").map(function () {
                return this.value;
            }).get().join(", ");
            $('#tagsToReturn').val(string);
        });
    });

    /*
    Function to carry out the actual PUT request to S3 using the signed request from the app.
    */
    function uploadFile(file, signedRequest, url) {
        const xhr = new XMLHttpRequest();
        xhr.open('PUT', signedRequest);
        xhr.onreadystatechange = () => {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    document.getElementById('fileURL').value = url;
                    console.log("URL is: " + url)
                } else {
                    alert('Could not upload file.');
                }
            }
        };
        xhr.send(file);
    }

    /*
    Function to get the temporary signed request from the app.
    If request successful, continue to upload the file using this signed
    request.
    */
    function getSignedRequest(file) {
        const xhr = new XMLHttpRequest();
        xhr.open('GET', `/sign-s3?file-name=${file.name}&file-type=${file.type}`);
        xhr.onreadystatechange = () => {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    const response = JSON.parse(xhr.responseText);
                    uploadFile(file, response.signedRequest, response.url);
                } else {
                    alert('Could not get signed URL.');
                }
            }
        }
        ;
        xhr.send();
    }

    /*
    Function called when file input updated. If there is a file selected, then
    start upload procedure by asking for a signed request from the app.
    */
    function initUpload() {
        const files = document.getElementById('file-input').files;
        const file = files[0];
        if (file == null) {
            return alert('No file selected.');
        }
        getSignedRequest(file);
    }

    /*
    Bind listeners when the page loads.
    */
    (() => {
        document.getElementById('file-input').onchange = initUpload;
    })
    ();
</script>

<%- include('footer'); -%>