<%- include('../../components/header'); -%>
<%- include('../../components/navbar'); -%>

<section class='section section__grey' data-aos='fade-up' style="height: 100%; padding-top: 8%">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Reset Password</h5>
                        <form class="form-signin" action="/reset/<%= userIdParam %>" method="post">
                            <div hidden class="form-label-group">
                                <input type="text" name="email" id="Username" class="form-control" value="<%= emailFromServer %>"
                                       placeholder="Username"
                                       required autofocus>
                                <label for="Username">Email</label>
                            </div>
                            <div class="form-label-group">
                                <input type="password" name="password" id="inputPassword" class="form-control"
                                       placeholder="New Password"
                                       required>
                                <label for="inputPassword">New Password</label>
                            </div>
                            <br>
                            <input name="submit" class="btn btn-lg btn-primary btn-block text-uppercase" value="save"
                                   type="submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('../../components/footer'); -%>
