<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                Public Resources Under Review
            </div>
        </div>
    </div>
</section>


<section class='section section__grey' data-aos='fade-up'>
    <section class='section__content section__content--fluid-width'>
        <div class='container'>
            <% if (loggedIn) { %>
                <% if (resourceInfo) { %>
                    <form method='post'>
                        <div class='form-group row'>
                            <div class='col-sm-1'></div>
                            <div class='col-sm-11'>
                                <input type='submit' class='btn btn-success'
                                       formaction='/resource/status/toPublic'
                                       value='Post Checked Resources to Public'>
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <input type='submit' formaction='/resource/status/toENACT'
                                       class='btn btn-secondary'
                                       value='Leave Checked Resources in ENACT'>
                            </div>
                        </div>
                        <% for (let i = 0; i < resourceInfo.length; i++) { %>
                            <div class='form-group row'>
                                <div class='col-sm-1'>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input type='checkbox' name='checked'
                                           value='<%= resourceInfo[i]._id %>'>
                                </div>
                                <div class='col-sm-11'>
                                    <div class='card-body'>
                                        <h3><%= resourceInfo[i].name %></h3>
                                        <div class='card-text'>
                                            <ul class='list-group'>
                                                <li class='list-group-item borderless box-padding'>
                                                    <h5 style="display: inline">
                                                        Author:</h5> <%= resourceInfo[i].ownerName %>
                                                </li>
                                                <li class='list-group-item borderless box-padding'>
                                                    <h5 style="display: inline">
                                                        Description:</h5> <%= resourceInfo[i].description %>
                                                </li>
                                                <li class='list-group-item borderless box-padding'>
                                                    <h5 style="display: inline">State:</h5> <%= resourceInfo[i].state %>
                                                </li>
                                                <li class='list-group-item borderless box-padding'>
                                                    <h5 style="display: inline">Link:</h5> <a
                                                            href='<%= resourceInfo[i].uri %>'>click me</a>
                                                </li>
                                                <li class='list-group-item borderless box-padding'>
                                                    <h5 style="display: inline">
                                                        Institution:</h5> <%= resourceInfo[i].institution %>
                                                </li>
                                                <li class='list-group-item borderless box-padding'>
                                                    <h5 style="display: inline">
                                                        Author:</h5> <%= resourceInfo[i].ownerName %>
                                                </li>
                                                <% if (resourceInfo[i].tags.length >= 1 && resourceInfo[i].tags[0].length !== 0) { %>
                                                    <li class='list-group-item borderless box-padding'>
                                                        <h5 style="display: inline">
                                                            Topic(s)/Issue(s):</h5> <%= resourceInfo[i].tags %>
                                                    </li>
                                                <% } %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </form>
                <% } else { %>
                    <div class="card-body text-center">
                        There is no resource under review.
                    </div>
                <% } %>
            <% } else { %>
                <%- include('../components/component-loginToView'); -%>
            <% } %>
        </div>
    </section>
</section>


<%- include('../components/footer'); -%>
