<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<script src='/js/editModal.js'></script>

<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                My Approved Resources
            </div>
        </div>
    </div>
</section>

<section class='section section__grey' data-aos='fade-up'>
    <section class='section__content section__content--fluid-width'>
        <div class='container'>
            <div class='row'>
                <% if (loggedIn) { %>
                    <div class='col-md-12 col-sm-12'>
                        <div class='card border-0'>
                            <div class='card-body'>
                                <% if (resourceInfo && resourceInfo.length > 0) { %>
                                    <% for (let i = resourceInfo.length - 1; i >= 0; i--) { %>
                                        <div class='card border-0'>
                                            <div class='card-body'>
                                                <h4><%= resourceInfo[i].name %></h4>
                                                <div class='card-text'>
                                                    <ul class='list-group'>
                                                        <li class='list-group-item borderless box-padding'>
                                                            <b>Description: </b> <%= resourceInfo[i].description %></li>
                                                        <li class='list-group-item borderless box-padding'>
                                                            <b>State:</b> <%= resourceInfo[i].state %></li>
                                                        <li class='list-group-item borderless box-padding'>
                                                            <b>Link: </b> <a href='<%= resourceInfo[i].uri %>'>click
                                                                me</a>
                                                        </li>
                                                        <li class='list-group-item borderless box-padding'>
                                                            <b>Institution: </b> <%= resourceInfo[i].institution %></li>
                                                        <li class='list-group-item borderless box-padding'>
                                                            <b>Tags:</b> <%= resourceInfo[i].tags %>
                                                        </li>
                                                        <li class='list-group-item borderless box-padding'
                                                            style='display: inline'>
                                                            <b>Status:</b>
                                                            <% if (resourceInfo[i].checkStatus === 'approve') { %>
                                                                <div class='alert alert-success'
                                                                     style='display: inline; padding: 0.25rem; margin-bottom: 0; position: relative; border: 1px solid transparent;'
                                                                     role='alert'>
                                                                    <b>Approved</b>
                                                                </div>
                                                                <br>
                                                                <br>
                                                            <% } %>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <% if (i !== 0) { %>
                                            <hr>
                                        <% } %>
                                    <% } %>
                                <% } else { %>
                                    No resource available yet
                                <% } %>
                            </div>
                        </div>
                    </div>
                <% } else { %>
                    <%- include('../components/component-loginToView'); -%>
                <% } %>
            </div>
        </div>
    </section>
</section>


<%- include('../components/footer'); -%>