<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<% let days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] %>

<script src="/js/daylightTime.js"></script>

<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                Schedule of Current ENACT Courses
            </div>
            <h3># course(s) in session: <b><i><%= courses.length %></i></b></h3>
            <h4>Current Timezone: <b><i id="fillMe"></i></b> (Course times have been adjusted according to your current timezone)
            </h4>
        </div>
    </div>
</section>

<!-- ENACT Program intro -->
<section class='section section__grey'>
    <div class='section__content section__content--fluid-width section__content--padding--small'>
        <div class="container">
            <div class="row"> 
                <% for (let p = 0; p < days.length; p++) { %>
                    <div class="col">
                        <h3><%= days[p] %></h3>
                    </div>
                <% } %>
            </div>
            <% for (let j = 0; j < courses.length; j++) { %>
                <div class="row">
                    <% for (let p = 0; p < days.length; p++) { %>
                        <div class="col">
                            <% for (let i = 0; i < courseTimes.length; i++) { %>
                                <% if (courseTimes[i].courseId.equals(courses[j]._id) && days[p] === courseTimes[i].day) { %>
                                    <div class='shadow-sm card-body'>
                                        <h5 style='display: inline'><%= courses[j].courseName %></h5>
                                        <br>
                                        
                                        <h5 style='display: inline'>
                                            <% if (courses[j].institutionURL.substring(0,4) !=='http') { %>
                                                <a href="https://<%= courses[j].institutionURL %>" target="_blank"><%= courses[j].institution %></a>
                                            <% } else{ %>
                                                <a href="<%= courses[j].institutionURL %>" target="_blank"><%= courses[j].institution %></a>
                                            <% } %>    
                                        </h5>
                                        <br>
                                        <h5 style='display: inline'><a
                                                    href="/profile/view/<%= courses[j].ownerId %>"><%= courses[j].instructor %></a>
                                        </h5>
                                        <br>
                                        <h5 style='display: inline'>Semester:</h5> <%= courses[j].year %>&nbsp; <%= courses[j].semester %>
                                        <br>
                                        <h5 style='display: inline'>State:</h5> <%= courses[j].state %>
                                        <br>
                                        <!--                                            do not change this!-->
                                        <h5 hidden class="timezoneStart" style='display: inline'><%= courses[j].timezone %>,<%= courseTimes[i].startTime %></h5>
                                        <h5 style='display: inline'>to</h5> <h5 hidden class="timezoneStart" style='display: inline'><%= courses[j].timezone %>,<%= courseTimes[i].endTime %></h5>
                                    </div>
                                    <br>
                                <% } %>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            <% } %>
        </div>
        <h4 style="text-align: center">Current Timezone: <b><i id="fillMe2"></i></b> (Course times have been adjusted according to your current timezone)
        </h4>
        <br>
        <h3 style="text-align: center">Past Courses in ENACT: <a href="/courses/pastList">Course List</a>
        </h3>
    </div>

</section>




<script>
    $(document).ready(function () {
        let n = new Date().getTimezoneOffset() / 60;
        // console.log(n);
        let timezone = '';
        if (new Date().isDstObserved()) {
            switch (n) {
                case 3:
                    timezone = 'US/Atlantic';
                    break;
                case 4:
                    timezone = 'US/Eastern';
                    break;
                case 5:
                    timezone = 'US/Central';
                    break;
                case 6:
                    timezone = 'US/Mountain';
                    break;
                case 7:
                    timezone = 'US/Pacific';
                    break;
                case 8:
                    timezone = 'US/Alaska';
                    break;
                case 9:
                    timezone = 'US/Hawaii‑Aleutian';
                    break;
            }
        } else {
            switch (n) {
                case 4:
                    timezone = 'US/Atlantic';
                    break;
                case 5:
                    timezone = 'US/Eastern';
                    break;
                case 6:
                    timezone = 'US/Central';
                    break;
                case 7:
                    timezone = 'US/Mountain';
                    break;
                case 8:
                    timezone = 'US/Pacific';
                    break;
                case 9:
                    timezone = 'US/Alaska';
                    break;
                case 10:
                    timezone = 'US/Hawaii‑Aleutian';
                    break;
            }
        }


        $('#fillMe').text(timezone);
        $('#fillMe2').text(timezone);
        $('.timezoneStart').each(function () {
            let tmzArray = $(this).text().split(',')
            let timezone = tmzArray[0]
            let time = tmzArray[1]
            let offset1 = 0;
            // console.log(typeof timezone)
            // console.log(timezone.trim().length)
            // console.log(timezone)
            // console.log('US/Eastern')
            switch (timezone) {
                case 'US/Atlantic':
                    offset1 = 3;
                    break;
                case 'US/Eastern':
                    offset1 = 4;
                    break;
                case 'US/Central':
                    offset1 = 5;
                    break;
                case 'US/Mountain':
                    offset1 = 6;
                    break;
                case 'US/Pacific':
                    offset1 = 7;
                    break;
                case 'US/Alaska':
                    offset1 = 8;
                    break;
                case 'US/Hawaii-Aleutian':
                    offset1 = 9;
                    break;
            }
            // console.log(n-offset1-1);
            // $(this).text((parseInt(time.split(':')[0]) + ( offset1 - n + 1) + 24) % 24 + ':' + time.split(':')[1])

            // corrected time after fixing the offset caused by timezones
            let correctedTime = ((parseInt(time.split(':')[0]) + ( offset1 - n + 1) + 24) % 24 + ':' + time.split(':')[1])
            
            // time after conversion of the 24 hour format to 12 hour format
            finalTime = parseInt(correctedTime.substring(0,2))
            if (finalTime == 12){ 
                finalTime = "12" + ":" + correctedTime.substring(3) + " PM"
            } else if (finalTime > 12){
                finalTime = parseInt(correctedTime.substring(0,2)) % 12 +":" + correctedTime.substring(3) + " PM"
            } else{
                singleDigit = String(parseInt(correctedTime.substring(0,2)) % 12).length == 1
                finalTime = singleDigit ? parseInt(correctedTime.substring(0,2)) % 12 + ":" + correctedTime.substring(2) + " AM" 
                : parseInt(correctedTime.substring(0,2)) % 12 + ":" + correctedTime.substring(3)   + " AM"         }
            
            $(this).text(finalTime)
            $(this).removeAttr('hidden')

            
        })
    });
</script>

<%- include('../components/footer'); -%>