<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<section class='section diagonal-gradient'>
    <div class='section__content section__content--full-width diagonal-gradient'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                Duplicate an existing course
            </div>
        </div>
    </div>
</section>

<section class='section section__grey' data-aos='fade-up'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-3 col-sm-12'></div>
            <div class='col-md-6 col-sm-12'>
                <% if (loggedIn) { %>
                    <form method='post' action='/course/copy/<%= courseInfo._id %>'>
                        <div class='input-group-prepend'>
                            <span class='input-group-text' style='width: 180px'>Course Name</span>
                            <input type='text' class='form-control' name='courseName'
                                   value="<%= courseInfo.courseName %>" placeholder='e.g. Brandeis ENACT'>
                        </div>
                        <br>
                        <div class='input-group-prepend'>
                            <span class='input-group-text' style='width: 180px'>Semester</span>
                            <input type='text' class='form-control' name='semester' placeholder='e.g. SPR2020'
                                   value="<%= courseInfo.semester %>">
                        </div>
                        <br>
                        <div class='input-group-prepend'>
                            <span class='input-group-text' style='width: 180px'>Institution</span>
                            <input type='text' class='form-control' name='institution'
                                   placeholder='e.g. Brandeis University' value="<%= courseInfo.institution %>">
                        </div>
                        <br>
                        <div class='input-group-prepend'>
                            <span class='input-group-text' style='width: 180px'>Year</span>
                            <input type='text' class='form-control' name='officeHour' placeholder='e.g. Mon 3pm - 5pm'
                                   value="<%= courseInfo.officeHour %>">
                        </div>
                        <br>
                        <div class='input-group-prepend'>
                            <span class='input-group-text' style='width: 180px'>Course Time</span>
                            <input type='text' class='form-control' name='officeHourLocation'
                                   placeholder='e.g. Volen 110' value="<%= courseInfo.officeHourLocation %>">
                        </div>
                        <br>
                        <div class='input-group-prepend'>
                            <span class='input-group-text' style='width: 180px'>Resources to copy</span>
                            <select id='stateSelect' class='form-control' name='resourcesToCopy'>
                                <option selected value='self'>Uploaded by me</option>
                                <option value='none'>Nothing</option>
                            </select>
                        </div>
                        <br>
                        <input type='submit' name='submit' class='btn btn-outline-dark' value='Save'>
                    </form>
                <% } else { %>
                    <%- include('../components/component-loginToView'); -%>
                <% } %>
            </div>
        </div>
    </div>
</section>

<%- include('../components/footer'); -%>
