<%- include('../components/header'); -%> <%- include('../components/navbar');
-%> <% let days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
'Saturday', 'Sunday'] %>

<script src="/js/daylightTime.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone-with-data.min.js"></script>

<section class="section">
  <div class="section__content section__content--full-width">
    <div class="jumbotron masthead text-center">
      <div class="section__title section__title--centered">
        Schedule of Current ENACT Courses
      </div>
      <h3>
        # course(s) in session: <b><i><%= courses.length %></i></b>
      </h3>
      <h4>
        Current Timezone: <b><i id="fillMe"></i></b> (Course times have been
        adjusted according to your current timezone)
      </h4>
    </div>
  </div>
</section>

<!-- ENACT Program intro -->
<section class="section section__grey">
  <div
    class="section__content section__content--fluid-width section__content--padding--small">
    <div class="container">
      <div class="row days-row">
        <% for (let p = 0; p < days.length; p++) { %>
        <div class="col">
          <h3><%= days[p] %></h3>
        </div>
        <% } %>
      </div>
      <% for (let j = 0; j < courses.length; j++) { %>
      <div class="row">
        <% for (let p = 0; p < days.length; p++) { %>
        <div class="col">
          <% for (let i = 0; i < courseTimes.length; i++) { %> <% if
          (courseTimes[i].courseId.equals(courses[j]._id) && days[p] ===
          courseTimes[i].day) { %>
          <div class="shadow-sm card-body">
            <h5 style="display: inline"><%= courses[j].courseName %></h5>
            <br />

            <br />
            <h5 style="display: inline">
              <a href="/profile/view/<%= courses[j].ownerId %>"
                ><%= courses[j].instructor %></a
              >
            </h5>
            <br />
            <h5 style="display: inline">Semester:</h5>
            <%= courses[j].year %>&nbsp; <%= courses[j].semester %>
            <br />
            <h5 style="display: inline">State:</h5>
            <%= courses[j].state %>
            <br />
            <!--                                            do not change this!-->
            <h5 hidden class="timezoneStart" style="display: inline">
              <%= courses[j].timezone %>,<%= courseTimes[i].startTime %>
            </h5>
            <h5 style="display: inline">to</h5>
            <h5 hidden class="timezoneStart" style="display: inline">
              <%= courses[j].timezone %>,<%= courseTimes[i].endTime %>
            </h5>
          </div>
          <br />
          <% } %> <% } %>
        </div>
        <% } %>
      </div>
      <% } %>
    </div>
    <h4 style="text-align: center">
      Current Timezone: <b><i id="fillMe2"></i></b> (Course times have been
      adjusted according to your current timezone)
    </h4>
    <br />
      <!-- New section for list-view of courses -->
      <section class="section__title--centered">
        <div class="section__content section__content--fluid-width">
          <h4 class="text-align: center-fluid">List of Current ENACT Asynchronous/TBD Courses</h4>
          <div class="list-group">
            <% courses.forEach(function(course) { %>
              
              <% if (course.asynchronous || course.undecided) { %>
                <div class="list-group-item">
                  <h5 class="mb-1"><%= course.courseName %></h5>
                  <p class="mb-1">Instructor: <%= course.instructor %></p>
                  <p class="mb-1">Institution: <%= course.institution %></p>
                  <p class="mb-1">State: <%= course.state%></p>
                  <small>
                    <% if (course.asynchronous) { %>
                      <p>This course is asynchronous.</p>
                    <% } else if (course.undecided) { %>
                      <p>Meeting times for this course are to be determined.</p>
                    <% } %>
                  </small>
                </div>
              <% } %>
      
            <% }) %>
          </div>
        </div>
      </section>

    </h4>
    <br />
    <h3 style="text-align: center">
      ENACT Courses From Other Semesters: <a href="/courses/pastList">Course List</a>
    </h3>
  </div>
</section>

<script>
  $(document).ready(function () {
    $(document).ready(function () {
      // Use moment-timezone library to get user's timezone offset
      const userTimezone = moment.tz.guess();
      const userOffset = moment.tz(userTimezone).utcOffset();
    
      $(".timezoneStart").each(function () {
        const courseTimezone = $(this).text().split(",")[0].trim();
        const courseTime = $(this).text().split(",")[1].trim();
        const courseOffset = moment.tz(courseTimezone).utcOffset();
    
        // Convert course time to user's local time
        let localTime = moment.tz(courseTime, "HH:mm", courseTimezone)
                        .add(userOffset - courseOffset, 'minutes')
                        .format('hh:mm A');
    
        $(this).text(localTime);
        $(this).removeAttr("hidden");
      });
    
      // Update current timezone display
      $("#fillMe, #fillMe2").text(userTimezone);
    });
    
  });
</script>

<%- include('../components/footer'); -%>
