<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                Course Management
            </div>
        </div>
    </div>
</section>

<section class='section section__grey' data-aos='fade-up'>
    <div class='section__content section__content--fluid-width'>
        <div class='container'>
            <div class='row'>
                <div class='col-md-2 col-sm-12 text-center'></div>
                <div class='col-md-8 col-sm-12'>

                    <% if (hasFullAccess) { %>
                        <h3 class="text-center">Manage All Courses</h3>
                    <% } else if (userStatus === 'student') { %>
                        <h3 class="text-center">View Your Enrolled Courses</h3>
                    <% } else { %>
                        <h3 class="text-center">Manage Your Courses</h3>
                    <% } %>

                    <table class='table table-striped'>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Year</th>
                                <th>Semester</th>
                                <th>Instructor</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (courses && courses.length > 0) { %>
                                <% courses.forEach(course => { %>
                                    <tr>
                                        <td><a href='/course/view/<%= course._id %>/10'><%= course.courseName %></a></td>
                                        <td><%= course.year %></td>
                                        <td><%= course.semester %></td>
                                        <td><%= course.instructor %></td>
                                        <td>
                                            <% if (hasFullAccess || course.ownerId.toString() === userId) { %>
                                                <a href="/course/update/<%= course._id %>" class="btn btn-outline-primary btn-sm d-block mb-2">Edit</a>
                                                <a href="#" data-toggle='modal' data-target='#deleteModal<%= course._id %>' class="btn btn-outline-primary btn-sm d-block mb-2">Delete</a>
                                                <a href="/course/copy/<%= course._id %>" class="btn btn-outline-primary btn-sm d-block mb-2">Copy</a>
                                            <% }     else if (userStatus === 'student') { %>
                                                <a href="/course/view/<%= course._id %>/10" class="btn btn-outline-primary btn-sm d-block mb-2">View</a>
                                            <% } %>
                                        </td>
                                    </tr>
                                <% }); %>
                            <% } else { %>
                                <tr>
                                    <td colspan="5" class="text-center">No courses available to display.</td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>

                    <% if (courses && courses.length > 0) { %>
                        <% courses.forEach(course => { %>
                            <!-- Modal -->
                            <div class='modal fade' id='deleteModal<%= course._id %>' tabindex='-1' role='dialog'
                                 aria-labelledby='exampleModalLabel' aria-hidden='true'>
                                <div class='modal-dialog modal-lg' role='document'>
                                    <div class='modal-content'>
                                        <div class='modal-header'>
                                            <h5 class='modal-title' id='exampleModalLabel'>Delete?</h5>
                                            <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                                                <span aria-hidden='true'>&times;</span>
                                            </button>
                                        </div>
                                        <div class='modal-body'>
                                            <div class='row'>
                                                <div class='col-md-12 col-sm-12'>
                                                    <h4>Are you sure you want to delete this course permanently?</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='modal-footer'>
                                            <form method='post' action='/course/delete/<%= course._id %>'>
                                                <input type='submit' name='submit' class='btn btn-outline-danger' value='Delete'>
                                            </form>
                                            <button type='button' id='closeBtn' class='btn btn-outline-secondary' data-dismiss='modal'>
                                                Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    <% } %>

                </div>
            </div>
        </div>
    </div>
</section>

<%- include('../components/footer'); -%>
