<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>
<%- include('../components/component-eventImport') -%>

<% let id_set = []; %>

<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                Latest Events & On-going Courses
            </div>
            <h3>There are <b><i><%= futureEventsInfo.length %></i></b> upcoming events</h3>
            <h3>There are <b><i><%= courses.length - 1 %></i></b> courses in session</h3>
        </div>
    </div>
</section>

<section class='section section__grey'>
    <section class='section__content section__content--fluid-width'>
        <div class='container'>
            <div class='row'>
                <div class='col-md-12 col-sm-12'>
                    <h3><b>Upcoming events</b></h3>
                    <hr style="border-top: 1px solid black;">
                    <% if (futureEventsInfo && futureEventsInfo.length !== 0) { %>
                        <% for (let i = 0; i < futureEventsInfo.length; i++) { %>
                            <div class='card border-0' style="border-radius: 30px">
                                <div class='card-body'>
                                    <h4><%= futureEventsInfo[i].title %></h4>
                                    <div class='card-text'>
                                        <ul class='list-group'>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>Description: </b> <%= futureEventsInfo[i].description %>
                                            </li>
                                            <% if (futureEventsInfo[i].start !== null) { %>
                                                <li class='list-group-item borderless box-padding'>
                                                    <b style="display: inline">Starts at:</b>
                                                    <p style="display: inline"
                                                       class="TZChange"><%= futureEventsInfo[i].start %></p>
                                                </li>
                                            <% } %>
                                            <% if (futureEventsInfo[i].end !== null) { %>
                                                <li class='list-group-item borderless box-padding'>
                                                    <b style="display: inline">Ends at:</b>
                                                    <p style="display: inline"
                                                       class="TZChange"><%= futureEventsInfo[i].end %></p>
                                                </li>
                                            <% } %>
                                            <% if (futureEventsInfo[i].uri !== null) { %>
                                                <li class='list-group-item borderless box-padding'>
                                                    <b>Link: </b> <a
                                                            href="<%= futureEventsInfo[i].uri %>"><%= futureEventsInfo[i].uri %></a>
                                                </li>
                                            <% } %>

                                            <% if ((status === 'admin' || status === 'faculty') && futureEventsInfo[i].visibility !== null) { %>
                                                <li class='list-group-item borderless box-padding'>
                                                    <b>Visibility: </b><%= futureEventsInfo[i].visibility %>
                                                </li>
                                            <% } %>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <% if (i !== futureEventsInfo.length - 1) { %>
                                <br>
                            <% } %>
                        <% } %>
                    <% } else { %>
                        <div class='text-center partners__text'>
                            <h3>No upcoming events</h3>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </section>
</section>

<section class='section section__grey'>
    <section class='section__content section__content--fluid-width'>
        <div class='container'>
            <div class='row'>
                <div class='col-md-12 col-sm-12'>
                    <h3><b>Past events</b></h3>
                    <hr style="border-top: 1px solid black;">

                    <% if (pastEventsInfo && pastEventsInfo.length !== 0) { %>
                        <% for (let i = 0; i < pastEventsInfo.length; i++) { %>
                            <div class='card border-0' style="border-radius: 30px">
                                <div class='card-body'>
                                    <h4><%= pastEventsInfo[i].title %></h4>
                                    <div class='card-text'>
                                        <ul class='list-group'>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>Description: </b> <%= pastEventsInfo[i].description %>
                                            </li>
                                            <% if (pastEventsInfo[i].start !== null) { %>
                                                <li class='list-group-item borderless box-padding'>
                                                    <b style="display: inline">Starts at:</b>
                                                    <p style="display: inline"
                                                       class="TZChange"><%= pastEventsInfo[i].start %></p>
                                                </li>
                                            <% } %>
                                            <% if (pastEventsInfo[i].end !== null) { %>
                                                <li class='list-group-item borderless box-padding'>
                                                    <b style="display: inline">Ends at:</b>
                                                    <p style="display: inline"
                                                       class="TZChange"><%= pastEventsInfo[i].end %></p>
                                                </li>
                                            <% } %>
                                            <% if (pastEventsInfo[i].uri !== null) { %>
                                                <li class='list-group-item borderless box-padding'>
                                                    <b>Link: </b> <a
                                                            href="<%= pastEventsInfo[i].uri %>"><%= pastEventsInfo[i].uri %></a>
                                                </li>
                                            <% } %>
                                            <% if ((status === 'admin' || status === 'faculty') && pastEventsInfo[i].visibility !== null) { %>
                                                <li class='list-group-item borderless box-padding'>
                                                    <b>Visibility: </b><%= pastEventsInfo[i].visibility %>
                                                </li>
                                            <% } %>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <% if (i !== pastEventsInfo.length - 1) { %>
                                <br>
                            <% } %>
                        <% } %>
                    <% } else { %>
                        <div class='text-center partners__text'>
                            <h3>No past events</h3>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </section>
</section>

<% let days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] %>
<!-- ENACT Program intro -->
<section class='section section__grey'>
    <div class='section__content section__content--fluid-width section__content--padding--small'>
        <div class="container">
            <h3><b>Courses in session</b></h3>
            <hr style="border-top: 1px solid black;">

            <div class="row">
                <% for (let p = 0; p < days.length; p++) { %>
                    <div class="col">
                        <h3><%= days[p] %></h3>
                        <hr style="border-top: 5px solid black;">
                        <% for (let i = 0; i < courseTimes.length; i++) { %>
                            <% for (let j = 0; j < courses.length; j++) { %>
                                <% if (courseTimes[i].courseId.equals(courses[j]._id) && days[p] === courseTimes[i].day) { %>
                                    <div class='card'>
                                        <div class='card-body'>
                                            <h5 style='display: inline'><b><%= courses[j].courseName %></b></h5>
                                            <br>
                                            <h5 style='display: inline'><%= courses[j].institution %></h5>
                                            <br>
                                            <h5 style='display: inline'><b><%= courses[j].instructor %></b></h5>
                                            <br>
                                            <h5 style='display: inline'>State: <%= courses[j].state %></h5>
                                            <br>
                                            <h5 hidden class="timezoneStart"
                                                style='display: inline'><%= courses[j].timezone %>
                                                ,<%= courseTimes[i].startTime %></h5>
                                            <h5 style='display: inline'>to</h5>
                                            <h5 hidden class="timezoneStart"
                                                style='display: inline'><%= courses[j].timezone %>
                                                ,<%= courseTimes[i].endTime %></h5>
                                        </div>
                                    </div>
                                    <hr>
                                <% } %>
                            <% } %>
                        <% } %>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        let n = new Date().getTimezoneOffset() / 60;
        let timezone = '';
        switch (n) {
            case 4:
                timezone = 'US/Atlantic';
                break;
            case 5:
                timezone = 'US/Eastern';
                break;
            case 6:
                timezone = 'US/Central';
                break;
            case 7:
                timezone = 'US/Mountain';
                break;
            case 8:
                timezone = 'US/Pacific';
                break;
            case 9:
                timezone = 'US/Alaska';
                break;
            case 10:
                timezone = 'US/Hawaii‑Aleutian';
                break;
        }
        let offset = 0;
        switch (timezone) {
            case 'US/Atlantic':
                offset = 4;
                break;
            case 'US/Eastern':
                offset = 5;
                break;
            case 'US/Central':
                offset = 6;
                break;
            case 'US/Mountain':
                offset = 7;
                break;
            case 'US/Pacific':
                offset = 8;
                break;
            case 'US/Alaska':
                offset = 9;
                break;
            case 'US/Hawaii‑Aleutian':
                offset = 10;
                break;
        }
        $('#fillMe').text(timezone);
        $('.timezoneStart').each(function () {
            let tmzArray = $(this).text().split(',')
            let timezone = tmzArray[0]
            let time = tmzArray[1]
            let offset = 0;
            switch (timezone) {
                case 'US/Atlantic':
                    offset = 4;
                    break;
                case 'US/Eastern':
                    offset = 5;
                    break;
                case 'US/Central':
                    offset = 6;
                    break;
                case 'US/Mountain':
                    offset = 7;
                    break;
                case 'US/Pacific':
                    offset = 8;
                    break;
                case 'US/Alaska':
                    offset = 9;
                    break;
                case 'US/Hawaii‑Aleutian':
                    offset = 10;
                    break;
            }
            $(this).text((parseInt(time.split(':')[0]) + (n - offset) + 24) % 24 + ':' + time.split(':')[1])
            $(this).removeAttr('hidden')
        })
    });
</script>

<script>
    $(document).ready(function () {
            $(".TZChange").each(function () {
                let oldDate = $(this).text()
                let newDate = new Date(oldDate)
                $(this).text(newDate)
            })
        }
    )

    function showAddModal() {
        $("#modal-view-event-add").modal()
    }
</script>

<%- include('../components/footer'); -%>
