<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<% let id_set = []; %>
<script src="/js/daylightTime.js"></script>

<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                Latest Events
            </div>
            <h3># upcoming event(s): <b><i><%= futureEventsInfo.length %></i></b></h3>
            <h3># course(s) in session: <b><i><%= courses.length  %></i></b></h3>
            <h4>Current Timezone: <b><i id="fillMe"></i></b> (times have been adjusted according to your current timezone)
            </h4>
            <button class="btn btn-primary" id="scrollMe">See current courses</button>
        </div>
    </div>
</section>

<section class='section section__grey'>
    <section class='section__content section__content--fluid-width'>
        <div class='container'>
            <div class='row'>
                <div class='col-md-12 col-sm-12'>
                    <h3>Upcoming events</h3>
                    <hr>
                    <% if (futureEventsInfo && futureEventsInfo.length !== 0) { %>
                        <% for (let i = 0; i < futureEventsInfo.length; i++) { %>
                            <div class='card border-0' style="border-radius: 30px">
                                <div class='shadow-sm card-body' id="future">
                                    <h3 style="margin-bottom: 10px"><%= futureEventsInfo[i].title %></h3>
                                    <div class='card-text'>
                                        <ul class='list-group'>
                                            <li class='list-group-item borderless box-padding bg-transparent' style="font-size: large">
                                                <div class="row">
                                                    <div class="col-md-9 col-sm-12" style="display: inline">
                                                        <h5 style="display: inline; font-weight: 650">Description:</h5>
                                                        <%= futureEventsInfo[i].description %>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12 align-self-center"><img
                                                                class="rounded-lg"
                                                        <% if (!futureEventsInfo[i].imageURL) { %>
                                                                src="/images/enact-logo.webp"
                                                        <% } else { %>
                                                                src="<%= futureEventsInfo[i].imageURL %>"
                                                                <% } %>
                                                                style="height: auto; max-width: 100%"></div>
                                                </div>
                                            </li>
                                            <% if (futureEventsInfo[i].start !== null && futureEventsInfo[i].end !== null) { %>
                                                <li class='list-group-item borderless box-padding bg-transparent'
                                                    style="font-size: large">
                                                    <h5 style="display: inline; font-weight: 650">Date: </h5>
                                                    <p style="display: inline" class="TZChange"><%= futureEventsInfo[i].start.toISOString().split('T')[0] %></p>  
                                                </li>
                                                <li class='list-group-item borderless box-padding bg-transparent' style="font-size: large">
                                                    <h5 style="display: inline; font-weight: 650">Start time: </h5>
                                                    <p style="display: inline;" class="TZChange1"><%= futureEventsInfo[i].start %></p>
                                                  </li>
                                                  <li class='list-group-item borderless box-padding bg-transparent' style="font-size: large">
                                                    <h5 style="display: inline; font-weight: 650">End time: </h5>
                                                    <p style="display: inline;" class="TZChange1"><%= futureEventsInfo[i].end %></p>
                                                  </li>
                                            <% } %>
                                            <% if (futureEventsInfo[i].uri !== null) { %>
                                                <li class='list-group-item borderless box-padding bg-transparent'
                                                    style="font-size: large">
                                                    <h5 style="display: inline; font-weight: 650">Event Link:</h5>
                                                    <a href="<%= futureEventsInfo[i].uri %>">click me</a>
                                                </li>
                                            <% } %>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <% if (i !== futureEventsInfo.length - 1) { %>
                                <br>
                            <% } %>
                        <% } %>
                    <% } else { %>
                        <div class='text-center partners__text'>
                            <h3>No upcoming events</h3>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </section>
</section>

<section class='section section__grey'>
    <section class='section__content section__content--fluid-width'>
        <div class='container'>
            <div class='row'>
                <div class='col-md-12 col-sm-12'>
                    <h3>Past events</h3>
                    <hr>
                    <% if (pastEventsInfo && pastEventsInfo.length !== 0) { %>
                        <% for (let i = 0; i < pastEventsInfo.length; i++) { %>
                            <div class='card border-0' style="border-radius: 30px">
                                <div class='shadow-sm card-body' id="past">
                                    <h3 style="margin-bottom: 10px"><%= pastEventsInfo[i].title %></h3>
                                    <div class='card-text'>
                                        <ul class='list-group'>
                                            <li class='list-group-item borderless box-padding bg-transparent' style="font-size: large">
                                                <div class="row">
                                                    <div class="col-md-9 col-sm-12" style="display: inline">
                                                        <h5 style="display: inline; font-weight: 650">Description:</h5>
                                                        <%= pastEventsInfo[i].description %>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12 align-self-center"><img
                                                                class="rounded-lg"
                                                        <% if (!pastEventsInfo[i].imageURL) { %>
                                                                src="/images/enact-logo.webp"
                                                        <% } else { %>
                                                                src="<%= pastEventsInfo[i].imageURL %>"
                                                                <% } %>
                                                                style="height: auto; max-width: 100%"></div>
                                                </div>
                                            </li>
                                            <% if (pastEventsInfo[i].start !== null && pastEventsInfo[i].end !== null) { %>
                                              <li class="list-group-item borderless box-padding bg-transparent" style="font-size: large">
                                                <h5 style="display: inline; font-weight: 650">Date:</h5>
                                                <p style="display: inline" class="TZChange">
                                                  <%= pastEventsInfo[i].start.toISOString().split('T')[0] %>
                                                </p>
                                            </li>
                                            <li
                                            class="list-group-item borderless box-padding bg-transparent"
                                            style="font-size: large">
                                            <h5 style="display: inline; font-weight: 650">
                                              Start time:
                                            </h5>
                                            <p style="display: inline" class="TZChange1">
                                              <%= pastEventsInfo[i].start %>
                                            </p>
                                          </li>
                                          <li
                                            class="list-group-item borderless box-padding bg-transparent"
                                            style="font-size: large">
                                            <h5 style="display: inline; font-weight: 650">End time:</h5>
                                            <p style="display: inline" class="TZChange1">
                                              <%= pastEventsInfo[i].end %>
                                            </p>
                                          </li>
                                            <% } %>
                                            <% if (pastEventsInfo[i].uri !== null) { %>
                                                <li class='list-group-item borderless box-padding bg-transparent'
                                                    style="font-size: large">
                                                    <h5 style="display: inline; font-weight: 650">Event Link:</h5>
                                                    <a href="<%= pastEventsInfo[i].uri %>">click me</a>
                                                </li>
                                            <% } %>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <% if (i !== pastEventsInfo.length - 1) { %>
                                <br>
                            <% } %>
                        <% } %>
                    <% } else { %>
                        <div class='text-center partners__text'>
                            <div class="card-body">
                                No past events
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </section>
</section>

<section class='section' id="ongoing_courses">
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                ENACT On-going Courses
            </div>
        </div>
    </div>
</section>

<% let days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] %>
<!-- ENACT Program intro -->
<section class='section section__grey'>
    <div class='section__content section__content--fluid-width section__content--padding--small'>
        <div class="container">
            <div class="row"> 
                <% for (let p = 0; p < days.length; p++) { %>
                    <div class="col">
                        <h3><%= days[p] %></h3>
                    </div>
                <% } %>
            </div>
            <% for (let j = 0; j < courses.length; j++) { %>
                <div class="row">
                    <% for (let p = 0; p < days.length; p++) { %>
                        <div class="col">
                            <% for (let i = 0; i < courseTimes.length; i++) { %>
                                <% if (courseTimes[i].courseId.equals(courses[j]._id) && days[p] === courseTimes[i].day) { %>
                                    <div class='shadow-sm card-body'>
                                        <h5 style='display: inline'><%= courses[j].courseName %></h5>
                                        <br>
                                        <h5 style='display: inline'><a
                                                    href="<%= courses[j].institutionURL %>"><%= courses[j].institution %></a>
                                        </h5>
                                        <br>
                                        <h5 style='display: inline'><a
                                                    href="/profile/view/<%= courses[j].ownerId %>"><%= courses[j].instructor %></a>
                                        </h5>
                                        <br>
                                        <h5 style='display: inline'>Semester:</h5> <%= courses[j].year %>&nbsp; <%= courses[j].semester %>
                                        <br>
                                        <h5 style='display: inline'>State:</h5> <%= courses[j].state %>
                                        <br>
                                        <!--                                            do not change this!-->
                                        <h5 hidden class="timezoneStart" style='display: inline'><%= courses[j].timezone %>,<%= courseTimes[i].startTime %></h5>
                                        <h5 style='display: inline'>to</h5> <h5 hidden class="timezoneStart" style='display: inline'><%= courses[j].timezone %>,<%= courseTimes[i].endTime %></h5>
                                    </div>
                                    <br>
                                <% } %>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            <% } %>
        </div>
        <h4 style="text-align: center">Current Timezone: <b><i id="fillMe2"></i></b> (Course times have been adjusted according to your current timezone)
        </h4>
    </div>

</section>


<p hidden id='idSet'><%= id_set %></p>
<script>
    $(document).ready(function () {
    let timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
    $("#fillMe").text(timezone);

    $(".TZTZ").each(function () {
        $(this).val(new Date().getTimezoneOffset());
    });

    // Format only the date (YYYY-MM-DD) for `.TZChange`
    $(".TZChange").each(function () {
        let oldDate = $(this).text().trim();
        if (!oldDate) return;

        let newDate = new Date(oldDate);
        if (isNaN(newDate)) return; // Ensure valid date

        let formattedDate = new Intl.DateTimeFormat('en-US', {
            year: "numeric",
            month: "numeric",
            day: "numeric",
            timeZone: timezone
        }).format(newDate);

        $(this).text(formattedDate);
    });

    // Format time separately in AM/PM for `.TZChange1`
    $(".TZChange1").each(function () {
        let oldDate = $(this).text().trim();
        if (!oldDate) return;

        let newDate = new Date(oldDate);
        if (isNaN(newDate)) return;

        let formattedTime = new Intl.DateTimeFormat('en-US', {
            hour: "2-digit",
            minute: "2-digit",
            hour12: true,
            timeZone: timezone
        }).format(newDate);

        $(this).text(formattedTime);
    });
});


    function showAddModal() {
        $("#modal-view-event-add").modal()
    }

    function reminderSent() {
        let proceed = confirm("Are you sure you want to notify the participants?");
        if (proceed) {
            alert("Emails have been sent successfully.");
        } else {
            e.preventDefault();
        }
    } 
</script>


<%- include('../components/footer'); -%>
