<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>
<%- include('../components/component-eventImport') -%>

<% let id_set = []; %>

<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                Latest Events
            </div>
            <h4>Current Timezone: <b><i id="fillMe"></i></b> (Event times have been adjusted according to timezone)
                <% if (loggedIn && (status === 'admin' || status === 'faculty')) { %>
                    <br><br>
                    <button class="btn btn-primary" onclick="showAddModal()">Add a New Event</button>
                <% } %>
            </h4>
        </div>
    </div>
</section>

<section class='section section__grey'>
    <section class='section__content section__content--fluid-width'>
        <div class='container'>
            <div class='row'>
                <div class='col-md-12 col-sm-12'>
                    <h3>Upcoming events</h3>
                    <hr>
                    <% if (futureEventsInfo && futureEventsInfo.length !== 0) { %>
                        <% for (let i = 0; i < futureEventsInfo.length; i++) { %>
                            <% if (loggedIn || futureEventsInfo[i].visibility === 'public') { %>
                                <div class='card border-0' style="border-radius: 30px">
                                    <div class='shadow-sm card-body'>
                                        <h3 style="margin-bottom: 12px"><%= futureEventsInfo[i].title %></h3>
                                        <div class='card-text'>
                                            <ul class='list-group'>
                                                <li class='list-group-item borderless box-padding'
                                                    style="font-size: large">
                                                    <div class="row">
                                                        <div class="col-10" style="display: inline">
                                                            <h5 style="display: inline; font-weight: 650">Description:</h5>
                                                            <%= futureEventsInfo[i].description %>
                                                        </div>
                                                        <div class="col-2"><img
                                                            <% if (!futureEventsInfo[i].imageURL) { %>
                                                                src="https://www.brandeis.edu/ethics/images/enact/enactlogo.jpg"
                                                            <% } else { %>
                                                                src="<%= futureEventsInfo[i].imageURL %>"
                                                                    <% } %>
                                                                style="height: auto; max-width: 100%"></div>
                                                    </div>
                                                </li>
                                                <% if (futureEventsInfo[i].start !== null && futureEventsInfo[i].end !== null) { %>
                                                    <li class='list-group-item borderless box-padding'
                                                        style="font-size: large">
                                                        <h5 style="display: inline; font-weight: 650">Date:</h5>
                                                        <p style="display: inline"
                                                           class="TZChange"><%= futureEventsInfo[i].start %></p>
                                                    </li>
                                                    <!--                                                    <li class='list-group-item borderless box-padding'-->
                                                    <!--                                                        style="font-size: large">-->
                                                    <!--                                                        <h5 style="display: inline; font-weight: 650">End date:</h5>-->
                                                    <!--                                                        <p style="display: inline"-->
                                                    <!--                                                           class="TZChange"><%= futureEventsInfo[i].end %></p>-->
                                                    <!--                                                    </li>-->
                                                    <li class='list-group-item borderless box-padding'
                                                        style="font-size: large">
                                                        <h5 style="display: inline; font-weight: 650">Start time:</h5>
                                                        <p style="display: inline"
                                                           class="TZChange1"><%= futureEventsInfo[i].start %></p>
                                                    </li>
                                                    <li class='list-group-item borderless box-padding'
                                                        style="font-size: large">
                                                        <h5 style="display: inline; font-weight: 650">End time:</h5>
                                                        <p style="display: inline"
                                                           class="TZChange1"><%= futureEventsInfo[i].end %></p>
                                                    </li>
                                                <% } %>
                                                <% if (futureEventsInfo[i].uri !== null) { %>
                                                    <li class='list-group-item borderless box-padding'
                                                        style="font-size: large">
                                                        <h5 style="display: inline; font-weight: 650">Link:</h5>
                                                        <a href="<%= futureEventsInfo[i].uri %>">click me</a>
                                                    </li>
                                                <% } %>
                                                <% if ((status === 'admin' || status === 'faculty') && futureEventsInfo[i].visibility !== null) { %>
                                                    <li class='list-group-item borderless box-padding'
                                                        style="font-size: large">
                                                        <h5 style="display: inline; font-weight: 650">
                                                            Visibility:</h5> <%= futureEventsInfo[i].visibility %>
                                                    </li>
                                                <% } %>
                                                <% if (loggedIn && (status === 'admin' || status === 'faculty')) { %>
                                                    <li class='list-group-item borderless box-padding'
                                                        style="display: inline">
                                                        <h5 style="display: inline; font-weight: 650">Actions:</h5>
                                                        <button type='button'
                                                                class='btn btn-sm btn-outline-info'

                                                                data-toggle='modal'
                                                                data-target='#editModal<%= futureEventsInfo[i]._id %>'>
                                                            Edit
                                                        </button>
                                                        <a class="btn btn-outline-info"
                                                           href="/event/image/update/<%= futureEventsInfo[i]._id %>">Update event image</a>
                                                        <button type='button'
                                                                class='btn btn-sm btn-outline-warning'

                                                                data-toggle='modal'
                                                                data-target='#deleteModal<%= futureEventsInfo[i]._id %>'>
                                                            Delete
                                                        </button>
                                                    </li>
                                                <% } %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <% if (i !== futureEventsInfo.length - 1) { %>
                                    <br>
                                <% } %>
                            <% } %>
                        <% } %>
                    <% } else { %>
                        <div class='text-center partners__text'>
                            <h3>No upcoming events</h3>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </section>
</section>

<section class='section section__grey'>
    <section class='section__content section__content--fluid-width'>
        <div class='container'>
            <div class='row'>
                <div class='col-md-12 col-sm-12'>
                    <h3>Past events</h3>
                    <hr>
                    <% if (pastEventsInfo && pastEventsInfo.length !== 0) { %>
                        <% for (let i = 0; i < pastEventsInfo.length; i++) { %>
                            <% if (loggedIn || pastEventsInfo[i].visibility === 'public') { %>
                                <div class='card border-0' style="border-radius: 30px">
                                    <div class='shadow-sm card-body'>
                                        <h3 style="margin-bottom: 12px"><%= pastEventsInfo[i].title %></h3>
                                        <div class='card-text'>
                                            <ul class='list-group'>
                                                <li class='list-group-item borderless box-padding'
                                                    style="font-size: large">
                                                    <div class="row">
                                                        <div class="col-10" style="display: inline">
                                                            <h5 style="display: inline; font-weight: 650">Description:</h5>
                                                            <%= pastEventsInfo[i].description %>
                                                        </div>
                                                        <div class="col-2"><img
                                                            <% if (!pastEventsInfo[i].imageURL) { %>
                                                                src="https://www.brandeis.edu/ethics/images/enact/enactlogo.jpg"
                                                            <% } else { %>
                                                                src="<%= pastEventsInfo[i].imageURL %>"
                                                                    <% } %>
                                                                style="height: auto; max-width: 100%"></div>
                                                    </div>
                                                </li>
                                                <% if (pastEventsInfo[i].start !== null && pastEventsInfo[i].end !== null) { %>
                                                    <li class='list-group-item borderless box-padding'
                                                        style="font-size: large">
                                                        <h5 style="display: inline; font-weight: 650">Date: </h5>
                                                        <p style="display: inline"
                                                           class="TZChange"><%= pastEventsInfo[i].start %></p>
                                                    </li>
                                                    <li class='list-group-item borderless box-padding'
                                                        style="font-size: large">
                                                        <h5 style="display: inline; font-weight: 650">Start time: </h5>
                                                        <p style="display: inline;"
                                                           class="TZChange1"><%= pastEventsInfo[i].start %></p>
                                                    </li>
                                                    <li class='list-group-item borderless box-padding'
                                                        style="font-size: large">
                                                        <h5 style="display: inline; font-weight: 650">End time: </h5>
                                                        <p style="display: inline;"
                                                           class="TZChange1"><%= pastEventsInfo[i].end %></p>
                                                    </li>
                                                <% } %>
                                                <% if (pastEventsInfo[i].uri !== null) { %>
                                                    <li class='list-group-item borderless box-padding'
                                                        style="font-size: large">
                                                        <h5 style="display: inline; font-weight: 650">Link:</h5> <a
                                                                href="<%= pastEventsInfo[i].uri %>">click me</a>
                                                    </li>
                                                <% } %>
                                                <% if ((status === 'admin' || status === 'faculty') && pastEventsInfo[i].visibility !== null) { %>
                                                    <li class='list-group-item borderless box-padding'
                                                        style="font-size: large">
                                                        <h5 style="display: inline; font-weight: 650">
                                                            Visibility:</h5> <%= pastEventsInfo[i].visibility %>
                                                    </li>
                                                <% } %>

                                                <% if (loggedIn && (status === 'admin' || status === 'faculty')) { %>
                                                    <li class='list-group-item borderless box-padding'
                                                        style="display: inline">
                                                        <h5 style="display: inline; font-weight: 650">Actions:</h5>
                                                        <button type='button'
                                                                class='btn btn-sm btn-outline-info'
                                                                data-toggle='modal'
                                                                data-target='#editModal<%= pastEventsInfo[i]._id %>'>
                                                            Edit
                                                        </button>
                                                        <a class="btn btn-outline-info"
                                                           href="/event/image/update/<%= pastEventsInfo[i]._id %>">Update event image</a>
                                                        <button type='button'
                                                                class='btn btn-sm btn-outline-warning'
                                                                data-toggle='modal'
                                                                data-target='#deleteModal<%= pastEventsInfo[i]._id %>'>
                                                            Delete
                                                        </button>
                                                    </li>
                                                <% } %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <% if (i !== pastEventsInfo.length - 1) { %>
                                    <br>
                                <% } %>
                            <% } %>
                        <% } %>
                    <% } else { %>
                        <div class='text-center partners__text'>
                            <h3>No past events</h3>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </section>
</section>

<div id="modal-view-event-add" class="modal modal-top fade calendar-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action='/event/save' method='post' id="add-event">
                <div class="modal-body">
                    <h4 class="text-blue h4 mb-10">Add Event Detail</h4>
                    <div class="form-group">
                        <label>Event name</label>
                        <input type="text" class="form-control" name="title">
                    </div>
                    <div class="form-group">
                        <label>Start Time</label>
                        <input readonly autocomplete="off" type='text'
                               class="datetimepicker form-control" name="start">
                    </div>
                    <div class="form-group">
                        <label>End Time</label>
                        <input readonly autocomplete="off" type='text'
                               class="datetimepicker form-control" name="end">
                    </div>
                    <div class="form-group">
                        <label>Event Description</label>
                        <textarea class="form-control" name="description"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Visibility</label>
                        <select class="form-control" name="visibility">
                            <option value="public">Open to public</option>
                            <option value="member">Open to ENACT members only</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Event Link</label>
                        <input type="text" class="form-control" name="uri">
                    </div>
                </div>
                <input hidden type="text" class="form-control TZTZ" name="TZ">
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save & Notify all ENACT Faculty Fellows</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<% if (futureEventsInfo.length !== 0) { %>
    <% for (let i = 0; i < futureEventsInfo.length; i++) { %>
        <div class='modal fade' id='deleteModal<%= futureEventsInfo[i]._id %>' tabindex='-1' role='dialog'
             aria-labelledby='exampleModalLabel'
             aria-hidden='true'>
            <div class='modal-dialog modal-lg' role='document'>
                <div class='modal-content'>
                    <div class='modal-header'>
                        <h5 class='modal-title' id='exampleModalLabel'>Delete?</h5>
                        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                            <span aria-hidden='true'>&times;</span>
                        </button>
                    </div>
                    <div class='modal-body'>
                        <div class='row'>
                            <div class='col-md-12 col-sm-12'>
                                <h4>Are you sure you want to delete this event permanently?</h4>
                            </div>
                        </div>
                    </div>

                    <div class='modal-footer'>
                        <form method='post' action='/event/delete/<%= futureEventsInfo[i]._id %>'>
                            <input type='submit' name='submit' class='btn btn-outline-danger' value='Delete'>
                        </form>
                        <button type='button' id='closeBtn' class='btn btn-outline-secondary' data-dismiss='modal'>
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
<% } %>

<!--Edit Modal-->
<% if (futureEventsInfo.length !== 0) { %>
    <% for (let i = 0; i < futureEventsInfo.length; i++) { %>
        <!-- Modal -->
        <div id="editModal<%= futureEventsInfo[i]._id %>" class="modal modal-top fade">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form action='/event/edit/<%= futureEventsInfo[i]._id %>' method='post' id="add-event">
                        <div class="modal-body">
                            <h4 class="text-blue h4 mb-10">Edit Event</h4>
                            <div class="form-group">
                                <label>Event name</label>
                                <input type="text" class="form-control" name="title"
                                       value="<%= futureEventsInfo[i].title %>">
                            </div>
                            <div class="form-group">
                                <label>Start Time</label>
                                <input readonly autocomplete="off" type="text" class="datetimepicker form-control"
                                       name="start"
                                       value="<%= futureEventsInfo[i].start %>">
                            </div>
                            <div class="form-group">
                                <label>End Date</label>
                                <input readonly autocomplete="off" type="text" class="datetimepicker form-control"
                                       name="end"
                                       value="<%= futureEventsInfo[i].end %>">
                            </div>
                            <div class="form-group">
                                <label>Event Description</label>
                                <textarea type="text" class="form-control"
                                          name="description"><%= futureEventsInfo[i].description %></textarea>
                            </div>

                            <div class="form-group">
                                <label>Visibility</label>
                                <select id="visibility<%= futureEventsInfo[i]._id %>" class="form-control"
                                        name="visibility">
                                    <option value="public">Open to public</option>
                                    <option value="member">Open to ENACT members only</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Event Link</label>
                                <input type="text" class="form-control" name="uri"
                                       value="<%= futureEventsInfo[i].uri %>">
                            </div>
                        </div>
                        <input hidden type="text" class="form-control TZTZ" name="TZ">
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <p hidden id='visiFromServer<%= futureEventsInfo[i]._id %>'><%= futureEventsInfo[i].visibility %></p>
        <% id_set.push(futureEventsInfo[i]._id) %>
    <% } %>
<% } %>

<!-- Delete Modal -->
<% if (pastEventsInfo.length !== 0) { %>
    <% for (let i = 0; i < pastEventsInfo.length; i++) { %>
        <div class='modal fade' id='deleteModal<%= pastEventsInfo[i]._id %>' tabindex='-1' role='dialog'
             aria-labelledby='exampleModalLabel'
             aria-hidden='true'>
            <div class='modal-dialog modal-lg' role='document'>
                <div class='modal-content'>
                    <div class='modal-header'>
                        <h5 class='modal-title' id='exampleModalLabel'>Delete?</h5>
                        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                            <span aria-hidden='true'>&times;</span>
                        </button>
                    </div>
                    <div class='modal-body'>
                        <div class='row'>
                            <div class='col-md-12 col-sm-12'>
                                <h4>Are you sure you want to delete this event permanently?</h4>
                            </div>
                        </div>
                    </div>

                    <div class='modal-footer'>
                        <form method='post' action='/event/delete/<%= pastEventsInfo[i]._id %>'>
                            <input type='submit' name='submit' class='btn btn-outline-danger' value='Delete'>
                        </form>
                        <button type='button' id='closeBtn' class='btn btn-outline-secondary' data-dismiss='modal'>
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
<% } %>

<!--Edit Modal-->
<% if (pastEventsInfo.length !== 0) { %>
    <% for (let i = 0; i < pastEventsInfo.length; i++) { %>
        <!-- Modal -->
        <div id="editModal<%= pastEventsInfo[i]._id %>" class="modal modal-top fade">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form action='/event/edit/<%= pastEventsInfo[i]._id %>' method='post' id="add-event">
                        <div class="modal-body">
                            <h4 class="text-blue h4 mb-10">Edit Event</h4>
                            <div class="form-group">
                                <label>Event name</label>
                                <input type="text" class="form-control" name="title"
                                       value="<%= pastEventsInfo[i].title %>">
                            </div>
                            <div class="form-group">
                                <label>Start Time</label>
                                <input readonly autocomplete="off" type="text" class="datetimepicker form-control"
                                       name="start"
                                       value="<%= pastEventsInfo[i].start %>">
                            </div>
                            <div class="form-group">
                                <label>End Date</label>
                                <input readonly autocomplete="off" type="text" class="datetimepicker form-control"
                                       name="end"
                                       value="<%= pastEventsInfo[i].end %>">
                            </div>
                            <div class="form-group">
                                <label>Event Description</label>
                                <textarea type="text" class="form-control"
                                          name="description"><%= pastEventsInfo[i].description %></textarea>
                            </div>

                            <div class="form-group">
                                <label>Visibility</label>
                                <select id="visibility<%= pastEventsInfo[i]._id %>" class="form-control"
                                        name="visibility">
                                    <option value="public">Open to public</option>
                                    <option value="member">Open to ENACT members only</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Event Link</label>
                                <input type="text" class="form-control" name="uri" value="<%= pastEventsInfo[i].uri %>">
                            </div>
                        </div>
                        <input hidden type="text" class="form-control TZTZ" name="TZ">
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <p hidden id='visiFromServer<%= pastEventsInfo[i]._id %>'><%= pastEventsInfo[i].visibility %></p>
        <% id_set.push(pastEventsInfo[i]._id) %>
    <% } %>
<% } %>

<p hidden id='idSet'><%= id_set %></p>

<script>
    $(document).ready(function () {
            let n = new Date().getTimezoneOffset() / 60;
            let timezone = '';
            switch (n) {
                case 4:
                    timezone = 'US/Atlantic';
                    break;
                case 5:
                    timezone = 'US/Eastern';
                    break;
                case 6:
                    timezone = 'US/Central';
                    break;
                case 7:
                    timezone = 'US/Mountain';
                    break;
                case 8:
                    timezone = 'US/Pacific';
                    break;
                case 9:
                    timezone = 'US/Alaska';
                    break;
                case 10:
                    timezone = 'US/Hawaii‑Aleutian';
                    break;
            }
            $('#fillMe').text(timezone);
            $(".TZTZ").each(function () {
                $(this).val(new Date().getTimezoneOffset())
            })
            let id_set = $('#idSet').text()
            if (id_set.length !== 0) {
                let id_set_array = id_set.split(',')
                for (let i = 0; i < id_set_array.length; i++) {
                    let realType = $('#visiFromServer' + id_set_array[i]).text()
                    $('#visibility' + id_set_array[i] + ' option').each(function () {
                        if ($(this).val() === realType) {
                            $(this).prop('selected', true)
                        }
                    })
                }
            }
            $(".TZChange").each(function () {
                let oldDate = $(this).text()
                let newDate = new Date(oldDate)
                $(this).text(newDate.toLocaleDateString())
            })
            $(".TZChange1").each(function () {
                let today = new Date()
                let oldDate = $(this).text()
                let newDate = new Date(oldDate + today.getTimezoneOffset())
                let minutes = newDate.getMinutes()
                let hours = newDate.getHours()
                if (minutes.toString().length === 1)
                    minutes = '0' + minutes.toString()
                if (hours.toString().length === 1)
                    hours = '0' + hours.toString()
                $(this).text(hours + ':' + minutes)
            })
        }
    )

    function showAddModal() {
        $("#modal-view-event-add").modal()
    }
</script>

<%- include('../components/footer'); -%>
