<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<section class="section">
    <div class="section__content section__content--full-width">
        <div class="jumbotron masthead text-center">
            <div class="section__title section__title--centered">
                Faculty exclusive resources
            </div>
        </div>
    </div>
</section>

<section class="section section__grey" data-aos="fade-up">
    <section class="section__content section__content--fluid-width">
        <div class="container">
            <div class="row">
                <% if (loggedIn) { %>
                    <div class="col-md-12 col-sm-12">
                        <div class="lead"><b>Upload new resources</b></div>
                        <hr>
                        <a class="btn btn-outline-primary" href="/uploadToFaculty" role="button">
                            Upload faculty exclusive resources</a>
                        <br>
                        <br>
                        <div class="lead"><b>Available resources</b></div>
                        <hr>
                        <%- include('../components/component-resourceStack'); -%>
                    </div>
                <% } else { %>
                    <%- include('../components/component-loginToView'); -%>
                <% } %>
            </div>
        </div>
        </div>
    </section>
</section>

<%- include('../components/footer'); -%>