<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                Faculty exclusive resources
            </div>
        </div>
    </div>
</section>

<section class='section section__grey' data-aos='fade-up'>
    <section class='section__content section__content--fluid-width'>
        <div class='container'>
            <div class='row'>
                <% if (loggedIn) { %>
                    <div class='col-md-12 col-sm-12'>
                        <div class='lead'><b>Upload new resources</b></div>
                        <hr>
                        <a class='btn btn-outline-primary' href='/uploadToFaculty' role='button'>
                            Upload faculty exclusive resources</a>
                        <br>
                        <br>
                        <div class='lead'><b>Available resources</b></div>
                        <hr>
                        <%- include('../components/component-resourceStack'); -%>
                    </div>
                <% } else { %>
                    <%- include('../components/component-loginToView'); -%>
                <% } %>
            </div>
        </div>
        </div>
    </section>
</section>

<% if (resourceInfo.length !== 0) { %>
    <% for (let i = resourceInfo.length - 1; i >= 0; i--) { %>
    <!-- Modal -->
    <div class='modal fade' id='deleteModal<%= resourceInfo[i]._id %>' tabindex='-1' role='dialog'
         aria-labelledby='exampleModalLabel'
         aria-hidden='true'>
        <div class='modal-dialog' role='document'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <h5 class='modal-title' id='exampleModalLabel'>Delete?</h5>
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                        <span aria-hidden='true'>&times;</span>
                    </button>
                </div>
                <div class='modal-body'>
                    <div class='row'>
                        <div class='col-md-12 col-sm-12'>
                            <h4>Are you sure you want to delete this resource permanently?</h4>
                        </div>
                    </div>
                </div>
                <div class='modal-footer'>
                    <form method='post' action='/removeResource/<%= resourceInfo[i]._id %>'>
                        <input type='submit' name='submit' class='btn btn-outline-danger' value='Delete'>
                    </form>
                    <button type='button' id='closeBtn' class='btn btn-outline-secondary' data-dismiss='modal'>
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <% } %>
<% } %>

<script>
    $(document).ready(function () {
        let realType = $('#typeFromServer').text()
        realType = realType.substring(1, realType.length - 1)
        $('#typeSelect option').each(function () {
            if ($(this).val() === realType) {
                $(this).prop('selected', true)
            }
        })
        let state = $('#stateFromServer').text()
        state = state.substring(1, state.length - 1)
        $('#stateSelect option').each(function () {
            if ($(this).val() === state) {
                $(this).prop('selected', true)
            }
        })
        let status = $('#statusFromServer').text()
        status = status.substring(1, status.length - 1)
        $('#statusSelect option').each(function () {
            if ($(this).val() === status) {
                $(this).prop('selected', true)
            }
        })
        let tags = $('#tagsFromServer').text()
        tags = tags.substring(1, tags.length - 1)
        let tagsArray = tags.split(',')
        $(':checkbox').each(function () {
            if (tagsArray.includes($(this).val())) {
                $(this).prop('checked', true)
            }
        })
        console.log('herhe!')
        let checkboxes = $(':checkbox');
        checkboxes.on('change', function () {
            let string = checkboxes.filter(':checked').map(function () {
                return this.value;
            }).get().join(',');
            $('#tagsToReturn').val(string);
        });
    })

    /*
    Function to carry out the actual PUT request to S3 using the signed request from the app.
    */
    function uploadFile(file, signedRequest, url) {
        const xhr = new XMLHttpRequest();
        xhr.open('PUT', signedRequest);
        xhr.onreadystatechange = () => {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    document.getElementById('preview').src = url;
                    document.getElementById('imageURL').value = url;
                } else {
                    alert('Could not upload file.');
                }
            }
        };
        xhr.send(file);
    }
</script>

<%- include('../components/footer'); -%>