<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<script src="/js/likeAjax.js"></script>

<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                Resources for Teaching ENACT Courses
            </div>
            <h3 style="display:inline;">Not finding what you want? Please try &nbsp;</h3><a
                    href='/resources/search/private/advanced'
                    class='btn btn-large btn-warning'
                    style='width: 200px'>Search for Resources</a>
            <br><br>
            <h3 style="display:inline;">Or, help the faculty community by </h3>
            <a href='/resource/upload/faculty' class='btn btn-large btn-primary'>Upload Faculty Resources</a>
        </div>
    </div>
</section>

<!--Resources for Teaching ENACT Courses-->
<!--Display current term and upcoming 3-->
<section class='section section__grey' data-aos='fade-up'>
    <section class='section__content section__content--fluid-width'>
        <div class='container'>
            <div class='row'>
                <% if (loggedIn) { %>
                    <div class='col-md-12 col-sm-12'>
                        <h3>Syllabi</h3> Link to all Syllabi: <a href="/resources/view/faculty/syllabus"><b>click
                                me</b></a>
                        <hr>
                        <% if (syllabus && syllabus.length > 0) { %>
                            <% for (let i = 0; i < syllabus.length; i++) { %>
                                <div class='card-body'>
                                    <h4><%= syllabus[i].name %></h4>
                                    <div class='card-text'>
                                        <ul class='list-group'>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>Description: </b> <%= syllabus[i].description %></li>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>State:</b> <%= syllabus[i].state %></li>
                                            <% if (syllabus[i].mediaType === 'video' && syllabus[i].uri.endsWith(".mp4")) { %>
                                                <li class='list-group-item borderless box-padding'>
                                                    <video width="400" controls>
                                                        <source src="<%= resourceInfo[i].uri %>" type="video/mp4">
                                                    </video>
                                                </li>
                                            <% } else { %>
                                                <li class='list-group-item borderless box-padding'>
                                                    <b>Link: </b> <a href='<%= syllabus[i].uri %>'>click
                                                        me</a>
                                                </li>
                                            <% } %>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>Institution: </b> <%= syllabus[i].institution %>
                                            </li>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>Author: </b> <%= syllabus[i].ownerName %>
                                            </li>
                                            <% if (syllabus[i].tags[0].length > 0) { %>
                                                <li class='list-group-item borderless box-padding'>
                                                    <b>Topic(s)/Issue(s)</b>: <%= syllabus[i].tags %>
                                                </li>
                                            <% } %>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>Actions:</b>
                                                <button type="submit"
                                                        style='border:0px solid transparent'
                                                        class='focusMe btn btn-outline-danger'
                                                        id="<%= syllabus[i]._id %>">
                                                    <% if (resourceIds && resourceIds.toString().includes(syllabus[i]._id.toString())) { %>
                                                        &#9829;
                                                    <% } else { %>
                                                        &#9825;
                                                    <% } %>
                                                </button>
                                                <% if (syllabus[i].ownerId.toString() !== user._id.toString()) { %>
                                                    <a href='/messages/view/<%= user._id %>/<%= syllabus[i].ownerId %>/<%= syllabus[i]._id %>'><input
                                                                class='btn btn-outline-primary'
                                                                style='border:0px solid transparent'
                                                                type='button' value='Contact the author'></a>
                                                <% } %>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <% if (i !== syllabus.length - 1) { %>
                                    <br>
                                <% } %>
                            <% } %>
                        <% } else { %>
                            <div class='card-body text-center'>
                                No resource available yet
                            </div>
                        <% } %>
                    </div>
                <% } else { %>
                    <%- include('../components/component-loginToView'); -%>
                <% } %>
            </div>
            <br>
            <div class='row'>
                <% if (loggedIn) { %>
                    <div class='col-md-12 col-sm-12'>
                        <h3>Assignment Guidelines & Rubrics</h3>
                        Link to all Assignment Guidelines & Rubrics: <a href="/resources/view/faculty/assignments"><b>click
                                me</b></a>
                        <hr>
                        <% if (assignments && assignments.length > 0) { %>
                            <% for (let i = assignments.length - 1; i >= 0; i--) { %>
                                <div class='card-body'>
                                    <h4><%= assignments[i].name %></h4>
                                    <div class='card-text'>
                                        <ul class='list-group'>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>Description: </b> <%= assignments[i].description %></li>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>State:</b> <%= assignments[i].state %></li>
                                            <% if (assignments[i].mediaType === 'video' && assignments[i].uri.endsWith(".mp4")) { %>
                                                <li class='list-group-item borderless box-padding'>
                                                    <video width="400" controls>
                                                        <source src="<%= assignments[i].uri %>" type="video/mp4">
                                                    </video>
                                                </li>
                                            <% } else { %>
                                                <li class='list-group-item borderless box-padding'>
                                                    <b>Link: </b> <a href='<%= assignments[i].uri %>'>click me</a>
                                                </li>
                                            <% } %>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>Institution: </b> <%= assignments[i].institution %>
                                            </li>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>Author: </b> <%= assignments[i].ownerName %>
                                            </li>
                                            <% if (assignments[i].tags[0].length > 0) { %>
                                                <li class='list-group-item borderless box-padding'>
                                                    <b>Topic(s)/Issue(s)</b>: <%= assignments[i].tags %>
                                                </li>
                                            <% } %>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>Actions:</b>
                                                <button type="submit"
                                                        style='border:0px solid transparent'
                                                        class='focusMe btn btn-outline-danger'
                                                        id="<%= assignments[i]._id %>">
                                                    <% if (resourceIds && resourceIds.toString().includes(assignments[i]._id.toString())) { %>
                                                        &#9829;
                                                    <% } else { %>
                                                        &#9825;
                                                    <% } %>
                                                </button>
                                                <% if (assignments[i].ownerId.toString() !== user._id.toString()) { %>
                                                    <a href='/messages/view/<%= user._id %>/<%= assignments[i].ownerId %>/<%= assignments[i]._id %>'><input
                                                                class='btn btn-outline-primary'
                                                                style='border:0px solid transparent'
                                                                type='button' value='Contact the author'></a>
                                                <% } %>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <% if (i !== 0) { %>
                                    <br>
                                <% } %>
                            <% } %>
                        <% } else { %>
                            <div class='card-body text-center'>
                                No resource available yet
                            </div>
                        <% } %>
                    </div>
                <% } else { %>
                    <%- include('../components/component-loginToView'); -%>
                <% } %>
            </div>
            <br>
            <div class='row'>
                <% if (loggedIn) { %>
                    <div class='col-md-12 col-sm-12'>
                        <h3>Course Planning</h3>
                        Link to all course planning materials: <a href="/resources/view/faculty/plan"><b>click
                                me</b></a>
                        <hr>
                        <% if (guides && guides.length > 0) { %>
                            <% for (let i = guides.length - 1; i >= 0; i--) { %>
                                <div class='card-body'>
                                    <h4><%= guides[i].name %></h4>
                                    <div class='card-text'>
                                        <ul class='list-group'>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>Description: </b> <%= guides[i].description %></li>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>State:</b> <%= guides[i].state %></li>
                                            <% if (guides[i].mediaType === 'video' && guides[i].uri.endsWith(".mp4")) { %>
                                                <li class='list-group-item borderless box-padding'>
                                                    <video width="400" controls>
                                                        <source src="<%= guides[i].uri %>" type="video/mp4">
                                                    </video>
                                                </li>
                                            <% } else { %>
                                                <li class='list-group-item borderless box-padding'>
                                                    <b>Link: </b> <a href='<%= guides[i].uri %>'>click me</a>
                                                </li>
                                            <% } %>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>Institution: </b> <%= guides[i].institution %>
                                            </li>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>Author: </b> <%= guides[i].ownerName %>
                                            </li>
                                            <% if (guides[i].tags[0].length > 0) { %>
                                                <li class='list-group-item borderless box-padding'>
                                                    <b>Topic(s)/Issue(s)</b>: <%= guides[i].tags %>
                                                </li>
                                            <% } %>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>Actions:</b>
                                                <button type="submit"
                                                        style='border:0px solid transparent'
                                                        class='focusMe btn btn-outline-danger'
                                                        id="<%= guides[i]._id %>">
                                                    <% if (resourceIds && resourceIds.toString().includes(guides[i]._id.toString())) { %>
                                                        &#9829;
                                                    <% } else { %>
                                                        &#9825;
                                                    <% } %>
                                                </button>
                                                <% if (guides[i].ownerId.toString() !== user._id.toString()) { %>
                                                    <a href='/messages/view/<%= user._id %>/<%= guides[i].ownerId %>/<%= guides[i]._id %>'><input
                                                                class='btn btn-outline-primary'
                                                                style='border:0px solid transparent'
                                                                type='button' value='Contact the author'></a>
                                                <% } %>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <% if (i !== 0) { %>
                                    <br>
                                <% } %>
                            <% } %>
                        <% } else { %>
                            <div class='card-body text-center'>
                                No resource available yet
                            </div>
                        <% } %>
                    </div>
                <% } else { %>
                    <%- include('../components/component-loginToView'); -%>
                <% } %>
            </div>
        </div>
    </section>
</section>

<p hidden id="findMe"></p>

<%- include('../components/footer'); -%>