<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                Faculty Guide
            </div>
            <h3>Not finding what you want? Please try</h3><a href='/resources/search/private/advanced'
                                                             class='btn btn-large btn-warning'
                                                             style='width: 200px'>Advanced Search</a>
        </div>
    </div>
</section>

<section class='section section__grey' data-aos='fade-up'>
    <section class='section__content section__content--fluid-width'>
        <div class='container'>
            <div class='row'>
                <% if (loggedIn) { %>
                    <div class='col-md-12 col-sm-12'>
                        <h3>Syllabus</h3> Link to all syllabus: <a href="/resources/view/faculty/syllabus"><b>click
                                me</b></a>
                        <hr>
                        <% if (syllabus && syllabus.length > 0) { %>
                            <% for (let i = 0; i < syllabus.length; i++) { %>
                                <div class='card-body'>
                                    <h4><%= syllabus[i].name %></h4>
                                    <div class='card-text'>
                                        <ul class='list-group'>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>Description: </b> <%= syllabus[i].description %></li>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>State:</b> <%= syllabus[i].state %></li>
                                            <% if (syllabus[i].mediaType === 'video' && syllabus[i].uri.endsWith(".mp4")) { %>
                                                <li class='list-group-item borderless box-padding'>
                                                    <iframe width="480" height="270" frameborder="0"
                                                            allowtransparency="true" allowfullscreen
                                                            src="<%= syllabus[i].uri %>">
                                                    </iframe>
                                                </li>
                                            <% } else { %>
                                                <li class='list-group-item borderless box-padding'>
                                                    <b>Link: </b> <a href='<%= syllabus[i].uri %>'>click
                                                        me</a>
                                                </li>
                                            <% } %>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>Institution: </b> <%= syllabus[i].institution %></li>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>Tags:</b> <%= syllabus[i].tags %>
                                            </li>
                                            <li class='list-group-item borderless box-padding'>
                                                <% if (resourceIds && resourceIds.toString().includes(syllabus[i]._id.toString())) { %>
                                                    <form style='display: inline' method='post'
                                                          action='/unstarResourceAlt/<%= syllabus[i]._id %>'>
                                                        <b>Actions:</b>
                                                        <input type='submit'
                                                               style='border:0px solid transparent'
                                                               name='submit'
                                                               class='btn btn-outline-danger'
                                                               value='&#9829;'>
                                                    </form>
                                                <% } else { %>
                                                    <form style='display: inline' method='post'
                                                          action='/starResourceAlt/<%= syllabus[i]._id %>'>
                                                        <b>Actions:</b>
                                                        <input type='submit'
                                                               style='border:0px solid transparent'
                                                               name='submit'
                                                               class='btn btn-outline-danger'
                                                               value='&#9825;'>
                                                    </form>
                                                <% } %>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <% if (i !== syllabus.length - 1) { %>
                                    <br>
                                <% } %>
                            <% } %>
                        <% } else { %>
                            <div class='card-body text-center'>
                                No resource available yet
                            </div>
                        <% } %>
                    </div>
                <% } else { %>
                    <%- include('../components/component-loginToView'); -%>
                <% } %>
            </div>
            <br>
            <div class='row'>
                <% if (loggedIn) { %>
                    <div class='col-md-12 col-sm-12'>
                        <h3>Assignment Guidelines</h3>
                        Link to all Assignment Guidelines: <a href="/resources/view/faculty/assignments"><b>click me</b></a>
                        <hr>
                        <% if (assignments && assignments.length > 0) { %>
                            <% for (let i = assignments.length - 1; i >= 0; i--) { %>
                                <div class='card-body'>
                                    <h4><%= assignments[i].name %></h4>
                                    <div class='card-text'>
                                        <ul class='list-group'>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>Description: </b> <%= assignments[i].description %></li>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>State:</b> <%= assignments[i].state %></li>
                                            <% if (assignments[i].mediaType === 'video' && assignments[i].uri.endsWith(".mp4")) { %>
                                                <li class='list-group-item borderless box-padding'>
                                                    <iframe width="480" height="270" frameborder="0"
                                                            allowtransparency="true" allowfullscreen
                                                            src="<%= assignments[i].uri %>">
                                                    </iframe>
                                                </li>
                                            <% } else { %>
                                                <li class='list-group-item borderless box-padding'>
                                                    <b>Link: </b> <a href='<%= assignments[i].uri %>'>click
                                                        me</a>
                                                </li>
                                            <% } %>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>Institution: </b> <%= assignments[i].institution %></li>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>Tags:</b> <%= assignments[i].tags %>
                                            </li>
                                            <li class='list-group-item borderless box-padding'>
                                                <% if (resourceIds && resourceIds.toString().includes(assignments[i]._id.toString())) { %>
                                                    <form style='display: inline' method='post'
                                                          action='/unstarResourceAlt/<%= assignments[i]._id %>'>
                                                        <b>Actions:</b>
                                                        <input type='submit'
                                                               style='border:0px solid transparent'
                                                               name='submit'
                                                               class='btn btn-outline-danger'
                                                               value='&#9829;'>
                                                    </form>
                                                <% } else { %>
                                                    <form style='display: inline' method='post'
                                                          action='/starResourceAlt/<%= assignments[i]._id %>'>
                                                        <b>Actions:</b>
                                                        <input type='submit'
                                                               style='border:0px solid transparent'
                                                               name='submit'
                                                               class='btn btn-outline-danger'
                                                               value='&#9825;'>
                                                    </form>
                                                <% } %>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <% if (i !== 0) { %>
                                    <br>
                                <% } %>
                            <% } %>
                        <% } else { %>
                            <div class='card-body text-center'>
                                No resource available yet
                            </div>
                        <% } %>
                    </div>
                <% } else { %>
                    <%- include('../components/component-loginToView'); -%>
                <% } %>
            </div>
            <br>

            <div class='row'>
                <% if (loggedIn) { %>
                    <div class='col-md-12 col-sm-12'>
                        <h3>Rubrics</h3>
                        Link to all rubrics: <a href="/resources/view/faculty/rubrics"><b>click me</b></a>
                        <hr>
                        <% if (rubrics && rubrics.length > 0) { %>
                            <% for (let i = rubrics.length - 1; i >= 0; i--) { %>
                                <div class='card-body'>
                                    <h4><%= rubrics[i].name %></h4>
                                    <div class='card-text'>
                                        <ul class='list-group'>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>Description: </b> <%= rubrics[i].description %></li>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>State:</b> <%= rubrics[i].state %></li>
                                            <% if (rubrics[i].mediaType === 'video' && rubrics[i].uri.endsWith(".mp4")) { %>
                                                <li class='list-group-item borderless box-padding'>
                                                    <iframe width="480" height="270" frameborder="0"
                                                            allowtransparency="true" allowfullscreen
                                                            src="<%= rubrics[i].uri %>">
                                                    </iframe>
                                                </li>
                                            <% } else { %>
                                                <li class='list-group-item borderless box-padding'>
                                                    <b>Link: </b> <a href='<%= rubrics[i].uri %>'>click
                                                        me</a>
                                                </li>
                                            <% } %>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>Institution: </b> <%= rubrics[i].institution %></li>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>Tags:</b> <%= rubrics[i].tags %>
                                            </li>
                                            <li class='list-group-item borderless box-padding'>
                                                <% if (resourceIds && resourceIds.toString().includes(rubrics[i]._id.toString())) { %>
                                                    <form style='display: inline' method='post'
                                                          action='/unstarResourceAlt/<%= rubrics[i]._id %>'>
                                                        <b>Actions:</b>
                                                        <input type='submit'
                                                               style='border:0px solid transparent'
                                                               name='submit'
                                                               class='btn btn-outline-danger'
                                                               value='&#9829;'>
                                                    </form>
                                                <% } else { %>
                                                    <form style='display: inline' method='post'
                                                          action='/starResourceAlt/<%= rubrics[i]._id %>'>
                                                        <b>Actions:</b>
                                                        <input type='submit'
                                                               style='border:0px solid transparent'
                                                               name='submit'
                                                               class='btn btn-outline-danger'
                                                               value='&#9825;'>
                                                    </form>
                                                <% } %>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <% if (i !== 0) { %>
                                    <br>
                                <% } %>
                            <% } %>
                        <% } else { %>
                            <div class='card-body text-center'>
                                No resource available yet
                            </div>
                        <% } %>
                    </div>
                <% } else { %>
                    <%- include('../components/component-loginToView'); -%>
                <% } %>
            </div>
            <br>

            <div class='row'>
                <% if (loggedIn) { %>
                    <div class='col-md-12 col-sm-12'>
                        <h3>Course Plannings</h3>
                        Link to all course planning materials: <a href="/resources/view/faculty/plan"><b>click
                                me</b></a>
                        <hr>
                        <% if (guides && guides.length > 0) { %>
                            <% for (let i = guides.length - 1; i >= 0; i--) { %>
                                <div class='card-body'>
                                    <h4><%= guides[i].name %></h4>
                                    <div class='card-text'>
                                        <ul class='list-group'>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>Description: </b> <%= guides[i].description %></li>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>State:</b> <%= guides[i].state %></li>
                                            <% if (guides[i].mediaType === 'video' && guides[i].uri.endsWith(".mp4")) { %>
                                                <li class='list-group-item borderless box-padding'>
                                                    <iframe width="480" height="270" frameborder="0"
                                                            allowtransparency="true" allowfullscreen
                                                            src="<%= guides[i].uri %>">
                                                    </iframe>
                                                </li>
                                            <% } else { %>
                                                <li class='list-group-item borderless box-padding'>
                                                    <b>Link: </b> <a href='<%= guides[i].uri %>'>click
                                                        me</a>
                                                </li>
                                            <% } %>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>Institution: </b> <%= guides[i].institution %></li>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>Tags:</b> <%= guides[i].tags %>
                                            </li>
                                            <li class='list-group-item borderless box-padding'>
                                                <% if (resourceIds && resourceIds.toString().includes(guides[i]._id.toString())) { %>
                                                    <form style='display: inline' method='post'
                                                          action='/unstarResourceAlt/<%= guides[i]._id %>'>
                                                        <b>Actions:</b>
                                                        <input type='submit'
                                                               style='border:0px solid transparent'
                                                               name='submit'
                                                               class='btn btn-outline-danger'
                                                               value='&#9829;'>
                                                    </form>
                                                <% } else { %>
                                                    <form style='display: inline' method='post'
                                                          action='/starResourceAlt/<%= guides[i]._id %>'>
                                                        <b>Actions:</b>
                                                        <input type='submit'
                                                               style='border:0px solid transparent'
                                                               name='submit'
                                                               class='btn btn-outline-danger'
                                                               value='&#9825;'>
                                                    </form>
                                                <% } %>
                                                <% if (guides[i].ownerId.toString() !== user._id.toString()) { %>
                                                    <a href='/messages/view/<%= user._id %>/<%= guides[i].ownerId %>/<%= guides[i]._id %>'><input
                                                                class='btn btn-outline-primary'
                                                                style='border:0px solid transparent'
                                                                type='button' value='Contact the author'></a>
                                                <% } %>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <% if (i !== 0) { %>
                                    <br>
                                <% } %>
                            <% } %>
                        <% } else { %>
                            <div class='card-body text-center'>
                                No resource available yet
                            </div>
                        <% } %>
                    </div>
                <% } else { %>
                    <%- include('../components/component-loginToView'); -%>
                <% } %>
            </div>
        </div>
    </section>
</section>

<%- include('../components/footer'); -%>