<%- include('../components/header'); -%>

<script src='/js/menu1.js'></script>

<script>
    AOS.init();
</script>

<header class='header header--sticky'>
    <div class='header__content header__content--fluid-width'>
        <a class='header__logo-title' href='/'>
            <div class='card-body' style='background-color: transparent'>
                <div class='card-text'>
                    <img style='height: 70px; width: 70px'
                         src='https://www.brandeis.edu/ethics/images/enact/enactlogo.jpg' alt="ENACT logo">
                </div>
            </div>
        </a>
        <% if (!loggedIn) { %>
            <a class='header__logo-title-1' style='margin-left: -10px' href='/'>
                <b>THE EDUCATIONAL NETWORK
                    <br>
                    FOR ACTIVE CIVIC TRANSFORMATION</b>
            </a>
        <% } %>
        <nav class='header__menu'>
            <ul>
                <li>
                    <a class='header-link' id='header-link' href='/' data-aos='fade-left'>HOME</a>
                </li>

                <li>
                    <% if (!loggedIn) { %>
                        <a class='header-link' id='header-link' href='#' data-aos='fade-left'>Resources</a>
                        <ul class='sub-menu'>
                            <li>
                                <a class='header-link' href='/resources/view/public/all'>Find some resources</a>
                            </li>

                        </ul>
                    <% } %>
                </li>

                <li>
                    <% if (!loggedIn) { %>
                        <a class='header-link' id='header-link' href='/profiles/view/faculty' data-aos="fade-left">Faculty
                            List</a>
                    <% } %>
                </li>

                <li>
                    <% if (!loggedIn) { %>
                        <a class='header-link' id='header-link' href='mailto:eanct@brandeis.edu' data-aos='fade-left'>Contact
                            Us</a>
                    <% } %>
                </li>

                <li>
                    <% if (loggedIn) { %>
                        <a class='header-link' id='header-link' href='/courses' data-aos='fade-left'>Courses</a>
                        <ul class='sub-menu'>
                            <% for (let i = 0; i < courseInfoSet.length; i++) { %>
                                <li>
                                    <a class='header-link'
                                       href='/course/view/<%= courseInfoSet[i]._id %>'><%= courseInfoSet[i].courseName %></a>
                                </li>
                            <% } %>
                        </ul>
                    <% } %>
                </li>
                <li>
                    <% if (loggedIn) { %>
                        <a class='header-link' id='header-link' href='#' data-aos='fade-left'>Resources</a>
                        <ul class='sub-menu'>
                            <li>
                                <a class='header-link' href='/resources/search/private/general'>Find some resources</a>
                            </li>
                            <% if (status === 'faculty' || status === 'admin') { %>
                                <li>
                                    <a class='header-link' href='/resource/upload/faculty'>Upload resources</a>
                                </li>
                            <% } %>
                            <li>
                                <a class='header-link' href='/resources/view/favorite'>My favorites</a>
                            </li>
                            <li>
                                <% if (status === 'faculty' || status === 'admin') { %>
                                    <a class='header-link' href='/resources/view/private'>My resources</a>
                                <% } else { %>
                                    <a class='header-link' href='/resources/view/private'>My resources</a>
                                <% } %>
                            </li>
                        </ul>
                    <% } %>
                </li>
                <li>
                    <% if (loggedIn) { %>
                        <a class='header-link' id='header-link' href='/messages/view/all'
                           data-aos='fade-left'>Messages</a>
                    <% } %>
                </li>

                <li>
                    <% if (loggedIn) { %>
                        <% if (status === 'admin' || status === 'faculty' ) { %>
                            <a class='header-link' id='header-link' href='#' data-aos='fade-left'>Faculty</a>
                            <ul class='sub-menu'>
                                <li>
                                    <a class='header-link' href='/resources/view/faculty'>Faculty guide</a>
                                </li>
                                <li>
                                    <a class='header-link' href='/profiles/view/faculty'>Faculty list</a>
                                </li>
                                <li>
                                    <a class='header-link' href='/reviewResource'>Approve student resources</a>
                                </li>
                            </ul>
                        <% } else { %>
                            <a class='header-link' id='header-link' href='#' data-aos='fade-left'>Faculty</a>
                            <ul class='sub-menu'>
                                <li>
                                    <a class='header-link' href='/profiles/view/faculty'>Faculty list</a>
                                </li>
                            </ul>
                        <% } %>
                    <% } %>
                </li>

                <li>
                    <% if (loggedIn) { %>
                        <% if (status === 'admin') { %>
                            <a class='header-link' id='header-link' href='#' data-aos='fade-left'>Admin</a>
                            <ul class='sub-menu'>
                                <li>
                                    <a class='header-link' href='/managePublicResources'>Manage home page resources</a>
                                </li>
                                <li>
                                    <a class='header-link' href='/approvePublicResources'>Approve public resources</a>
                                </li>
                                <li>
                                    <a class='header-link' href='/approveTags'>Approve proposed new areas</a>
                                </li>
                                <li>
                                    <a class='header-link' href='/profiles/view/all'>View all profiles</a>
                                </li>
                                <li>
                                    <a class='header-link' href='/profiles/faculty/assign'>Set up a new faculty</a>
                                </li>
                            </ul>
                        <% } %>
                    <% } %>
                </li>

                <% if (loggedIn) { %>
                    <li>
                        <a class='header-link' id='header-link' href='#' data-aos='fade-left'>Settings</a>
                        <ul class='sub-menu'>
                            <li>
                                <a class='header-link' href='/profile/view/<%= user._id %>'>View/edit profile</a>
                            </li>
                        </ul>
                    </li>
                <% } %>

                <% if (loggedIn) { %>
                    <li>
                        <a class='header-link' id='header-link' href='/help' data-aos='fade-left'>Help</a>
                    </li>
                <% } %>

                <li class='header__btn header__btn--login'>
                    <% if (!loggedIn) { %>
                        <a class='btn btn-primary' style="color: white; font-weight: bold" href='/login'
                           data-aos='fade-left'>ENACT member login</a>
                    <% } else { %>
                        <a class='btn btn-primary' style="color: white; font-weight: bold" href='/logout'
                           data-aos='fade-left'>Logout</a>
                    <% } %>
                </li>
            </ul>
        </nav>
    </div>
</header>

<!-- Front intro -->
<section class='section section--intro section__grey'>
    <div class='section__content section__content--full-width' style='font-weight: 800;'>
        <div class='intro'>
            <div class='intro__content' style='background: #0053a4;'>
                <div class='intro__subtitle' data-aos='zoom-out-down' data-aos-duration='600' style='color: white;'>
                    “The most important office, and the one which all of
                    us can and should fill, is that of private citizen.”
                </div>
                <div class='intro__subtitle' data-aos='zoom-out-down' data-aos-duration='600' data-aos-delay='200'
                     style='color: lightgreen'> - Supreme Court Justice Louis D. Brandeis
                </div>
                <% if (loggedIn) { %>
                    <% if (status === 'admin' || status === 'faculty') { %>
                        <div class='form-demo' data-aos='zoom-out-down' data-aos-duration='600' data-aos-delay='400'>
                            <a href='/courses'><input type='submit' name='submit' class='form-demo__large'
                                                      value='MANAGE/CREATE COURSES'></a>
                            <a href='/resources/search/private/general'><input type='submit' name='submit'
                                                                               class='form-demo__large'
                                                                               value='FIND RESOURCES'></a>
                            <a href='/resources/view/faculty'><input type='submit' name='submit'
                                                                     class='form-demo__large'
                                                                     value='FACULTY GUIDE'></a>
                        </div>
                    <% } else { %>
                        <div class='form-demo' data-aos='zoom-out-down' data-aos-duration='1000' data-aos-delay='400'>
                            <!--                            <a href='/courses'><input type='submit' name='submit' class='form-demo__large'-->
                            <!--                                                      value='MANAGE/ENROLL IN COURSES'></a>-->
                            <a href='/resources/search/private/general'><input type='submit' name='submit'
                                                                               class='form-demo__large'
                                                                               value='FIND RESOURCES'></a>
                        </div>
                    <% } %>
                    <br>
                <% } else { %>
                    <br>
                    <a href='/resources/view/public/all' data-aos='zoom-out-down' data-aos-duration='1000'
                       data-aos-delay='400'><input
                                type='submit' name='submit' class='form-demo__large'
                                value='PUBLIC RESOURCES'></a>
                <% } %>
            </div>
        </div>
    </div>
</section>

<!-- ENACT Program intro -->
<section class='section section__grey'>
    <br><br><br>
    <h2 class='section__title section__title--centered'>The ENACT Program</h2>
    <br>
    <div class='section__content section__content--fluid-width section__content--padding--small'>
        <div class='grid grid--3col'>
            <div class='grid__item partners__slide__grey' style='height: 500px' data-aos='fade-up'>
                <h3 class='grid__title'><span>What we do</span></h3>
                <p class='grid__text'>
                    The <b style='color: #0053a4'>E</b>ducational <b style='color: #0053a4'>N</b>etwork for <b
                            style='color: #0053a4'>A</b>ctive <b style='color: #0053a4'>C</b>ivic <b
                            style='color: #0053a4'>T</b>ransformation is a national program
                    engaging undergraduates at colleges and universities in state-level legislative change by
                    learning
                    to work with legislators, staffers, and community organizations to advance policy. It is
                    becoming a
                    major voice in addressing challenges to American democracy by engaging young people around
                    the
                    country in civic activism built on knowledge, cooperation, justice and integrity.</p>
                <br>
                <br>
            </div>

            <div class='grid__item partners__slide__grey' style='height: 500px' data-aos='fade-up'>
                <div id='carouselExampleSlidesOnly' class='carousel slide' data-ride='carousel'>
                    <div class='carousel-inner'>
                        <div class='carousel-item active'>
                            <img src='<%= imagePaths[0] %>'
                                 style='width: 100%; height: 480px; object-fit: cover; border-radius: 30px;'
                                 class='d-block w-100' alt='...'>
                            <div class='carousel-caption d-none d-md-block'
                                 style='right: 5%; left: 5%; color: black; background-color: white; opacity: 0.8; border-radius: 15px; padding: 5%'>
                                <p><b><%= labelPaths[0] %></b></p>
                            </div>
                        </div>
                        <% for (let i = 1; i < imagePaths.length; i++) { %>
                            <div class='carousel-item'>
                                <img src='<%= imagePaths[i] %>'
                                     style='width: 100%; height: 480px; object-fit: cover; border-radius: 30px;'
                                     class='d-block w-100' alt='...'>
                                <div class='carousel-caption d-none d-md-block'
                                     style='right: 5%; left: 5%; color: black; background-color: white; opacity: 0.8; border-radius: 15px; padding: 5%'>
                                    <p><b><%= labelPaths[i] %></b></p>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class='grid__item partners__slide__grey' style='height: 500px' data-aos='fade-up'>
                <h3 class='grid__title'><span>The ENACT Model</span></h3>
                <p class='grid__text'>
                    <b style='color: #0053a4'>• Workshop</b>: ENACT launched with a workshop at Brandeis University in
                    May 2016. Under the leadership of the program’s academic director, ENACT Fellows shared ideas and
                    work on course development.
                    <!--                    Read about the 2016 ENACT Institute and the 2018 ENACT Institute at Brandeis-->
                    <!--                    University.-->
                    <br>
                    <b style='color: #0053a4'>• Courses</b>: In ENACT courses students learn about participating in the
                    legislative and
                    advocacy process at the state level, with a substantial hands-on component in which they engage
                    directly in that process, as in the “Advocacy for Policy Change” course at Brandeis.
                    <!--                    See the full list of ENACT schools.-->
                    <br>
                    <b style='color: #0053a4'>• Online Network</b>: The ENACT Network is a national in-person and online
                    network of students, faculty, activists and legislators. It is a strategic and information hub for
                    state-level players that enables them to connect with counterparts throughout the country.</p>
                <br>
                <br>
            </div>
        </div>

        <div class='clear'></div>

    </div>
</section>

<!-- Calendar -->
<section class='section diagonal-gradient'>
    <h2 class='section__title section__title--centered' style="color: white; padding-top: 80px">Event calendar</h2>
    <section class="section__content" id="calendarIndex">
        <%- include('../components/component-event'); -%>
        <%- include('../components/component-eventImport'); -%>
        <div class='text-center' data-aos='fade-up' style="padding-bottom: 80px" data-aos-delay="100">
            <a href='/events'><input type='button' name='submit'
                                     class='btn btn-lg btn-light'
                                     value='View more events'></a>
        </div>
    </section>
</section>

<!-- Public Resources Section -->
<section class='section section__grey'>
    <div class='section__content section__content--fluid-width section__content--padding' data-aos='fade-up'>
        <h2 class='section__title section__title--centered'>Public resources</h2>
        <br><br><br>
        <% if (resourceInfo.length === 0) { %>
            <div class='card-body text-center' style="border-radius: 30px">
                <h4>No resource available yet</h4>
            </div>
        <% } %>
        <% for (let i = 0; i < resourceInfo.length && i < 3; i++) { %>
            <div class='card-body border-0' style='border-radius: 30px' data-aos='fade-up'>
                <h4>
                    <%= resourceInfo[i].name %>
                </h4>
                <div class='card-text'>
                    <ul class='list-group'>
                        <li class='list-group-item borderless box-padding'>
                            <b>Description: </b>
                            <%= resourceInfo[i].description %>
                        </li>
                        <li class='list-group-item borderless box-padding'>
                            <b>State:</b>
                            <%= resourceInfo[i].state %>
                        </li>
                        <li class='list-group-item borderless box-padding'>
                            <b>Link: </b>
                            <a href='<%= resourceInfo[i].uri %>'><%= resourceInfo[i].uri %></a>
                        </li>
                        <li class='list-group-item borderless box-padding'>
                            <b>Institution: </b>
                            <%= resourceInfo[i].institution %>
                        </li>
                        <li class='list-group-item borderless box-padding'>
                            <b>Categories:</b>
                            <%= resourceInfo[i].tags %>
                        </li>
                    </ul>
                </div>
            </div>
            <br>
        <% } %>

        <br>
        <br>
        <% if (status === 'admin') { %>
            <div class='text-center' data-aos='fade-up' data-aos-delay="100">
                <a href='/managePublicResources'><input type='button' name='submit'
                                                        class='btn btn-lg btn-primary'
                                                        value='Manage Displayed Resources'></a>
            </div>
        <% } %>
        <br>
        <div class='text-center' data-aos='fade-up' data-aos-delay="100">
            <a href='/resources/view/public/all'><input type='button' name='submit'
                                                        class='btn btn-lg btn-primary'
                                                        value='Find More Resources'></a>
        </div>
        <br>
        <div class='clear'></div>
    </div>
</section>


<!-- Section -->
<section class='section diagonal-gradient'>
    <div class='section__content section__content--fluid-width section__content--padding'>
        <h2 class='section__title section__title--centered' style='color: white'>ENACT Faculty</h2>
        <br>
        <div class='grid grid--3col'>
            <div class='partners__slide grid__item' style='height: 750px' data-aos="fade-up">
                <div class='card-body' style='border-radius: 30px'>
                    <img class='d-flex'
                         src='https://www.brandeis.edu/ethics/images/advocacy/mstimell01_cropped.jpg'
                         alt='Melissa Stimell'
                         style='width: 100%; height:400px; object-fit: cover; border-radius: 30px'>
                    <br>
                    <h3 style='text-align: center'>Melissa Stimell</h3>
                    <h4 style='text-align: center'>Academic Program Director</h4>
                    <hr>
                    Melissa Stimell is a Professor of the Practice in the Legal Studies Program at Brandeis
                    University, and Interim Director of the International Center for Ethics, Justice and Public
                    Life.
                    <br>
                </div>
            </div>
            <div class='partners__slide grid__item' style='height: 750px' data-aos="fade-up" data-aos-delay="200">
                <div class='card-body' style='border-radius: 30px'>
                    <img class='d-flex mr-3' src='https://www.brandeis.edu/ethics/images/DJW%20photo.jpg'
                         alt='David J. Weinstein'
                         style='width: 100%; height:400px; object-fit: cover; border-radius: 30px'>
                    <br>
                    <h3 style='text-align: center'>David J. Weinstein</h3>
                    <h4 style='text-align: center'>Assistant Director</h4>
                    <hr>
                    David Weinstein is Assistant Director of ENACT and Communications for the Ethics Center.
                    <br>
                </div>
            </div>
            <div class='partners__slide grid__item' style='height: 750px' data-aos="fade-up" data-aos-delay="400">
                <div id='carouselExampleSlidesOnly' class='carousel slide' data-ride='carousel'>
                    <div class='carousel-inner'>
                        <div class='carousel-item active'>
                            <div class='card-body' style='border-radius: 30px'>
                                <img class='d-flex mr-3'
                                     src='<%= facultyPaths[0][0] %>'
                                     alt='...'
                                     style='width: 100%; height: 400px; object-fit: cover; border-radius: 30px;'>
                                <br>
                                <h3 style='text-align: center'><%= facultyPaths[0][1] %></h3>
                                <h4 style='text-align: center'>Faculty Fellow</h4>
                                <hr>
                                <%= facultyPaths[0][2] %>
                                <br>
                            </div>
                        </div>
                        <% for (let i = 1; i < facultyPaths.length; i++) { %>
                            <div class='carousel-item'>
                                <div class='card-body' style='border-radius: 30px'>
                                    <img class='d-flex mr-3'
                                         src='<%= facultyPaths[i][0] %>'
                                         alt='...'
                                         style='width: 100%; height: 400px; object-fit: cover; border-radius: 30px;'>
                                    <br>
                                    <h3 style='text-align: center'><%= facultyPaths[i][1] %></h3>
                                    <h4 style='text-align: center'>Faculty Fellow</h4>
                                    <hr>
                                    <%= facultyPaths[i][2] %>
                                    <br>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <div class='partners__pagination'></div>
        <div class='clear'></div>
    </div>
</section>


<%- include('../components/footer'); -%>