<%- include('../components/header'); -%>

<script src='/js/navbar-index.js'></script>

<script>
    AOS.init();
</script>

<header class='header header--sticky'>
    <div class='header__content header__content--fluid-width'>
        <a class='header__logo-title' href='/'>
            <div class='card-body' style='background-color: transparent'>
                <div class='card-text'>
                    <img style='height: 70px; width: 70px'
                         src='https://www.brandeis.edu/ethics/images/enact/enactlogo.jpg' alt="ENACT logo">
                </div>
            </div>
        </a>
        <% if (!loggedIn) { %>
            <a class='header__logo-title-1' href='/'>
                THE EDUCATIONAL NETWORK<br>FOR ACTIVE CIVIC TRANSFORMATION
            </a>
        <% } %>
        <%- include('../components/navbar-common'); -%>
    </div>
</header>

<!-- Front intro -->
<section class='section section--intro section__grey' data-aos='fade-down' data-aos-duration='600'>
    <div class='section__content section__content--full-width' style='font-weight: 750;'>
        <div class='intro'>
            <div class='intro__content' data-aos="fade-right" data-aos-duration="600">
                <div class='intro__description' style='color: black; line-height: 165%'>
                    <b style='color: #0053a4'>ENACT: Educational Network for Active Civic Transformation</b> is a
                    national, non-partisan program engaging undergraduates at colleges and universities in
                    state-level legislative change.
                    <% if (!loggedIn) { %>
                        <a href="https://www.enactnetwork.org/about" class="btn btn-sm btn-warning">More About ENACT</a>
                    <% } %>
                    <br>
                    <% if (loggedIn && status === 'student') { %>
                        <b style="color: #FF9912">- ENACT Students & Alumni: </b> search student work. Network with students and alumni.
                        <br>
                    <% } else if (!loggedIn) { %>
                        <b style="color: #FF9912">- ENACT Students & Alumni: </b> search student work. Network with students and alumni.
                        <a href="/login" class="btn btn-sm btn-warning">Click to Login</a>
                        <br>
                    <% } %>
                    <% if (loggedIn && status === 'faculty' || loggedIn && status === 'admin') { %>
                        <b style="color: #FF9912">- ENACT Faculty Fellows: </b> access ENACT teaching resources and student work.
                        <br>
                    <% } else if (!loggedIn) { %>
                        <b style="color: #FF9912">- ENACT Faculty Fellows: </b> access ENACT teaching resources and student work.
                        <a href="/login" class="btn btn-sm btn-warning">Click to Login</a>
                        <br>
                    <% } %>
                    <% if (!loggedIn) { %>
                        <b style="color: #FF9912">- Public: </b> access student work on bills from across the U.S., including op-eds, issue research and more.
                    <% } %>
                </div>
                <div class='form-demo'>
                    <% if (loggedIn) { %>
                        <% if (status === 'admin' || status === 'faculty') { %>
                            <a href='/courses'>
                                <button class='form-demo__large fa' style="font-size: large; font-weight: 680">
                                    Courses &#xf02d
                                </button>
                            </a>
                            <a href='/resources/search/private/advanced'>
                                <button class='form-demo__large fa' style="font-size: large; font-weight: 680">
                                    Search Resources &#xf002
                                </button>
                            </a>
                            <a href='/resources/view/faculty'><input type='submit' name='submit'
                                                                     class='form-demo__large fa'
                                                                     style="font-size: large; font-weight: 680"
                                                                     value='Guide For Faculty &#xf14e'></a>
                        <% } else { %>
                            <a href='/resources/search/private/advanced'><input type='submit' name='submit'
                                                                                class='form-demo__large fa'
                                                                                style="font-size: large; font-weight: 680"
                                                                                value='Search Resources &#xf002;'></a>
                            <a href='/networking'><input type='submit' name='submit'
                                                         class='form-demo__large fa'
                                                         style="font-size: large; font-weight: 680"
                                                         value="Networking &#xf08c;"></a>

                        <% } %>
                    <% } else { %>
                        <a href='/resources/view/my/public/all'><input type='submit' name='submit'
                                                                       class='form-demo__large fa'
                                                                       style="font-size: large; font-weight: 680"
                                                                       value='Search Resources &#xf002'></a>
                        <a id="scrollToPlace1"><input type='submit' name='submit'
                                                      class='form-demo__large fa'
                                                      style="font-size: large; font-weight: 680"
                                                      value='Get Started &#8595;'></a>
                    <% } %>
                    <a id="scrollToPlace2"><input type='submit' name='submit'
                                                  class='form-demo__large fa'
                                                  style="font-size: large; font-weight: 680"
                                                  value='Intro Video &#8595;'></a>
                    <a id="scrollToPlace4"><input type='submit' name='submit'
                                                  class='form-demo__large fa'
                                                  style="font-size: large; font-weight: 680"
                                                  value='Upcoming Events &#8595;'></a>
                </div>
            </div>
        </div>
    </div>
    <!--    get started target-->
    <div style="margin-top: 100px" id="place1"></div>
</section>
<!-- ENACT Program intro -->
<section class='section section__grey'>
    <br><br><br>
    <h2 class='section__title section__title--centered'>Who we are & What you can do</h2>
    <br><br><br>
    <div class='section__content section__content--fluid-width section__content--padding--small'>
        <div class='grid grid--3col'>
            <div class='grid__item shadow-sm partners__slide__grey' style='min-height: 500px' data-aos='fade-up'>
                <h3 class='grid__title'><span>What We Do</span></h3>
                <p class='grid__text' style="font-size: larger; line-height: 145%">
                    The <b style='color: #0053a4'>ENACT: Educational Network for Active Civic Transformation</b> is a
                    national program
                    engaging undergraduates at colleges and universities in state-level legislative change by
                    learning
                    to work with legislators, staffers, and community organizations to advance policy. It is
                    becoming a
                    major voice in addressing challenges to American democracy by engaging young people around
                    the
                    country in civic activism built on knowledge, cooperation, justice and integrity.</p>
                <br>
                <br>
            </div>

            <div class='grid__item shadow-sm partners__slide__grey' style='min-height: 500px; background-color: black'
                 data-aos='fade-up'>
                <div id='carouselExampleControls' class='carousel slide' data-ride='carousel'>
                    <div class='carousel-inner'>
                        <div class='carousel-item active'>
                            <img src='<%= imagePaths[0] %>'
                                 style='width: 100%; height: 480px; object-fit: contain;'
                                 class='d-block w-100' alt='...'>
                            <div class='carousel-caption d-none d-md-block'
                                 style='right: 1%; left: 1%; color: black; background-color: white; opacity: 0.95; border-radius: 15px; padding: 4%'>
                                <p style="font-size: large; line-height: 110%"><%= labelPaths[0] %></p>
                            </div>
                        </div>
                        <% for (let i = 1; i < imagePaths.length; i++) { %>
                            <div class='carousel-item'>
                                <img src='<%= imagePaths[i] %>'
                                     style='width: 100%; height: 480px; object-fit: contain;'
                                     class='d-block w-100' alt='...'>
                                <div class='carousel-caption d-none d-md-block'
                                     style='right: 1%; left: 1%; color: black; background-color: white; opacity: 0.95; border-radius: 15px; padding: 4%'>
                                    <p style="font-size: large; line-height: 120%"><%= labelPaths[i] %></p>
                                </div>
                            </div>
                        <% } %>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <div class='grid__item shadow-sm partners__slide__grey' style='min-height: 500px' data-aos='fade-up'>
                <h3 class='grid__title'><span>The ENACT Model</span></h3>
                <p class='grid__text' style="font-size: large; line-height: 140%">
                    <b style='color: #0053a4'>• Workshop</b>: ENACT launched with a workshop at Brandeis University in
                    May 2016. Under the leadership of the program’s academic director, ENACT Fellows shared ideas and
                    work on course development.
                    <br>
                    <b style='color: #0053a4'>• Courses</b>: In ENACT courses students learn about participating in the
                    legislative and
                    advocacy process at the state level, with a substantial hands-on component in which they engage
                    directly in that process, as in the “Advocacy for Policy Change” course at Brandeis.
                    <!--                    See the full list of ENACT schools.-->
                    <br>
                    <b style='color: #0053a4'>• Online Network</b>: The ENACT Network is a national in-person and online
                    network of students, faculty, activists and legislators. It is a strategic and information hub for
                    state-level players that enables them to connect with counterparts throughout the country.</p>
                <br>
                <br>
            </div>
        </div>
        <div class='clear'></div>
    </div>
</section>

<!-- Public Resources Section -->
<section class='section diagonal-gradient'>
    <div class='section__content section__content--fluid-width section__content--padding'>
        <h2 class='section__title section__title--centered1' style="color: white" data-aos='fade-up'>Public resources</h2>
        <br><br><br>
        <% if (resourceInfo.length === 0) { %>
            <div class='shadow-sm card-body text-center' style="border-radius: 30px">
                <h4>No resource available yet</h4>
            </div>
        <% } %>
        <% for (let i = 0; i < resourceInfo.length && i < 3; i++) { %>
            <div class='shadow-sm card-body border-0' style='border-radius: 30px' data-aos='fade-up'>
                <h3><%= resourceInfo[i].name %></h3>
                <div class='card-text'>
                    <ul class='list-group'>
                        <li class='list-group-item borderless box-padding bg-transparent' style='font-size: large'>
                            <h5 style="display: inline">Description:</h5>
                            <%= resourceInfo[i].description %>
                        </li>
                        <li class='list-group-item borderless box-padding bg-transparent' style='font-size: large'>
                            <h5 style="display: inline">State:</h5>
                            <%= resourceInfo[i].state %>
                        </li>
                        <li class='list-group-item borderless box-padding bg-transparent' style='font-size: large'>
                            <h5 style="display: inline">Link:</h5>
                            <a href='<%= resourceInfo[i].uri %>'>click me</a>
                        </li>
                        <li class='list-group-item borderless box-padding bg-transparent' style='font-size: large'>
                            <h5 style="display: inline">Institution:</h5>
                            <%= resourceInfo[i].institution %>
                        </li>
                        <% if (resourceInfo[i].ownerName) { %>
                            <li class='list-group-item borderless box-padding bg-transparent' style='font-size: large'>
                                <h5 style="display: inline">Author:</h5>
                                <%= resourceInfo[i].ownerName %>
                            </li>
                        <% } %>
                        <li class='list-group-item borderless box-padding bg-transparent' style='font-size: large'>
                            <h5 style="display: inline">Topic(s)/Issue(s):</h5>
                            <%= resourceInfo[i].tags %>
                        </li>
                    </ul>
                </div>
            </div>
            <br>
        <% } %>
        <br>
        <br>
        <% if (status === 'admin') { %>
            <div class='text-center' data-aos='fade-up' data-aos-delay="100">
                <a href='/resources/manage/public'><input type='button' name='submit'
                                                          class='btn btn- btn-lg btn-light'
                                                          value='Manage Displayed Resources'></a>
            </div>
        <% } %>
        <br>
        <div class='text-center' data-aos='fade-up' data-aos-delay="100">
            <a href='/resources/view/my/public/all'><input type='button' name='submit'
                                                           class='btn btn-lg btn-light'
                                                           value='Find More Resources'></a>
        </div>
        <br>
        <div class='clear'></div>
    </div>
</section>


<!-- Events -->
<section class='section section__grey'>
    <div style="padding-top: 0px" id="place4"></div>
    <section class='section__content section__content--fluid-width'>
        <br><br><br>
        <h2 class='section__title section__title--centered' data-aos='fade-up'>Events</h2>
        <br><br><br>
        <% if (eventsInfo.length !== 0) { %>
            <% for (let i = 0; i < eventsInfo.length; i++) { %>
                <% if (loggedIn || eventsInfo[i].visibility === 'public') { %>
                    <div class='card border-0' style='border-radius: 30px' data-aos='fade-up'>
                        <div class='shadow-sm card-body'>
                            <h3><%= eventsInfo[i].title %></h3>
                            <div class='card-text'>
                                <ul class='list-group'>
                                    <li class='list-group-item borderless box-padding bg-transparent' style="font-size: large">
                                        <div class="row">
                                            <div class="col-md-9 col-sm-12" style="display: inline">
                                                <h5 style="display: inline; font-weight: 650">Description:</h5>
                                                <%= eventsInfo[i].description %>
                                            </div>
                                            <div class="col-md-3 col-sm-12 align-self-center"><img
                                                <% if (!eventsInfo[i].imageURL) { %>
                                                    src="https://www.brandeis.edu/ethics/images/enact/enactlogo.jpg"
                                                <% } else { %>
                                                    src="<%= eventsInfo[i].imageURL %>"
                                                        <% } %>
                                                    style="height: auto; max-width: 100%"></div>
                                        </div>
                                    </li>
                                    <% if (eventsInfo[i].start !== null && eventsInfo[i].end !== null) { %>
                                        <li class='list-group-item borderless box-padding bg-transparent' style="font-size: large">
                                            <h5 style="display: inline; font-weight: 650">Date: </h5>
                                            <p style="display: inline"
                                               class="TZChange"><%= eventsInfo[i].start %></p>
                                        </li>
                                        <li class='list-group-item borderless box-padding bg-transparent' style="font-size: large">
                                            <h5 style="display: inline; font-weight: 650">Start time: </h5>
                                            <p style="display: inline;"
                                               class="TZChange1"><%= eventsInfo[i].start %></p>
                                        </li>
                                        <li class='list-group-item borderless box-padding bg-transparent' style="font-size: large">
                                            <h5 style="display: inline; font-weight: 650">End time: </h5>
                                            <p style="display: inline;"
                                               class="TZChange1"><%= eventsInfo[i].end %></p>
                                        </li>
                                    <% } %>
                                    <% if (eventsInfo[i].uri !== null) { %>
                                        <li class='list-group-item borderless box-padding bg-transparent' style="font-size: large">
                                            <h5 style="display: inline; font-weight: 650">Link:</h5> <a
                                                    href="<%= eventsInfo[i].uri %>">click me</a>
                                        </li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <% if (i !== eventsInfo.length - 1) { %>
                        <br>
                    <% } %>
                <% } %>
            <% } %>
        <% } else { %>
            <div class='shadow-sm card-body text-center' style="border-radius: 30px">
                <h4>No events available yet</h4>
            </div>
        <% } %>
        <br><br><br>
        <div class='text-center' data-aos='fade-up' style="padding-bottom: 80px" data-aos-delay="100">
            <a href='/events'><input type='button' name='submit'
                                     class='btn btn-lg btn-primary'
                                     value='View more events'></a>
        </div>
    </section>
</section>

<!-- Join Us Section -->
<% if (!loggedIn) { %>
    <section class='section diagonal-gradient'>
        <br><br><br>
        <h2 class='section__title section__title--centered1' style="color: white" data-aos='fade-up'>Join Us</h2>
        <br><br><br>
        <div class='section__content section__content--fluid-width section__content--padding--small'>
            <div class='grid grid--2col'>
                <div class='grid__item partners__slide__grey' style="height: 450px" data-aos='fade-up'>
                    <h2 class='grid__title'><span>For Students</span></h2>
                    <p class='grid__text' style="font-size: larger; line-height: 150%">
                        • Are you a student in an ENACT course? Contact your professor for the PIN you need to login ,
                        create a profile. You will then be able to access all resources, and upload your own work.
                        Already have a profile? Login above to gain full access to the site.
                        <br>
                        • Are you an alum of an ENACT course? If you do not already have a profile, contact <a
                                href="mailto:enact@brandeis.edu">ENACT@brandeis.edu</a> to request a pin. Include the
                        year and school where you took the ENACT course.
                    </p>
                </div>
                <div class='grid__item partners__slide__grey' style="height: 450px" data-aos='fade-up'>
                    <h2 class='grid__title'><span>For Professors</span></h2>
                    <p class='grid__text' style="font-size: larger; line-height: 150%">
                        • Are you an ENACT Faculty Fellow? Login above to gain full access to the site.
                        <br>
                        • Are you interested in teaching an ENACT course? Contact <a href="mailto:enact@brandeis.edu">ENACT@brandeis.edu</a>.
                        <br>
                        • Are you an interested member of the public? Search publicly available resources created by
                        ENACT students from across the United States. You can browse, enter a keyword in the search box,
                        or search using any or all of the categories below. For example, search by content type, issue
                        area, state, and more.
                    </p>
                </div>
            </div>
            <div class='clear'></div>
        </div>
    </section>
<% } %>

<!-- Intro Video -->
<% if (!loggedIn) { %>
    <section class='section section__grey'>
        <section class='section__content section__content--small-width'>
            <br><br><br>
            <h2 class='section__title section__title--centered' data-aos='fade-up'>Intro Video</h2>
            <div id="place2"></div>
            <br><br><br>
            <video style="width: 100%" poster="/images/introVideo.png" controls>
                <source src="https://enact-resources.s3.us-east-2.amazonaws.com/Getting+to+Know+Enact+(With+Captions).mp4" type="video/mp4">
            </video>
            <br><br><br>
            <div class='text-center' id="scrollToPlace3">
                <input type='button' name='submit'
                       class='btn btn-lg btn-primary'
                       value='Back to Top'>
            </div>
            <br><br><br>
        </section>
    </section>
<% } else { %>
    <section class='section diagonal-gradient'>
        <section class='section__content section__content--small-width'>
            <br><br><br>
            <h2 class='section__title section__title--centered1' style="color: white" data-aos='fade-up'>Intro Video</h2>
            <div id="place2"></div>
            <br><br><br>
            <video style="width: 100%" poster="/images/introVideo.png" controls>
                <source src="https://enact-resources.s3.us-east-2.amazonaws.com/Getting+to+Know+Enact+(With+Captions).mp4" type="video/mp4">
            </video>
            <br><br><br>
            <div class='text-center' id="scrollToPlace3">
                <input type='button' name='submit'
                       class='btn btn-lg btn-light'
                       value='Back to Top'>
            </div>
            <br><br><br>
        </section>
    </section>
<% } %>


<script>
    $(document).ready(function () {
            $(".TZChange").each(function () {
                let oldDate = $(this).text()
                let newDate = new Date(oldDate)
                $(this).text(newDate.toLocaleDateString())
            })
            $(".TZChange1").each(function () {
                let today = new Date()
                let oldDate = $(this).text()
                let newDate = new Date(oldDate + today.getTimezoneOffset())
                let minutes = newDate.getMinutes()
                let hours = newDate.getHours()
                if (minutes.toString().length === 1)
                    minutes = '0' + minutes.toString()
                if (hours.toString().length === 1)
                    hours = '0' + hours.toString()
                $(this).text(hours + ':' + minutes)
            })
            $("#scrollToPlace1").click(function () {
                $('html,body').animate({scrollTop: ($("#place1").offset().top - 40)}, 'slow');
            });
            $("#scrollToPlace2").click(function () {
                $('html,body').animate({scrollTop: ($("#place2").offset().top - 40)}, 'slow');
            });
            $("#scrollToPlace3").click(function () {
                $('html,body').animate({scrollTop: (0)}, 'slow');
            });
            $("#scrollToPlace4").click(function () {
                $('html,body').animate({scrollTop: ($("#place4").offset().top - 40)}, 'slow');
            });
        }
    )
</script>

<%- include('../components/footer'); -%>