<%- include('../components/header'); -%>

<script src='/js/menu1.js'></script>

<script>
    AOS.init();
</script>

<header class='header header--sticky'>
    <div class='header__content header__content--fluid-width'>
        <a class='header__logo-title' href='/'>
            <div class='card-body' style='background-color: transparent'>
                <div class='card-text'>
                    <img style='height: 70px; width: 70px'
                         src='https://www.brandeis.edu/ethics/images/enact/enactlogo.jpg' alt="ENACT logo">
                </div>
            </div>
        </a>
        <% if (!loggedIn) { %>
            <a class='header__logo-title-1' style='margin-left: -10px' href='/'>
                <b>THE EDUCATIONAL NETWORK
                    <br>
                    FOR ACTIVE CIVIC TRANSFORMATION</b>
            </a>
        <% } %>
        <%- include('../components/navbar-common'); -%>
    </div>
</header>

<!-- Front intro -->
<section class='section section--intro section__grey' data-aos='fade-down' data-aos-duration='600'>
    <div class='section__content section__content--full-width' style='font-weight: 800;'>
        <div class='intro'>
            <div class='intro__content'>
                <div class='intro__subtitle' style='color: white;'>
                    “The most important office, and the one which all of
                    us can and should fill, is that of private citizen.”
                </div>
                <div class='intro__subtitle' style='color: lightgreen'> - Supreme Court Justice Louis D. Brandeis
                </div>
                <% if (loggedIn) { %>
                    <% if (status === 'admin' || status === 'faculty') { %>
                        <div class='form-demo'>
                            <a href='/courses'><input type='submit' name='submit' class='form-demo__large'
                                                      value='MANAGE/CREATE COURSES'></a>
                            <a href='/resources/search/private/advanced'><input type='submit' name='submit'
                                                                                class='form-demo__large'
                                                                                value='FIND RESOURCES'></a>
                            <a href='/resources/view/faculty'><input type='submit' name='submit'
                                                                     class='form-demo__large'
                                                                     value='FACULTY GUIDE'></a>
                        </div>
                    <% } else { %>
                        <div class='form-demo'>
                            <a href='/resources/search/private/advanced'><input type='submit' name='submit'
                                                                                class='form-demo__large'
                                                                                value='FIND RESOURCES'></a>
                        </div>
                    <% } %>
                    <br>
                <% } else { %>
                    <br>
                    <a href='/resources/view/public/all'>
                        <input type='submit' name='submit' class='form-demo__large'
                               value='PUBLIC RESOURCES'></a>
                <% } %>
            </div>
        </div>
    </div>
</section>

<!-- ENACT Program intro -->
<section class='section section__grey'>
    <br><br><br>
    <h2 class='section__title section__title--centered'>What you can do</h2>
    <br>
    <div class='section__content section__content--fluid-width section__content--padding--small'>
        <div class='grid grid--2col'>
            <div class='grid__item partners__slide__grey' style='height: 500px' data-aos='fade-up'>
                <% if (loggedIn) { %>
                    <a href="/resources/search/private/advanced"><h3 class='grid__title'><span>Find what you want</span>
                        </h3></a>
                    <a href="/resources/search/private/advanced"><img src="/images/search.jpg" style="height: 70%"
                                                                      align="right"></a>
                <% } else { %>
                    <a href="/resources/search/public/advanced"><h3 class='grid__title'><span>Find what you want</span>
                        </h3></a>
                    <a href='/resources/search/public/advanced'><img src="/images/search.jpg" style="height: 70%"
                                                                     align="right"></a>
                <% } %>
                <p class='grid__text' style="font-size: larger; line-height: 135%">
                    The ENACT Network is a national in-person and online
                    network of students, faculty, activists and legislators. It is a strategic and information hub for
                    state-level players that enables them to connect with counterparts throughout the country.
                    <br><br>
                </p>
            </div>
            <div class='grid__item partners__slide__grey' style='height: 500px' data-aos='fade-up'>
                <% if (loggedIn) { %>
                    <a href="/profiles/view/all"><h3 class='grid__title'><span>Networking</span></h3></a>
                    <a href="/profiles/view/all"><img src="/images/networking.jpg" style="height: 65%"
                                                      align="right"></a>
                <% } else { %>
                    <h3 class='grid__title'><span>Networking (Login to use)</span></h3>
                    <img src="/images/networking.jpg" style="height: 65%" align="right">
                <% } %>
                <p class='grid__text' style="font-size: larger; line-height: 135%">
                    The ENACT Network is a national in-person and online
                    network of students, faculty, activists and legislators. It is a strategic and information hub for
                    state-level players that enables them to connect with counterparts throughout the country.
                    <br><br>
                </p>
            </div>
        </div>
        <div class='clear'></div>
    </div>
</section>

<!-- Public Resources Section -->
<section class='section diagonal-gradient'>
    <div class='section__content section__content--fluid-width section__content--padding' data-aos='fade-up'>
        <h2 class='section__title section__title--centered' style="color: white">Public resources</h2>
        <br><br><br>
        <% if (resourceInfo.length === 0) { %>
            <div class='card-body text-center' style="border-radius: 30px">
                <h4>No resource available yet</h4>
            </div>
        <% } %>
        <% for (let i = 0; i < resourceInfo.length && i < 3; i++) { %>
            <div class='card-body border-0' style='border-radius: 30px' data-aos='fade-up'>
                <h4>
                    <%= resourceInfo[i].name %>
                </h4>
                <div class='card-text'>
                    <ul class='list-group'>
                        <li class='list-group-item borderless box-padding'>
                            <b>Description: </b>
                            <%= resourceInfo[i].description %>
                        </li>
                        <li class='list-group-item borderless box-padding'>
                            <b>State:</b>
                            <%= resourceInfo[i].state %>
                        </li>
                        <li class='list-group-item borderless box-padding'>
                            <b>Link: </b>
                            <a href='<%= resourceInfo[i].uri %>'><%= resourceInfo[i].uri %></a>
                        </li>
                        <li class='list-group-item borderless box-padding'>
                            <b>Institution: </b>
                            <%= resourceInfo[i].institution %>
                        </li>
                        <li class='list-group-item borderless box-padding'>
                            <b>Categories:</b>
                            <%= resourceInfo[i].tags %>
                        </li>
                    </ul>
                </div>
            </div>
            <br>
        <% } %>
        <br>
        <br>
        <% if (status === 'admin') { %>
            <div class='text-center' data-aos='fade-up' data-aos-delay="100">
                <a href='/managePublicResources'><input type='button' name='submit'
                                                        class='btn btn- btn-lg btn-light'
                                                        value='Manage Displayed Resources'></a>
            </div>
        <% } %>
        <br>
        <div class='text-center' data-aos='fade-up' data-aos-delay="100">
            <a href='/resources/view/public/all'><input type='button' name='submit'
                                                        class='btn btn-lg btn-light'
                                                        value='Find More Resources'></a>
        </div>
        <br>
        <div class='clear'></div>
    </div>
</section>


<!-- Calendar -->
<section class='section section__grey'>
    <h2 class='section__title section__title--centered' style="padding-top: 80px">Events</h2>
    <section class='section__content section__content--fluid-width'>
        <% if (eventsInfo.length !== 0) { %>
            <% for (let i = 0; i < eventsInfo.length; i++) { %>
                <% if (loggedIn || eventsInfo[i].visibility === 'public') { %>
                    <div class='card border-0' style='border-radius: 30px'>
                        <div class='card-body'>
                            <h3><%= eventsInfo[i].title %></h3>
                            <div class='card-text' style="font-size: 17px">
                                <ul class='list-group'>
                                    <li class='list-group-item borderless box-padding'>
                                        <b>Description: </b> <%= eventsInfo[i].description %>
                                    </li>
                                    <% if (eventsInfo[i].start !== null) { %>
                                        <li class='list-group-item borderless box-padding'>
                                            <b>Starts at:</b>
                                            <%= eventsInfo[i].start %>
                                        </li>
                                    <% } %>
                                    <% if (eventsInfo[i].end !== null) { %>
                                        <li class='list-group-item borderless box-padding'>
                                            <b>Ends at:</b>
                                            <%= eventsInfo[i].end %>
                                        </li>
                                    <% } %>
                                    <% if (eventsInfo[i].uri !== null) { %>
                                        <li class='list-group-item borderless box-padding'>
                                            <b>Link: </b> <a
                                                    href="<%= eventsInfo[i].uri %>"><%= eventsInfo[i].uri %></a>
                                        </li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <% if (i !== eventsInfo.length - 1) { %>
                        <br>
                    <% } %>
                <% } %>
            <% } %>
        <% } else { %>
            <div class='card-body text-center' style="border-radius: 30px">
                <h4>No events available yet</h4>
            </div>
        <% } %>
        <br><br><br>
        <div class='text-center' data-aos='fade-up' style="padding-bottom: 80px" data-aos-delay="100">
            <a href='/events'><input type='button' name='submit'
                                     class='btn btn-lg btn-primary'
                                     value='View more events'></a>
        </div>
    </section>
</section>


<!-- Section -->
<section class='section diagonal-gradient'>
    <div class='section__content section__content--fluid-width section__content--padding'>
        <h2 class='section__title section__title--centered' style='color: white'>ENACT Faculty</h2>
        <br>
        <div class='grid grid--3col'>
            <div class='partners__slide grid__item' style='height: 750px' data-aos="fade-up">
                <div class='card-body' style='border-radius: 30px'>
                    <img class='d-flex'
                         src='https://www.brandeis.edu/ethics/images/advocacy/mstimell01_cropped.jpg'
                         alt='Melissa Stimell'
                         style='width: 100%; height:400px; object-fit: cover; border-radius: 30px'>
                    <br>
                    <h3 style='text-align: center'>Melissa Stimell</h3>
                    <h4 style='text-align: center'>Academic Program Director</h4>
                    <hr>
                    <p style="font-size: 18px">Melissa Stimell is a Professor of the Practice in the Legal Studies
                        Program at Brandeis
                        University, and Interim Director of the International Center for Ethics, Justice and Public
                        Life.
                    </p>
                    <br>
                </div>
            </div>
            <div class='partners__slide grid__item' style='height: 750px' data-aos="fade-up" data-aos-delay="200">
                <div class='card-body' style='border-radius: 30px'>
                    <img class='d-flex mr-3' src='https://www.brandeis.edu/ethics/images/DJW%20photo.jpg'
                         alt='David J. Weinstein'
                         style='width: 100%; height:400px; object-fit: cover; border-radius: 30px'>
                    <br>
                    <h3 style='text-align: center'>David J. Weinstein</h3>
                    <h4 style='text-align: center'>Assistant Director</h4>
                    <hr>
                    <p style="font-size: 18px">David Weinstein is Assistant Director of ENACT and Communications for the
                        Ethics Center.</p>
                    <br>
                </div>
            </div>
            <div class='partners__slide grid__item' style='height: 750px' data-aos="fade-up" data-aos-delay="400">
                <div id='carouselExampleSlidesOnly' class='carousel slide' data-ride='carousel'>
                    <div class='carousel-inner'>
                        <div class='carousel-item active'>
                            <div class='card-body' style='border-radius: 30px'>
                                <img class='d-flex mr-3'
                                     src='<%= facultyPaths[0][0] %>'
                                     alt='...'
                                     style='width: 100%; height: 400px; object-fit: cover; border-radius: 30px;'>
                                <br>
                                <h3 style='text-align: center'><%= facultyPaths[0][1] %></h3>
                                <h4 style='text-align: center'>Faculty Fellow</h4>
                                <hr>
                                <p style="font-size: 18px"><%= facultyPaths[0][2] %></p>
                                <br>
                            </div>
                        </div>
                        <% for (let i = 1; i < facultyPaths.length; i++) { %>
                            <div class='carousel-item'>
                                <div class='card-body' style='border-radius: 30px'>
                                    <img class='d-flex mr-3'
                                         src='<%= facultyPaths[i][0] %>'
                                         alt='...'
                                         style='width: 100%; height: 400px; object-fit: cover; border-radius: 30px;'>
                                    <br>
                                    <h3 style='text-align: center'><%= facultyPaths[i][1] %></h3>
                                    <h4 style='text-align: center'>Faculty Fellow</h4>
                                    <hr>
                                    <p style="font-size: 18px"><%= facultyPaths[i][2] %></p>
                                    <br>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <div class='partners__pagination'></div>
        <div class='clear'></div>
    </div>
</section>

<%- include('../components/footer'); -%>