<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<section class='section section__grey' data-aos='fade-up' style="height: 100%; padding-top: 8%">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <% if (secret === 'general') { %>
                            <h5 class="card-title text-center"><b>Sign In / Sign Up</b></h5>
                        <% } else if (secret === 'redirect') { %>
                            <h5 class="card-title text-center"><b>To View Messages, please Sign In / Sign up</b></h5>
                        <% } %>
                        <form class="form-signin"
                        <% if (secret === 'general') { %>
                              action="/login"
                        <% } else if (secret === 'redirect') { %>
                              action="/login/messages/view/<%= req.params.sender %>/<%= req.params.receiver %>/<%= req.params.resourceId %>"
                                <% } %>
                              method="post">
                            <div class="form-label-group">
                                <input type="text" name="email" id="Username" class="form-control"
                                       placeholder="Username"
                                       required autofocus>
                                <label for="Username">Email</label>
                            </div>

                            <div class="form-label-group">
                                <input type="password" name="password" id="inputPassword" class="form-control"
                                       placeholder="Password"
                                       required>
                                <label for="inputPassword">Password</label>
                            </div>
                            If you are an ENACT member, please <a href="/signup">SIGN UP</a>
                            <br>
                            Forgot Password? <a href="/reset">RESET PASSWORD</a>
                            <br>
                            <br>

                            <input name="submit" class="btn btn-lg btn-primary btn-block text-uppercase" value="sign in"
                                   type="submit">
                            <hr class="my-4">
                            <% if (secret === 'general') { %>
                                <a href="/auth/google" class="btn btn-lg btn-google btn-block text-uppercase"><i
                                            class="fa fa-google mr-2"></i> Sign in with Google
                                </a>
                            <% } else if (secret === 'redirect') { %>
                                <a href="/auth/google/messages"
                                   class="btn btn-lg btn-google btn-block text-uppercase"><i
                                            class="fa fa-google mr-2"></i> Sign in with Google
                                </a>
                            <% } %>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('../components/footer'); -%>
