<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<script src='/js/authorship.js'></script>
<script src='/js/editModalAjax.js'></script>

<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                My Resources
            </div>
        </div>
    </div>
</section>

<section class='section section__grey' data-aos='fade-up'>
    <section class='section__content section__content--fluid-width'>
        <div class='container'>
            <div class='row'>
                <% if (loggedIn) { %>
                    <div class='col-md-12 col-sm-12'>
                        <% if (resourceInfo && resourceInfo.length > 0) { %>
                            <% for (let i = resourceInfo.length - 1; i >= 0; i--) { %>
                                <div class='shadow-sm card-body' style="margin-bottom: 20px">
                                    <h3><%= resourceInfo[i].name %></h3>
                                    <div class='card-text'>
                                        <ul class='list-group'>
                                            <li class='list-group-item borderless box-padding' style='font-size: large'>
                                                <h5 style="display: inline">
                                                    Description:</h5> <%= resourceInfo[i].description %></li>
                                            <li class='list-group-item borderless box-padding' style='font-size: large'>
                                                <h5 style="display: inline">
                                                    Year:</h5> <%= resourceInfo[i].yearOfCreation %>
                                            </li>
                                            <li class='list-group-item borderless box-padding' style='font-size: large'>
                                                <h5 style="display: inline">State:</h5> <%= resourceInfo[i].state %>
                                            </li>
                                            <% if (resourceInfo[i].mediaType === 'video') { %>
                                                <li class='list-group-item borderless box-padding' style='font-size: large'>
                                                    <video style="width: 100%; max-width: 400px" controls>
                                                        <source src="<%= resourceInfo[i].uri %>" type="video/mp4">
                                                    </video>
                                                </li>
                                            <% } else { %>
                                                <li class='list-group-item borderless box-padding' style='font-size: large'>
                                                    <h5 style="display: inline">Link:</h5> <a
                                                            href='<%= resourceInfo[i].uri %>'>click me</a>
                                                </li>
                                            <% } %>
                                            <li class='list-group-item borderless box-padding' style='font-size: large'>
                                                <h5 style="display: inline">
                                                    Institution:</h5> <%= resourceInfo[i].institution %>
                                            </li>
                                            <li class='list-group-item borderless box-padding' style='font-size: large'>
                                                <h5 style="display: inline">
                                                    Author:</h5> <%= resourceInfo[i].ownerName %>
                                            </li>
                                            <% if (resourceInfo[i].tags.length >= 1 && resourceInfo[i].tags[0].length !== 0) { %>
                                                <li class='list-group-item borderless box-padding' style='font-size: large'>
                                                    <h5 style="display: inline">
                                                        Topic(s)/Issue(s):</h5> <%= resourceInfo[i].tags %>
                                                </li>
                                            <% } %>
                                            <li class='list-group-item borderless box-padding'
                                                style='display: inline'>
                                                <h5 style="display: inline">Status:</h5>
                                                <% if (resourceInfo[i].checkStatus === 'approve') { %>
                                                    <div class='alert alert-success'
                                                         style='display: inline; padding: 0.25rem; margin-bottom: 0; position: relative; border: 1px solid transparent;'
                                                         role='alert'>
                                                        <b>Approved</b>
                                                    </div>
                                                    <br>
                                                    <br>
                                                    <h5 class='text-danger'>Notice: editing will
                                                        require new approval by faculty</h5>
                                                <% } else if (resourceInfo[i].checkStatus === 'deny'){ %>
                                                    <div class='alert alert-danger'
                                                         style='display: inline; padding: 0.25rem; margin-bottom: 0; position: relative; border: 1px solid transparent;'
                                                         role='alert'>
                                                        <b>Modification required</b>
                                                    </div>
                                                <% } else if(resourceInfo[i].checkStatus === 'underReview'){ %>
                                                    <div class='alert alert-warning'
                                                         style='display: inline; padding: 0.25rem; margin-bottom: 0; position: relative; border: 1px solid transparent;'
                                                         role='alert'>
                                                        <b>Under review</b>
                                                    </div>
                                                <% } else{ %>
                                                    <div class='alert alert-warning'
                                                         style='display: inline; padding: 0.25rem; margin-bottom: 0; position: relative; border: 1px solid transparent;'
                                                         role='alert'>
                                                        <b>In reviewing progress</b>
                                                    </div>
                                                    <br>
                                                    <br>
                                                    <h5 class='text-danger'>Notice: editing will
                                                        require new approval by faculty</h5>
                                                <% } %>
                                            </li>
                                            <% if (resourceInfo[i].review != null && resourceInfo[i].review != undefined) { %>
                                                <li class='list-group-item borderless box-padding' style='font-size: large'>
                                                    <h5 style="display: inline">Comments from
                                                        Professor:</h5> <%= resourceInfo[i].review %></li>
                                            <% } %>
                                            <li class='list-group-item borderless box-padding'
                                                style='display: inline'>
                                                <h5 style="display: inline">Actions:</h5>
                                                <button id="<%= resourceInfo[i]._id %>" type='button'
                                                        class='editBtn btn btn-outline-info'

                                                        data-toggle='modal'
                                                        data-target='#editModal'>
                                                    Edit
                                                </button>
                                                <button id="<%= resourceInfo[i]._id %>" type='button'
                                                        class='deleteBtn btn btn-outline-danger'

                                                        data-toggle='modal'
                                                        data-target='#deleteModal'>
                                                    Delete
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            <% } %>
                        <% } else { %>
                            <div class='shadow-sm card-body text-center'>
                                No resource available yet
                            </div>
                        <% } %>
                    </div>
                <% } else { %>
                    <%- include('../components/component-loginToView'); -%>
                <% } %>
            </div>
        </div>
    </section>
</section>

<%- include('../components/component-editModal'); -%>

<%- include('../components/footer'); -%>