<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<script src="/js/authorship.js"></script>
<script src="/js/editModalAjax.js"></script>

<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                My Resources
            </div>
        </div>
    </div>
</section>

<section class='section section__grey' data-aos='fade-up'>
    <section class='section__content section__content--fluid-width'>
        <div class='container'>
            <div class='row'>
                <% if (loggedIn) { %>
                    <div class='col-md-12 col-sm-12'>
                        <% if (resourceInfo && resourceInfo.length > 0) { %>
                            <% for (let i = resourceInfo.length - 1; i >= 0; i--) { %>
                                <div class='card-body' style="margin-bottom: 20px">
                                    <h3><%= resourceInfo[i].name %></h3>
                                    <div class='card-text'>
                                        <ul class='list-group'>
                                            <li class='list-group-item borderless box-padding'>
                                                <h5 style="display: inline">
                                                    Description:</h5> <%= resourceInfo[i].description %></li>
                                            <li class='list-group-item borderless box-padding'>
                                                <h5 style="display: inline">
                                                    Year:</h5> <%= resourceInfo[i].yearOfCreation %>
                                            </li>
                                            <li class='list-group-item borderless box-padding'>
                                                <h5 style="display: inline">State:</h5> <%= resourceInfo[i].state %>
                                            </li>
                                            <% if (resourceInfo[i].mediaType === 'video') { %>
                                                <li class='list-group-item borderless box-padding'>
                                                    <video width="400" controls>
                                                        <source src="<%= resourceInfo[i].uri %>" type="video/mp4">
                                                    </video>
                                                </li>
                                            <% } else { %>
                                                <li class='list-group-item borderless box-padding'>
                                                    <h5 style="display: inline">Link:</h5> <a
                                                            href='<%= resourceInfo[i].uri %>'>click me</a>
                                                </li>
                                            <% } %>
                                            <li class='list-group-item borderless box-padding'>
                                                <h5 style="display: inline">
                                                    Institution:</h5> <%= resourceInfo[i].institution %>
                                            </li>
                                            <li class='list-group-item borderless box-padding'>
                                                <h5 style="display: inline">
                                                    Author:</h5> <%= resourceInfo[i].ownerName %>
                                            </li>
                                            <% if (resourceInfo[i].tags.length >= 1 && resourceInfo[i].tags[0].length !== 0) { %>
                                                <li class='list-group-item borderless box-padding'>
                                                    <h5 style="display: inline">
                                                        Topic(s)/Issue(s):</h5> <%= resourceInfo[i].tags %>
                                                </li>
                                            <% } %>
                                            <li class='list-group-item borderless box-padding'>
                                                <h5 style="display: inline">Actions:</h5>
                                                <button id="<%= resourceInfo[i]._id %>" type='button'
                                                        class='editBtn btn btn-outline-info'
                                                        style='border:0 solid transparent'
                                                        data-toggle='modal'
                                                        data-target='#editModal'>
                                                    Edit
                                                </button>
                                                <button id="<%= resourceInfo[i]._id %>" type='button'
                                                        class='deleteBtn btn btn-outline-danger'
                                                        style='border:0px solid transparent'
                                                        data-toggle='modal'
                                                        data-target='#deleteModal'>
                                                    Delete
                                                </button>
                                                <% if (status === 'admin') { %>
                                                    <a href='/resource/update/<%= resourceInfo[i]._id %>/my'>
                                                        <input class='btn btn-outline-primary'
                                                               style='border:0px solid transparent'
                                                               type='button' value='Change author'></a>
                                                <% } %>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            <% } %>
                        <% } else { %>
                            <div class='card-body text-center'>
                                No resource available yet
                            </div>
                        <% } %>
                    </div>
                <% } else { %>
                    <%- include('../components/component-loginToView'); -%>
                <% } %>
            </div>
        </div>
    </section>
</section>

<%- include('../components/component-editModal'); -%>

<%- include('../components/footer'); -%>