<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<script src='/js/searchComplete.js'></script>
<script src="/js/disableautofill.js"></script>
<script>
    $('input[autofill="off"]').disableAutofill();
</script>

<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                Find Public Resources
            </div>
            <br>
            <div class='text-center' data-aos='fade-up' data-aos-delay="100">
                <h4>Search publicly available resources created by ENACT students from across the United States. <br>You
                    can
                    browse, enter a keyword in the search box, or search using any or all of the categories in the
                    advanced search. <br>For example, search by content type, issue area, state, and more.</h4>
                <br>
                <a href='/contact'><input type='button' name='submit'
                                          class='btn btn-lg btn-outline-primary'
                                          value='Contact Us to join ENACT'></a>
            </div>
        </div>
    </div>
</section>

<section class='section section__grey' data-aos='fade-up'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-3 col-sm-12'></div>
            <div class='col-md-6 col-sm-12'>
                <form method='post' action='/resources/view/public/generalResult'>
                    <div class='input-group-prepend'>
                        <input autofill="off" autocomplete="off" id="resources" type='text' class='form-control'
                               name='search'
                               placeholder='Search for anything'>
                        &nbsp&nbsp&nbsp
                        <input type='submit' name='submit' class='btn btn-dark' value='Search'>
                        &nbsp&nbsp&nbsp
                        <a href='/resources/search/public/advanced' class='btn btn-large btn-warning'
                           style='width: 300px'>Advanced
                            Search</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class='section section__grey' data-aos='fade-up'>
    <section class='section__content section__content--fluid-width'>
        <div class='container'>
            <div class='row'>
                <div class='col-md-12 col-sm-12'>
                    <h3>All Public Resources</h3>
                    <hr>
                    <% if (resourceInfo && resourceInfo.length > 0) { %>
                        <% for (let i = resourceInfo.length - 1; i >= 0; i--) { %>
                            <div class='card-body'>
                                <h4><%= resourceInfo[i].name %></h4>
                                <div class='card-text'>
                                    <ul class='list-group'>
                                        <li class='list-group-item borderless box-padding'>
                                            <b>Description: </b> <%= resourceInfo[i].description %></li>
                                        <li class='list-group-item borderless box-padding'>
                                            <b>Year: </b> <%= resourceInfo[i].yearOfCreation %>
                                        </li>
                                        <li class='list-group-item borderless box-padding'>
                                            <b>State:</b> <%= resourceInfo[i].state %></li>
                                        <% if (resourceInfo[i].mediaType === 'video') { %>
                                            <li class='list-group-item borderless box-padding'>
                                                <video width="400" controls>
                                                    <source src="<%= resourceInfo[i].uri %>" type="video/mp4">
                                                </video>
                                            </li>
                                        <% } else { %>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>Link: </b> <a href='<%= resourceInfo[i].uri %>'>click me</a>
                                            </li>
                                        <% } %>
                                        <li class='list-group-item borderless box-padding'>
                                            <b>Institution: </b> <%= resourceInfo[i].institution %>
                                        </li>
                                        <li class='list-group-item borderless box-padding'>
                                            <b>Author: </b> <%= resourceInfo[i].ownerName %>
                                        </li>
                                        <% if (resourceInfo[i].tags.length >= 1 && resourceInfo[i].tags[0].length !== 0) { %>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>Tags:</b> <%= resourceInfo[i].tags %>
                                            </li>
                                        <% } %>
                                    </ul>
                                </div>
                            </div>
                            <% if (i !== 0) { %>
                                <br>
                            <% } %>
                        <% } %>
                    <% } else { %>
                        <div class='card-body text-center'>
                            No resource available yet
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </section>
</section>

<%- include('../components/footer'); -%>