<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<script src='/js/editModal.js'></script>
<script src='/js/editModalAjax.js'></script>


<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                Manage Public Resources on Home Page
            </div>
        </div>
    </div>
</section>

<%
let pred_disp = false
let pred_not_disp = false
for (let i = 0; i < resourceInfo.length; i++) {
    if (resourceInfo[i].status === 'finalPublic') {
        pred_disp = true
    }
    if (resourceInfo[i].status === 'public') {
        pred_not_disp = true
    }
}
%>

<section class='section section__grey' data-aos='fade-up'>
    <div class='container'>
        <h3>Select one to display</h3>
        <hr>
        <% if (!pred_not_disp) { %>
            <div class='card-body text-center' style="border-radius: 30px">
                <h4>No more resources can be displayed on the front page</h4>
            </div>
        <% } else{ %>
            <% let num = 0 %>
            <% for (let i = 0; i < resourceInfo.length; i++) { %>
                <% if (resourceInfo[i].status === 'finalPublic') { %>
                    <% num = num + 1 %>
                <% } %>
            <% } %>
            <% if (num >= 3) { %>
                <div class='card-body text-center' style="border-radius: 30px">
                    <h4>There are only three spots for public resources on the home page. Please remove one
                        resources below if you want to add in a new one.</h4>
                </div>
            <% } else { %>
                <% for (let i = 0; i < resourceInfo.length; i++) { %>
                    <% if (resourceInfo[i].status === 'public') { %>
                        <div class='card-body'>
                            <h4>
                                <%= resourceInfo[i].name %>
                            </h4>
                            <div class='card-text'>
                                <ul class='list-group'>
                                    <li class='list-group-item borderless box-padding'>
                                        <b>Description: </b>
                                        <%= resourceInfo[i].description %>
                                    </li>
                                    <li class='list-group-item borderless box-padding'>
                                        <b>State: </b>
                                        <%= resourceInfo[i].state %>
                                    </li>
                                    <li class='list-group-item borderless box-padding'>
                                        <b>Year: </b>
                                        <%= resourceInfo[i].yearOfCreation %>
                                    </li>
                                    <li class='list-group-item borderless box-padding'>
                                        <b>Link: </b>
                                        <a href='<%= resourceInfo[i].uri %>'>Click me</a>
                                    </li>
                                    <li class='list-group-item borderless box-padding'>
                                        <b>Institution: </b>
                                        <%= resourceInfo[i].institution %>
                                    </li>
                                    <li class='list-group-item borderless box-padding'>
                                        <b>Categories:</b>
                                        <%= resourceInfo[i].tags %>
                                    </li>
                                    <li class='list-group-item borderless box-padding'>
                                        <b>Actions:</b>
                                        <% if (status === 'admin' || status === 'faculty' || resourceInfo[i].ownerId.toString() === user._id.toString()) { %>
                                            <button type='button' class='btn btn-outline-info'
                                                    style='border:0 solid transparent' data-toggle='modal'
                                                    data-target='#editModal<%= resourceInfo[i]._id %>'>
                                                Edit
                                            </button>
                                            <button type='button' class='btn btn-outline-danger'
                                                    style='border:0px solid transparent'
                                                    data-toggle='modal'
                                                    data-target='#selectModal<%= resourceInfo[i]._id %>'>
                                                Display
                                            </button>
                                        <% } %>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <br>
                    <% } %>
                <% } %>
            <% } %>
        <% } %>
    </div>
    <br>
    <div class='container'>
        <h3>Displayed public resources</h3>
        <hr>
        <% if (!pred_disp) { %>
            <div class='card-body text-center' style="border-radius: 30px">
                <h4>No resource is displayed on the front page</h4>
            </div>
        <% } %>
        <% for (let i = 0; i < resourceInfo.length; i++) { %>
            <% if (resourceInfo[i].status === 'finalPublic') { %>
                <div class='card-body' style="border-radius: 30px">
                    <h4>
                        <%= resourceInfo[i].name %>
                    </h4>
                    <div class='card-text'>
                        <ul class='list-group'>
                            <li class='list-group-item borderless box-padding'>
                                <b>Description: </b>
                                <%= resourceInfo[i].description %>
                            </li>
                            <li class='list-group-item borderless box-padding'>
                                <b>State: </b>
                                <%= resourceInfo[i].state %>
                            </li>
                            <li class='list-group-item borderless box-padding'>
                                <b>Year: </b>
                                <%= resourceInfo[i].yearOfCreation %>
                            </li>
                            <li class='list-group-item borderless box-padding'>
                                <b>Link: </b>
                                <a href='<%= resourceInfo[i].uri %>'>Click me</a>
                            </li>
                            <li class='list-group-item borderless box-padding'>
                                <b>Institution: </b>
                                <%= resourceInfo[i].institution %>
                            </li>
                            <li class='list-group-item borderless box-padding'>
                                <b>Categories:</b>
                                <%= resourceInfo[i].tags %>
                            </li>
                            <li class='list-group-item borderless box-padding'>
                                <b>Actions:</b>
                                <% if (status === 'admin' || status === 'faculty' || resourceInfo[i].ownerId.toString() === user._id.toString()) { %>
                                    <button id="<%= resourceInfo[i]._id %>" type='button'
                                            class='editBtn btn btn-outline-info'
                                            style='border:0 solid transparent'
                                            data-toggle='modal'
                                            data-target='#editModal'>
                                        Edit
                                    </button>
                                    <button type='button' class='btn btn-outline-danger'
                                            style='border:0px solid transparent'
                                            data-toggle='modal'
                                            data-target='#removeModal<%= resourceInfo[i]._id %>'>
                                        Remove
                                    </button>
                                <% } %>
                            </li>
                        </ul>
                    </div>
                </div>
                <br>
            <% } %>
        <% } %>
    </div>
</section>

<% if (resourceInfo) { %>
    <% for (let i = resourceInfo.length - 1; i >= 0; i--) { %>
        <!-- Modal -->
        <div class='modal fade' id='removeModal<%= resourceInfo[i]._id %>' tabindex='-1' role='dialog'
             aria-labelledby='exampleModalLabel'
             aria-hidden='true'>
            <div class='modal-dialog modal-lg' role='document'>
                <div class='modal-content'>
                    <div class='modal-header'>
                        <h5 class='modal-title' id='exampleModalLabel'>Remove?</h5>
                        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                            <span aria-hidden='true'>&times;</span>
                        </button>
                    </div>
                    <div class='modal-body'>
                        <div class='row'>
                            <div class='col-md-12 col-sm-12'>
                                <h5>Are you sure you want to remove this resource as a displayed public resource?</h5>
                                <h5>(The resource itself will not be deleted)</h5>
                            </div>
                        </div>
                    </div>
                    <div class='modal-footer'>
                        <form method='post' action='/resource/hide/<%= resourceInfo[i]._id %>'>
                            <input type='submit' name='submit' class='btn btn-outline-danger' value='Remove'>
                        </form>
                        <button type='button' id='closeBtn' class='btn btn-outline-secondary' data-dismiss='modal'>
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
<% } %>

<% if (resourceInfo) { %>
    <% for (let i = resourceInfo.length - 1; i >= 0; i--) { %>
        <!-- Modal -->
        <div class='modal fade' id='selectModal<%= resourceInfo[i]._id %>' tabindex='-1' role='dialog'
             aria-labelledby='exampleModalLabel'
             aria-hidden='true'>
            <div class='modal-dialog modal-lg' role='document'>
                <div class='modal-content'>
                    <div class='modal-header'>
                        <h5 class='modal-title' id='exampleModalLabel'>Select?</h5>
                        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                            <span aria-hidden='true'>&times;</span>
                        </button>
                    </div>
                    <div class='modal-body'>
                        <div class='row'>
                            <div class='col-md-12 col-sm-12'>
                                <h5>Please confirm that you want to display this resource to the public in
                                    the front page</h5>
                            </div>
                        </div>
                    </div>
                    <div class='modal-footer'>
                        <form method='post' action='/resource/show/<%= resourceInfo[i]._id %>'>
                            <input type='submit' name='submit' class='btn btn-outline-danger' value='Confirm'>
                        </form>
                        <button type='button' id='closeBtn' class='btn btn-outline-secondary' data-dismiss='modal'>
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
<% } %>

<%- include('../components/component-editModal'); -%>

<%- include('../components/footer'); -%>
