<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<script src='/js/editModal.js'></script>
<script src='/js/editModalAjax.js'></script>
<script src='/js/likeAjax1.js'></script>

<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                My favorites
            </div>
        </div>
    </div>
</section>

<section class='section section__grey' data-aos='fade-up'>
    <div class='container'>
        <div class='row'>
            <% if (loggedIn) { %>
                <div class='col-md-3 col-sm-12' data-aos='fade-right'>
                    <div class='card border-0'>
                        <div class='card-header'>
                            <b>Collections</b>
                        </div>
                        <!--content-->
                        <div class='card-body'>
                            <div class='card-text'>
                                <ul class='list-group'>
                                    <% for (let i = 0; i < allResourceSets.length; i++) { %>
                                        <% if (allResourceSets[i].name !== 'favorite') { %>
                                            <li class='list-group-item borderless' style='padding: 0 0 3px 0'>
                                                -
                                                <a href='/collection/view/<%= allResourceSets[i]._id %>'><%= allResourceSets[i].name %></a>
                                            </li>
                                        <% } %>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <br>
                    <% if (resourceInfo && resourceInfo.length > 0) { %>
                        <button type='button' class='btn btn-outline-primary'
                                data-toggle='modal'
                                data-target='#createCollection'>
                            Create a new collection
                        </button>
                    <% } %>
                </div>
                <div class='col-md-9 col-sm-12'>
                    <h3>Favorite resources</h3>
                    <hr>
                    <% if (resourceInfo && resourceInfo.length > 0) { %>
                        <% for (let i = resourceInfo.length - 1; i >= 0; i--) { %>
                            <div class='card-body'>
                                <h3><b><%= resourceInfo[i].name %></b></h3>
                                <div class='card-text'>
                                    <ul class='list-group'>
                                        <li class='list-group-item borderless box-padding'>
                                            <b>Description: </b> <%= resourceInfo[i].description %></li>
                                        <li class='list-group-item borderless box-padding'>
                                            <b>Year: </b> <%= resourceInfo[i].yearOfCreation %>
                                        </li>
                                        <li class='list-group-item borderless box-padding'>
                                            <b>State:</b> <%= resourceInfo[i].state %></li>
                                        <li class='list-group-item borderless box-padding'>
                                            <b>Link: </b> <a href='<%= resourceInfo[i].uri %>'>click me</a>
                                        </li>
                                        <li class='list-group-item borderless box-padding'>
                                            <b>Institution: </b> <%= resourceInfo[i].institution %>
                                        </li>
                                        <li class='list-group-item borderless box-padding'>
                                            <b>Author: </b> <%= resourceInfo[i].ownerName %>
                                        </li>
                                        <% if (resourceInfo[i].tags.length >= 1 && resourceInfo[i].tags[0].length !== 0) { %>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>Topic(s)/Issue(s)</b>: <%= resourceInfo[i].tags %>
                                            </li>
                                        <% } %>
                                        <li class='list-group-item borderless box-padding'>
                                            <b>Actions:</b>
                                            <button type="submit"
                                                    style='border:0px solid transparent'
                                                    class='focusMe btn btn-outline-danger'
                                                    id="<%= resourceInfo[i]._id %>">
                                                &#9829;
                                            </button>
                                            <% if (status === 'admin' || status === 'faculty' || resourceInfo[i].ownerId.toString() === user._id) { %>
                                                <button id="<%= resourceInfo[i]._id %>" type='button'
                                                        class='editBtn btn btn-outline-info'
                                                        style='border:0 solid transparent'
                                                        data-toggle='modal'
                                                        data-target='#editModal'>
                                                    Edit
                                                </button>
                                                <button id="<%= resourceInfo[i]._id %>" type='button'
                                                        class='deleteBtn btn btn-outline-danger'
                                                        style='border:0px solid transparent'
                                                        data-toggle='modal'
                                                        data-target='#deleteModal'>
                                                    Delete
                                                </button>
                                            <% } %>
                                            <% if (status === 'admin') { %>
                                                <a href='/resource/update/<%= resourceInfo[i]._id %>/fav'>
                                                    <input class='btn btn-outline-primary'
                                                           style='border:0px solid transparent'
                                                           type='button' value='Change author'></a>
                                            <% } %>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <% if (i !== 0) { %>
                                <br>
                            <% } %>
                        <% } %>
                    <% } else { %>
                        <div class='card-body'>
                            <div class='text-center partners__text'>
                                <h3>You haven't liked any resources yet</h3>
                            </div>
                        </div>
                    <% } %>
                </div>
            <% } else { %>
                <%- include('../components/component-loginToView'); -%>
            <% } %>
        </div>
    </div>
</section>

<%- include('../components/component-editModal'); -%>

<div class='modal fade' id='createCollection' tabindex='-1' role='dialog'
     aria-labelledby='exampleModalLabel'
     aria-hidden='true'>
    <div class='modal-dialog modal-lg' role='document'>
        <form method='post' action='/collection/create'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <h5 class='modal-title' id='exampleModalLabel'>Create a new collection</h5>
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                        <span aria-hidden='true'>&times;</span>
                    </button>
                </div>
                <div class='modal-body'>
                    <div class='row'>
                        <div class='col-md-12 col-sm-12'>
                            <div class='input-group-prepend'>
                                <span class='input-group-text' style='width: 180px'>Collection name</span>
                                <input type='text' id='collectionName' class='form-control' name='collectionName'>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='modal-footer'>
                    <input type='submit' name='submit' class='btn btn-outline-danger' value='Create'>
                    <button type='button' id='closeBtn' class='btn btn-outline-secondary' data-dismiss='modal'>
                        Close
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<p hidden id="findMe"></p>

<%- include('../components/footer'); -%>
