<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<section class="section">
    <div class="section__content section__content--full-width">
        <div class="jumbotron masthead text-center">
            <div class="section__title section__title--centered">
                <%= courseInfo.courseName %>
                <br>
            </div>
        </div>
    </div>
</section>

<section class="section section__grey" data-aos="fade-up">
    <section class="section__content section__content--fluid-width">
        <div class="container">
            <div class="row">
                <% if (loggedIn) { %>
                    <!--left information bar-->
                    <div class="col-md-3" data-aos="fade-right">
                        <div class="card">
                            <div class="card-header">
                                <b>General Information</b>
                            </div>
                            <!--content-->
                            <div class="card-body">
                                <div class="card-text">
                                    <ul class="list-group">
                                        <li class="list-group-item borderless" style="padding: 0 0 3px 0">
                                            <b>Instructor:</b> <%= courseInfo.instructor %></li>
                                        <li class="list-group-item borderless" style="padding: 0 0 3px 0">
                                            <b>Office
                                                Hour:</b> <%= courseInfo.officeHour %></li>
                                        <li class="list-group-item borderless" style="padding: 0 0 3px 0">
                                            <b>Office
                                                Location:</b> <%= courseInfo.officeHourLocation %></li>
                                        <li class="list-group-item borderless" style="padding: 0 0 3px 0">
                                            <b>Institution: </b> <%= courseInfo.institution %></li>
                                        <li class="list-group-item borderless" style="padding: 0 0 3px 0">
                                            <b>Syllabus:</b>
                                            <a href="#">Click me</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card" data-aos="fade-right" data-aos-delay="100">
                            <div class="card-header">
                                <b>Tools</b>
                            </div>
                            <div class="card-body">
                                <div class="card-text">
                                    <ul class="list-group">
                                        <% if (status === 'faculty' || status === 'admin') { %>
                                            <li class="list-group-item borderless"
                                                style="padding: 0 0 3px 0">
                                                <a href="#">Update Syllabus</a></li>
                                            <li class="list-group-item borderless"
                                                style="padding: 0 0 3px 0">
                                                <a href="#">Assign TAs</a></li>
                                            <li class="list-group-item borderless"
                                                style="padding: 0 0 3px 0">
                                                Pin code: <%= courseInfo.coursePin %></li>
                                        <% } %>
                                        <li class="list-group-item borderless"
                                            style="padding: 0 0 3px 0">
                                            <a href="/uploadToCourse/<%= courseInfo._id %>">Upload Resources</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <form method="post" action="/showPrimaryResources">
                            <div class="input-group-prepend">
                                <input type="text" class="form-control" name="search"
                                       placeholder="Search for resource name or description">
                                &nbsp&nbsp&nbsp
                                <input type="submit" name="submit" class="btn btn-outline-dark"
                                       value="Search">
                            </div>
                            <br>
                        </form>
                        <div class="card">
                            <div class="card-header">
                                <b>Latest Resources</b>
                            </div>
                            <%- include('../components/component-resourceStack'); -%>
                        </div>
                    </div>
                <% } else { %>
                    <%- include('../components/component-loginToView'); -%>
                <% } %>
            </div>
        </div>
    </section>
</section>

<%- include('../components/footer'); -%>