<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                <%= userInfo.userName %>'s profile
            </div>
        </div>
    </div>
</section>

<section class='section section__grey' data-aos='fade-up'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-3 col-sm-12'></div>
            <div class='col-md-6 col-sm-12'>

                <h3><b>Basic information</b></h3>
                <hr>

                <% if (userInfo.profilePicURL) { %>
                    <img src='<%= userInfo.profilePicURL %>' width='100%' alt='profile picture'>
                <% } else { %>
                    No profile image
                <% } %>
                <br>
                <br>

                <div class='input-group-prepend'>
                    <span class='input-group-text' style='width: 180px'>Username</span>
                    <input disabled type='text' class='form-control' value='<%= userInfo.userName %>'>
                </div>

                <br>

                <div class='input-group-prepend'>
                    <span class='input-group-text' style='width: 180px'>Work Email</span>
                    <input disabled type='text' class='form-control' value='<%= userInfo.workEmail %>'>
                </div>

                <br>

                <div class='input-group-prepend'>
                    <span class='input-group-text' style='width: 180px'>Personal Email</span>
                    <input disabled type='text' class='form-control' value='<%= userInfo.personalEmail %>'>
                </div>

                <br>

                <div class='input-group-prepend'>
                    <span class='input-group-text' style='width: 180px'>Phone Number</span>
                    <input disabled type='text' class='form-control' value='<%= userInfo.phoneNumber %>'>
                </div>

                <br>

                <div class='input-group-prepend'>
                    <span class='input-group-text' style='width: 180px'>Bio</span>
                    <textarea disabled type='text' class='form-control'><%= userInfo.bio %></textarea>
                </div>

                <br>

                <% if (user._id.equals(userInfo._id)) { %>
                    <a class='btn btn-outline-dark' href='/profile/edit'>Edit</a>
                <% } %>

            </div>
        </div>
    </div>
</section>

<%- include('../components/footer'); -%>
