<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<!--<script src='/js/editModal.js'></script>-->
<script src='/js/authorship.js'></script>
<script src='/js/editModalAjax.js'></script>
<script src="/js/autoCompleteSearch.js"></script>
<script src="/js/disableautofill.js"></script>
<script>
    $('input[autofill="off"]').disableAutoFill;
</script>

<p hidden id="courseId"><%= courseInfo._id %></p>

<p hidden id="skip">1</p>

<p hidden id="status"><%= status %></p>

<p hidden id="userId"><%= user._id %></p>

<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                <%= courseInfo.courseName %>
                <br>
            </div>
        </div>
    </div>
</section>

<section class='section section__grey' data-aos='fade-up'>
    <section class='section__content section__content--fluid-width'>
        <div class='container'>
            <div class='row'>
                <% if (loggedIn) { %>
                    <!--left information bar-->
                    <div class='col-md-3' data-aos='fade-right'>
                        <div class='card border-0 rounded-circle'>
                            <div class='card-header'>
                                <b>General Information</b>
                            </div>
                            <!--content-->
                            <div class='shadow-sm card-body' style="border-top-left-radius: 0 !important; border-top-right-radius: 0 !important;">
                                <div class='card-text'>
                                    <ul class='list-group'>
                                        <li class='list-group-item borderless' style='padding: 0 0 3px 0'>
                                            <h5 style="display: inline">Instructor:</h5> <%= courseInfo.instructor %>
                                        </li>
                                        <li class='list-group-item borderless' style='padding: 0 0 3px 0'>
                                            <h5 style="display: inline">State:</h5> <%= courseInfo.state %></li>
                                        <li class='list-group-item borderless' style='padding: 0 0 3px 0'>
                                            <h5 style="display: inline">Institution:</h5> <%= courseInfo.institution %>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class='card border-0 rounded-circle' data-aos='fade-right' data-aos-delay='100'>
                            <div class='card-header'>
                                <b>Tools</b>
                            </div>
                            <div class='shadow-sm card-body' style="border-top-left-radius: 0 !important; border-top-right-radius: 0 !important;">
                                <div class='card-text'>
                                    <ul class='list-group'>
                                        <% if (status === 'faculty' || status === 'admin' || status === 'TA' && courseInfo.tas.includes(user._id)) { %>
                                            <li class='list-group-item borderless' style='padding: 0 0 3px 0'>
                                                <h5 style="display: inline">Pin Code to Join:</h5> <%= courseInfo.coursePin %>
                                            </li>
                                        <% } %>
                                        <% if (status === 'faculty' || status === 'admin') { %>
                                            <li class='list-group-item borderless' style='padding: 0 0 3px 0'>
                                                <a href="/ta/assign/<%= courseInfo._id %>"> <button type="button" class="btn btn-outline-primary">Assign TA </button></a>
                                            </li>
                                        <% } %>

                                        <% if (status === 'admin' || status === 'faculty'  || (status === 'TA' && courseInfo.tas.includes(user._id))) { %>
                                            <li class='list-group-item borderless' style='padding: 0 0 3px 0'>
                                                <a href="/resource/review/<%= courseInfo._id %>"> <button type="button" class="btn btn-outline-primary">Review Resources</button></a>
                                            </li>
                                        <% } %>
                                        <li class='list-group-item borderless' style='padding: 0 0 3px 0'>
                                            <a href="/resource/upload/course/<%= courseInfo._id %>"> <button type="button" class="btn btn-outline-primary">Upload Resources</button></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                    </div>
                    <div class='col-md-9'>
                        <h3>Quick Search</h3>
                        <hr>
                        <form method='post' action='/resources/search/private/general/results'>
                            <div class='input-group'>
                                <input autofill="off" autocomplete="off" id="resources" type='text' class='form-control' name='search'
                                       placeholder='Search for anything'>
                                <div class='input-group-append'>
                                    <input class="btn btn-light" style="border: 1px solid lightgray" id="myBtn" type='submit' name='submit' value='&#128269;'>
                                </div>
                            </div>
                        </form>
                        <br>
                        <br>
                        <h3>Latest Resources</h3>
                        <hr>
                        <%- include('../components/component-resourceStack'); -%>
                    </div>
                <% } else { %>
                    <%- include('../components/component-loginToView'); -%>
                <% } %>
            </div>
        </div>
    </section>
</section>

<script>
    // Get the input field
    let input = document.getElementById("resources");

    // Execute a function when the user releases a key on the keyboard
    input.addEventListener("keyup", function (event) {
        // Number 13 is the "Enter" key on the keyboard
        let code
        if (event.key !== undefined) {
            code = event.key;
        } else if (event.keyIdentifier !== undefined) {
            code = event.keyIdentifier;
        } else if (event.keyCode !== undefined) {
            code = event.keyCode;
        }
        if (code === 13) {
            // Cancel the default action, if needed
            event.preventDefault();
            // Trigger the button element with a click
            document.getElementById("myBtn").click();
        }
    });
</script>

<%- include('../components/component-editModal'); -%>

<%- include('../components/footer'); -%>