<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>


<section class="section section__grey" data-aos="fade-up">
    <div class="section__content section__content--full-width">
        <div class="jumbotron masthead text-center">
            <div class="section__title section__title--centered">
                All users are here
            </div>
        </div>
    </div>
</section>

<section class="section section__grey" data-aos="fade-up">
    <div class="container">
        <ul class="list-group">
            <% for(let i = 0; i < profiles.length; i++){ %>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm">
                            UserName: <a href="/showProfile/<%= profiles[i]._id %>"><%= profiles[i].userName %></a>
                        </div>
                        <div class="col-sm">
                            User Email: <%= profiles[i].googleemail %>
                        </div>
                    </div>
                </li>
            <% } %>
        </ul>
    </div>
</section>

<%- include('../components/footer'); -%>

