<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<script src='/js/editModal.js'></script>

<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                <%= resourceSet.name %>
            </div>
            <% if (loggedIn) { %>
                <% if (resourceSet.name !== 'favorite') { %>
                    <button class='btn btn-large btn-warning'
                            style='width: 200px' data-toggle="modal" data-target="#deleteModal">
                        Delete this collection
                    </button>
                <% } %>
                <button class='btn btn-large btn-primary' data-toggle="modal" data-target="#shareModal">
                    Generate shareable link
                </button>
            <% } %>
        </div>
    </div>
</section>

<section class='section section__grey' data-aos='fade-up'>
    <div class='container'>
        <h3>Resources in this collection</h3>
        <hr>
        <% if (resourceInfo.length === 0) { %>
            <div class='card-body text-center' style="border-radius: 30px">
                <h4>No resource in this collection</h4>
            </div>
        <% } %>
        <% for (let i = 0; i < resourceInfo.length; i++) { %>
            <div class='card-body'>
                <h4>
                    <%= resourceInfo[i].name %>
                </h4>
                <div class='card-text'>
                    <ul class='list-group'>
                        <li class='list-group-item borderless box-padding'>
                            <h5 style="display: inline">Description:</h5>
                            <%= resourceInfo[i].description %>
                        </li>
                        <li class='list-group-item borderless box-padding'>
                            <h5 style="display: inline">State:</h5>
                            <%= resourceInfo[i].state %>
                        </li>
                        <li class='list-group-item borderless box-padding'>
                            <h5 style="display: inline">Link:</h5>
                            <a href='<%= resourceInfo[i].uri %>'>click me</a>
                        </li>
                        <li class='list-group-item borderless box-padding'>
                            <h5 style="display: inline">Institution:</h5>
                            <%= resourceInfo[i].institution %>
                        </li>
                        <li class='list-group-item borderless box-padding'>
                            <h5 style="display: inline">Resource Topic(s)/Issue(s):</h5>
                            <%= resourceInfo[i].tags %>
                        </li>
                        <li class='list-group-item borderless box-padding'>
                            <h5 style="display: inline">Actions:</h5>
                            <% if (loggedIn) { %>
                                <% if (status === 'admin' || status === 'faculty' || resourceInfo[i].ownerId.toString() === user._id.toString()) { %>
                                    <button type='button' class='btn btn-outline-info'
                                             data-toggle='modal'
                                            data-target='#editModal<%= resourceInfo[i]._id %>'>
                                        Edit
                                    </button>
                                <% } %>
                                <button type='button' class='btn btn-outline-danger'

                                        data-toggle='modal'
                                        data-target='#removeModal<%= resourceInfo[i]._id %>'>
                                    Remove from this collection
                                </button>
                            <% } %>
                        </li>
                    </ul>
                </div>
            </div>
            <br>
        <% } %>
    </div>
    <br>
</section>

<% if (loggedIn) { %>
    <section class='section section__grey' data-aos='fade-up'>
        <div class='container'>
            <h3>Liked but not in this collection</h3>
            <hr>
            <% for (let i = 0; i < allLikedResourceInfo.length; i++) { %>
                <% if (!resourceSet.resources.includes(allLikedResourceInfo[i]._id)) { %>
                    <div class='card-body'>
                        <h4>
                            <%= allLikedResourceInfo[i].name %>
                        </h4>
                        <div class='card-text'>
                            <ul class='list-group'>
                                <li class='list-group-item borderless box-padding'>
                                    <h5 style="display: inline">Description:</h5>
                                    <%= allLikedResourceInfo[i].description %>
                                </li>
                                <li class='list-group-item borderless box-padding'>
                                    <h5 style="display: inline">State:</h5>
                                    <%= allLikedResourceInfo[i].state %>
                                </li>
                                <li class='list-group-item borderless box-padding'>
                                    <h5 style="display: inline">Link:</h5>
                                    <a href='<%= allLikedResourceInfo[i].uri %>'>click me</a>
                                </li>
                                <li class='list-group-item borderless box-padding'>
                                    <h5 style="display: inline">Institution:</h5>
                                    <%= allLikedResourceInfo[i].institution %>
                                </li>
                                <li class='list-group-item borderless box-padding'>
                                    <h5 style="display: inline">Resource Topic(s)/Issue(s):</h5>
                                    <%= allLikedResourceInfo[i].tags %>
                                </li>
                                <li class='list-group-item borderless box-padding' style='display: inline'>
                                    <h5 style="display: inline">Actions:</h5>
                                    <form style='display: inline' method='post'
                                          action='/collection/<%= resourceSet._id %>/add/<%= allLikedResourceInfo[i]._id %>'>
                                        <input type='submit'  name='submit'
                                               class='btn btn-outline-success' value='Add to this Collection'>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <br>
                <% } %>
            <% } %>
        </div>
    </section>
<% } %>

<% if (loggedIn) { %>
    <% if (resourceInfo.length !== 0) { %>
        <% for (let i = resourceInfo.length - 1; i >= 0; i--) { %>
            <!-- Modal -->
            <div class='modal fade' id='removeModal<%= resourceInfo[i]._id %>' tabindex='-1' role='dialog'
                 aria-labelledby='exampleModalLabel'
                 aria-hidden='true'>
                <div class='modal-dialog modal-lg' role='document'>
                    <div class='modal-content'>
                        <div class='modal-header'>
                            <h5 class='modal-title' id='exampleModalLabel'>Remove?</h5>
                            <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                                <span aria-hidden='true'>&times;</span>
                            </button>
                        </div>
                        <div class='modal-body'>
                            <div class='row'>
                                <div class='col-md-12 col-sm-12'>
                                    <h5>Are you sure you want to remove this resource from this collection?</h5>
                                    <h5>(The resource itself will not be deleted)</h5>
                                </div>
                            </div>
                        </div>
                        <div class='modal-footer'>
                            <form method='post'
                                  action='/collection/<%= resourceSet._id %>/delete/<%= resourceInfo[i]._id %>'>
                                <input type='submit' name='submit' class='btn btn-outline-danger' value='Remove'>
                            </form>
                            <button type='button' id='closeBtn' class='btn btn-outline-secondary' data-dismiss='modal'>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    <% } %>

    <!-- Modal -->
    <div class='modal fade' id='deleteModal' tabindex='-1' role='dialog'
         aria-labelledby='exampleModalLabel'
         aria-hidden='true'>
        <div class='modal-dialog modal-lg' role='document'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <h5 class='modal-title' id='exampleModalLabel'>Delete this collection</h5>
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                        <span aria-hidden='true'>&times;</span>
                    </button>
                </div>
                <div class='modal-body'>
                    <div class='row'>
                        <div class='col-md-12 col-sm-12'>
                            <h5>Are you sure you want to delete this collection?</h5>
                            <h5>(The resource itself will not be deleted)</h5>
                        </div>
                    </div>
                </div>
                <div class='modal-footer'>
                    <form method='post'
                          action='/collection/delete/<%= resourceSet._id %>'>
                        <input type='submit' name='submit' class='btn btn-outline-danger' value='Delete'>
                    </form>
                    <button type='button' id='closeBtn' class='btn btn-outline-secondary' data-dismiss='modal'>
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class='modal fade' id='shareModal' tabindex='-1' role='dialog'
         aria-labelledby='exampleModalLabel'
         aria-hidden='true'>
        <div class='modal-dialog modal-lg' role='document'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <h5 class='modal-title' id='exampleModalLabel'>Generate shareable link</h5>
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                        <span aria-hidden='true'>&times;</span>
                    </button>
                </div>
                <div class='modal-body'>
                    <div class='row'>
                        <div class='col-md-12 col-sm-12'>
                            <input style="width: 75%; display: inline" class="input-group-text" id="input" type="text"
                                   value="https://www.enactnetwork.org/collection/view/<%= resourceSet._id %>"/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="btn btn-primary"
                               href="mailto:abc@example.com?subject=ENACT notification: collection shared by <%= user.name %>&body=Link: https://www.enactnetwork.org/collection/view/<%= resourceSet._id %>">
                                Send email
                            </a>
                            <!--                            <button class="btn btn-primary" id="copy">Copy to clipboard</button>-->
                        </div>
                    </div>
                </div>
                <div class='modal-footer'>
                    <button type='button' id='closeBtn' class='btn btn-outline-secondary' data-dismiss='modal'>
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
<% } %>

<!--<script>-->
<!--    function copy() {-->
<!--        const copyText = document.querySelector("#input");-->
<!--        copyText.select();-->
<!--        document.execCommand("copy");-->
<!--    }-->

<!--    document.querySelector("#copy").addEventListener("click", copy);-->
<!--</script>-->

<%- include('../components/component-editModal'); -%>

<%- include('../components/footer'); -%>
