<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<script src='/js/editModal.js'></script>

<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                My Public Resources
            </div>
        </div>
    </div>
</section>

<section class='section section__grey' data-aos='fade-up'>
    <section class='section__content section__content--fluid-width'>
        <div class='container'>
            <div class='row'>
                <% if (loggedIn) { %>
                    <div class='col-md-12 col-sm-12'>
                        <% if (resourceInfo && resourceInfo.length > 0) { %>
                            <% for (let i = resourceInfo.length - 1; i >= 0; i--) { %>
                                <div class='card-body'>
                                    <h4><%= resourceInfo[i].name %></h4>
                                    <div class='card-text'>
                                        <ul class='list-group'>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>Description: </b> <%= resourceInfo[i].description %></li>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>State:</b> <%= resourceInfo[i].state %></li>
                                            <% if (resourceInfo[i].mediaType === 'video') { %>
                                                <li class='list-group-item borderless box-padding'>
                                                    <video width="400" controls>
                                                        <source src="<%= resourceInfo[i].uri %>" type="video/mp4">
                                                    </video>
                                                </li>
                                            <% } else { %>
                                                <li class='list-group-item borderless box-padding'>
                                                    <b>Link: </b> <a href='<%= resourceInfo[i].uri %>'>click
                                                        me</a>
                                                </li>
                                            <% } %>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>Institution: </b> <%= resourceInfo[i].institution %></li>
                                            <li class='list-group-item borderless box-padding'>
                                                <b>Tags:</b> <%= resourceInfo[i].tags %>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <% if (i !== 0) { %>
                                    <hr>
                                <% } %>
                            <% } %>
                        <% } else { %>
                            <div class='card-body text-center'>
                                No resource available yet
                            </div>
                        <% } %>
                    </div>
                <% } else { %>
                    <%- include('../components/component-loginToView'); -%>
                <% } %>
            </div>
        </div>
    </section>
</section>


<%- include('../components/footer'); -%>