<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<script src='/js/editModal.js'></script>


<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                All My favorites
            </div>
        </div>
    </div>
</section>

<section class='section section__grey' data-aos='fade-up'>
    <div class='container'>
        <div class="row">
            <% if (loggedIn) { %>
                <% if (resourceInfo && resourceInfo.length > 0) { %>
                    <div class="col-md-12 col-sm-12">
                        <div class='card-body'>
                            <% for (let i = resourceInfo.length - 1; i >= 0; i--) { %>
                                <div class='card blogBox moreBox'>
                                    <div class='card-body'>
                                        <h4><%= resourceInfo[i].name %></h4>
                                        <div class='card-text'>
                                            <ul class='list-group'>
                                                <li class='list-group-item borderless box-padding'>
                                                    <b>Description: </b> <%= resourceInfo[i].description %></li>
                                                <li class='list-group-item borderless box-padding'>
                                                    <b>State:</b> <%= resourceInfo[i].state %></li>
                                                <li class='list-group-item borderless box-padding'>
                                                    <b>Link: </b> <a href='<%= resourceInfo[i].uri %>'>click me</a>

                                                </li>
                                                <li class='list-group-item borderless box-padding'>
                                                    <b>Institution: </b> <%= resourceInfo[i].institution %></li>
                                                <li class='list-group-item borderless box-padding'>
                                                    <b>Tags:</b> <%= resourceInfo[i].tags %>
                                                </li>
                                                <li class='list-group-item borderless box-padding'>
                                                    <form method='post'
                                                          action='/unstarResource/<%= resourceInfo[i]._id %>'>
                                                        <b>Actions:</b>
                                                        <input type='submit' style='border:0px solid transparent'
                                                               name='submit'
                                                               class='btn btn-outline-warning' value='Unstar'>
                                                        <% if (status === 'admin' || status === 'faculty' || resourceInfo[i].ownerId.toString() === user._id) { %>
                                                            <button type='button' class='btn btn-outline-info'
                                                                    style='border:0px solid transparent'
                                                                    data-toggle='modal'
                                                                    data-target='#editModal<%= resourceInfo[i]._id %>'>
                                                                Edit
                                                            </button>
                                                        <% } %>
                                                    </form>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            <% } %>
                        </div>
                    </div>
                <% } else { %>
                    <div class='text-center partners__text'>
                        <h3>You haven't starred any resources</h3>
                    </div>
                <% } %>
            <% } else { %>
                <%- include('../components/component-loginToView'); -%>
            <% } %>
        </div>
    </div>
</section>

<%- include('../components/component-editModal'); -%>

<%- include('../components/footer'); -%>
