<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<script src="/js/likeAjax.js"></script>

<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                <%= secretType %>
            </div>
            <% if (search_status || search_tags || search_text || search_state || search_contentType || search_institution || search_mediaType || search_yearOfCreation) { %>
                <h3>Search inputs</h3>
                <% if (search_text) { %>
                    <h5 style="display: inline">Keyword: </h5><u><%= search_text %></u> <br>
                <% } %>
                <% if (search_state) { %>
                    <h5 style="display: inline">State: </h5><u><%= search_state %></u> <br>
                <% } %>
                <% if (search_contentType) { %>
                    <h5 style="display: inline">Content Type: </h5><u><%= search_contentType %></u><br>
                <% } %>
                <% if (search_institution) { %>
                    <h5 style="display: inline">Institution: </h5><u><%= search_institution %></u><br>
                <% } %>
                <% if (search_mediaType) { %>
                    <h5 style="display: inline">Media Type: </h5><u><%= search_mediaType %></u><br>
                <% } %>
                <% if (search_yearOfCreation) { %>
                    <h5 style="display: inline">Year of Creation: </h5><u><%= search_yearOfCreation %></u><br>
                <% } %>
                <% if (search_tags) { %>
                    <h5 style="display: inline">Topic(s)/Issue(s): </h5><u><%= search_tags %></u> <br>
                <% } %>
<!--                <% if (search_status) { %>-->
<!--                    <h5 style="display: inline">Resource status: </h5><u><%= search_status %></u> <br>-->
<!--                <% } %>-->
                <br>
            <% } %>
            <h3>Not finding what you want? Please try</h3><a href='/resources/search/private/advanced'
                                                             class='btn btn-large btn-warning'
                                                             style='width: 200px'>Advanced Search</a>
        </div>
    </div>
</section>

<section class='section section__grey' data-aos='fade-up'>
    <section class='section__content section__content--fluid-width'>
        <div class='container'>
            <div class='row'>
                <% if (loggedIn) { %>
                    <div class='col-md-12 col-sm-12'>
                        <% if (resourceInfo && resourceInfo.length > 0) { %>
                            <% for (let i = resourceInfo.length - 1; i >= 0; i--) { %>
                                <div class='card-body'>
                                    <h3><%= resourceInfo[i].name %></h3>
                                    <div class='card-text'>
                                        <ul class='list-group'>
                                            <li class='list-group-item borderless box-padding'>
                                                <h5 style="display: inline">
                                                    Description:</h5> <%= resourceInfo[i].description %></li>
                                            <li class='list-group-item borderless box-padding'>
                                                <h5 style="display: inline">
                                                    Year:</h5> <%= resourceInfo[i].yearOfCreation %>
                                            </li>
                                            <li class='list-group-item borderless box-padding'>
                                                <h5 style="display: inline">State:</h5> <%= resourceInfo[i].state %>
                                            </li>
                                            <% if (resourceInfo[i].mediaType === 'video') { %>
                                                <li class='list-group-item borderless box-padding'>
                                                    <video width="400" controls>
                                                        <source src="<%= resourceInfo[i].uri %>" type="video/mp4">
                                                    </video>
                                                </li>
                                            <% } else { %>
                                                <li class='list-group-item borderless box-padding'>
                                                    <h5 style="display: inline">Link:</h5> <a
                                                            href='<%= resourceInfo[i].uri %>'>click me</a>
                                                </li>
                                            <% } %>
                                            <li class='list-group-item borderless box-padding'>
                                                <h5 style="display: inline">
                                                    Institution:</h5> <%= resourceInfo[i].institution %>
                                            </li>
                                            <li class='list-group-item borderless box-padding'>
                                                <h5 style="display: inline">
                                                    Author:</h5> <%= resourceInfo[i].ownerName %>
                                            </li>
                                            <% if (resourceInfo[i].tags.length >= 1 && resourceInfo[i].tags[0].length !== 0) { %>
                                                <li class='list-group-item borderless box-padding'>
                                                    <h5 style="display: inline">
                                                        Topic(s)/Issue(s):</h5> <%= resourceInfo[i].tags %>
                                                </li>
                                            <% } %>
                                            <li class='list-group-item borderless box-padding'>
                                                <h5 style="display: inline">Actions:</h5>
                                                <button type="submit"

                                                        class='focusMe btn btn-outline-danger'
                                                        id="<%= resourceInfo[i]._id %>">
                                                    <% if (resourceIds && resourceIds.toString().includes(resourceInfo[i]._id.toString())) { %>
                                                        &#9829;
                                                    <% } else { %>
                                                        &#9825;
                                                    <% } %>
                                                </button>
                                                <% if (resourceInfo[i].ownerId.toString() !== user._id.toString()) { %>
                                                    <a href='/messages/view/<%= user._id %>/<%= resourceInfo[i].ownerId %>/<%= resourceInfo[i]._id %>'>
                                                        <input class='btn btn-outline-primary'

                                                               type='button' value='Contact the author'></a>
                                                <% } %>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <% if (i !== 0) { %>
                                    <br>
                                <% } %>
                            <% } %>
                        <% } else { %>
                            <div class='card-body text-center'>
                                No resource available yet
                            </div>
                        <% } %>
                    </div>
                <% } else { %>
                    <%- include('../components/component-loginToView'); -%>
                <% } %>
            </div>
        </div>
    </section>
</section>

<p hidden id="findMe"></p>

<%- include('../components/footer'); -%>