<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<script src="/js/likeAjax.js"></script>

<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                Resources for Teaching ENACT Courses
            </div>
            <h3 style="display:inline;">Not finding what you want? Please try &nbsp;</h3><a
                    href='/resources/search/private/advanced'
                    class='btn btn-large btn-warning'
                    style='width: 200px'>Search for Resources</a>
            <h3 style="display:inline;">Or, help the faculty community: </h3>
            <a href='/resource/upload/faculty' class='btn btn-large btn-primary'>Upload Faculty Resources</a>
        </div>
    </div>
</section>

<!--Resources for Teaching ENACT Courses-->
<!--Display current term and upcoming 3-->
<section class='section section__grey' data-aos='fade-up'>
    <section class='section__content section__content--fluid-width'>
        <div class='container'>

            <div class="row">
                <% if (loggedIn) { %>
                <div class='col'>
                    <div class="row justify-content-md-center">
                        <h3>ENACT 2021 Virtual Institute</h3>
                    </div>
                    <div class="row justify-content-md-center">
                        <a href='https://www.enactnetwork.org/collection/view/610b70b6819b080015a3b1d3'
                           class='btn btn-primary'
                           style='margin-bottom: 10px'> Introduction to and Overview of the ENACT Institute</a>
                    </div>
                    <div class="row justify-content-md-center">
                        <a href='https://www.enactnetwork.org/collection/view/610b6ef6819b080015a3b1c8'
                           class='btn btn-primary'
                           style='margin-bottom: 10px'>State Legislative Change: The Marriage Equality Movement</a>
                    </div>
                    <div class="row justify-content-md-center">
                        <a href='https://www.enactnetwork.org/collection/view/610b6f1e819b080015a3b1c9'
                           class='btn btn-primary'
                           style='margin-bottom: 10px'>Introduction to the ENACT Model and Legislative Advocacy Projects</a>
                    </div>
                    <div class="row justify-content-md-center">
                        <a href='https://www.enactnetwork.org/collection/view/610b6f3f819b080015a3b1ca'
                           class='btn btn-primary'
                           style='margin-bottom: 10px'>Discussion: Incorporating Materials Into Your Syllabus</a>
                    </div>
                    <div class="row justify-content-md-center">
                        <a href='https://www.enactnetwork.org/collection/view/610b6f8e819b080015a3b1cb'
                           class='btn btn-primary'
                           style='margin-bottom: 10px'>Students Introduce Advocacy Campaigns</a>
                    </div>
                    <div class="row justify-content-md-center">
                        <a href='https://www.enactnetwork.org/collection/view/610b6faa819b080015a3b1cc'
                           class='btn btn-primary'
                           style='margin-bottom: 10px'>Developing a Compelling Message</a>
                    </div>
                    <div class="row justify-content-md-center">
                        <a href='https://www.enactnetwork.org/collection/view/601334d97fdcf8001520ded2'
                           class='btn btn-primary'
                           style='margin-bottom: 10px'> How to Work with the Legislature</a>
                    </div>
                    <div class="row justify-content-md-center">
                        <a href='https://www.enactnetwork.org/collection/view/610b6fc4819b080015a3b1cd'
                           class='btn btn-primary'
                           style='margin-bottom: 10px'>Discussion: How to Work with a Coalition</a>
                    </div>
                    <div class="row justify-content-md-center">
                        <a href='https://www.enactnetwork.org/collection/view/610b702f819b080015a3b1ce'
                           class='btn btn-primary'
                           style='margin-bottom: 10px'>Discussion: Influencing Policymakers</a>
                    </div>
                    <div class="row justify-content-md-center">
                        <a href='https://www.enactnetwork.org/collection/view/610b7047819b080015a3b1cf'
                           class='btn btn-primary'
                           style='margin-bottom: 10px'>The Present and Defend Model</a>
                    </div>
                    <div class="row justify-content-md-center">
                        <a href='https://www.enactnetwork.org/collection/view/610b7056819b080015a3b1d0'
                           class='btn btn-primary'
                           style='margin-bottom: 10px'>Adapting ENACT to Your Course</a>
                    </div>
                    <div class="row justify-content-md-center">
                        <a href='https://www.enactnetwork.org/collection/view/610b7069819b080015a3b1d1'
                           class='btn btn-primary'
                           style='margin-bottom: 10px'>The ENACT Network</a>
                    </div>
                    <div class="row justify-content-md-center">
                        <a href='https://www.enactnetwork.org/collection/view/610b707b819b080015a3b1d2'
                           class='btn btn-primary'
                           style='margin-bottom: 10px'>Expanding Your Research to Include ENACT</a>
                    </div>


                <% } else { %>
                    <%- include('../components/component-loginToView'); -%>
                <% } %>
                </div>
                <br>
                <% if (loggedIn) { %>
                <div class='col'>
                    <div class="row justify-content-md-center">
                        <h3>Course Planning Modules</h3>
                    </div>
                    <div class="row justify-content-md-center">
                        <a href='https://www.enactnetwork.org/collection/view/6025482e5cece7001580ed9c'
                           class='btn btn-primary'
                           style='margin-bottom: 10px'>Module 1: ENACT Course Module Overviews</a>
                    </div>
                    <div class="row justify-content-md-center">
                        <a href='https://www.enactnetwork.org/collection/view/60259bca5cece7001580eda8'
                           class='btn btn-primary'
                           style='margin-bottom: 10px'>Module 2: Civic Education</a>
                    </div>
                    <div class="row justify-content-md-center">
                        <a href='https://www.enactnetwork.org/collection/view/60259cf55cece7001580eda9'
                           class='btn btn-primary'
                           style='margin-bottom: 10px'>Module 3: Building Teams</a>
                    </div>
                    <div class="row justify-content-md-center">
                        <a href='https://www.enactnetwork.org/collection/view/60259fa95cece7001580edb1'
                           class='btn btn-primary'
                           style='margin-bottom: 10px'>Module 4: Research and Data</a>
                    </div>
                    <div class="row justify-content-md-center">
                        <a href='https://www.enactnetwork.org/collection/view/602707c44bdb8600153e62d0'
                           class='btn btn-primary'
                           style='margin-bottom: 10px'>Module 5: Media Advocacy</a>
                    </div>
                    <div class="row justify-content-md-center">
                        <a href='https://www.enactnetwork.org/collection/view/602fe463411a5c0015ac98c0'
                           class='btn btn-primary'
                           style='margin-bottom: 10px'>Module 6: Legislative Advocacy</a>
                    </div>
                    <div class="row justify-content-md-center">
                        <a href='https://www.enactnetwork.org/collection/view/602fe47e411a5c0015ac98c1'
                           class='btn btn-primary'
                           style='margin-bottom: 10px'>Module 7: Final Projects</a>
                    </div>
                <% } else { %>
                    <%- include('../components/component-loginToView'); -%>
                <% } %>
                </div>
                <br>
                <% if (loggedIn) { %>
                <div class='col'>
                    <div class="row  justify-content-md-center">
                        <h3>Other Teaching Resources</h3>

                    </div>
                    <div class="row justify-content-md-center">
                        <a href='/resources/view/faculty/assignments'
                           class='btn btn-primary'
                           style='margin-bottom: 10px'>Assignment Guidelines & Rubrics</a>
                    </div>

                    <div class="row justify-content-md-center">
                        <a href='/resources/view/faculty/plan'
                           class='btn btn-primary'
                           style='margin-bottom: 10px'>Course Planning</a>
                    </div>

                    <div class="row justify-content-md-center">
                        <a href='/resources/view/faculty/syllabus'
                           class='btn btn-primary'
                           style='margin-bottom: 10px'>Syllabi</a>
                    </div>


                    <!-- Evaluation and Research -->
                    <div class="row  justify-content-md-center">
                        <h3>Evaluation and Research</h3>

                    </div>

                    <div class="row justify-content-md-center">
                        <a href='/collection/view/61f30650ae63080016311ead'
                           class='btn btn-primary'
                           style='margin-bottom: 10px'>Evaluation Resources for Faculty Fellows</a>
                    </div>

                <% } else { %>
                        <%- include('../components/component-loginToView'); -%>
                    <% } %>
                </div>
            </div>

        </div>
    </section>
</section>

<p hidden id="findMe"></p>

<%- include('../components/footer'); -%>