<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                Course Management
            </div>
        </div>
    </div>
</section>

<section class='section section__grey' data-aos='fade-up'>
    <div class='section__content section__content--fluid-width'>
        <div class='container'>
            <div class='row'>
                <div class='col-md-2 col-sm-12 text-center'></div>
                <div class='col-md-8 col-sm-12'>
                    <% if (loggedIn) { %>
                        <% if (status === 'faculty' || status === 'admin') { %>
                            <div class='lead'><b>Create a new course</b></div>
                            <hr>
                            <a class='btn btn-lg btn-outline-primary' href='/createCourse'>
                                create a new course
                            </a>
                            <br>
                            <br>

                        <% } else { %>
                            <div class='lead'><b>Enroll in a course</b></div>
                            <hr>
                            <form method='post' action='/joinCourse'>
                                <div class='input-group-prepend'>
                                    <span class='input-group-text' style='width: 180px'>Course Pin</span>
                                    <input type='text' class='form-control' style='margin-right: 10px' name='coursePin'
                                           placeholder='e.g. 7-digit number'>
                                    <input type='submit' name='submit' class='btn btn-outline-dark' value='Enroll'>
                                </div>
                                <br>
                            </form>
                            <br>
                        <% } %>
                        <% if (courseInfoSet.length !== 0) { %>
                            <% if (status === 'faculty' || status === 'admin') { %>
                                <div class='lead'><b>Owned courses</b></div>
                            <% } else { %>
                                <div class='lead'><b>Enrolled courses</b></div>
                            <% } %>
                            <hr>

                            <table class='table table-striped'>
                                <thead style='background-color: #0053a4'>
                                <tr>
                                    <th scope='col' style='color: white'>Course Name</th>
                                    <th scope='col' style='color: white'>Semester</th>
                                    <th scope='col' style='color: white'>
                                        <% if (status === 'faculty' || status === 'admin') { %>
                                            Course Pin
                                        <% } else { %>
                                            Instructor
                                        <% } %>
                                    </th>
                                    <th scope='col' style='color: white'>
                                        Action
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <% if (status === 'faculty' || status === 'admin') { %>
                                    <% for(let i = 0; i < courseInfoSet.length; i++) { %>
                                        <tr>
                                            <td>
                                                <a href='/showOneCourse/<%= courseInfoSet[i]._id %>'><%= courseInfoSet[i].courseName %></a>
                                            </td>
                                            <td><%= courseInfoSet[i].semester %></td>
                                            <td>
                                                <%= courseInfoSet[i].coursePin %>
                                            </td>
                                            <td>
                                                Edit/Delete
                                            </td>
                                        </tr>
                                    <% } %>
                                <% } else { %>
                                    <% for (let i = 0; i < courseInfoSet.length; i++){ %>
                                        <tr>
                                            <td>
                                                <a href='/showOneCourse/<%= courseInfoSet[i]._id %>'><%= courseInfoSet[i].courseName %></a>
                                            </td>
                                            <td><%= courseInfoSet[i].semester %></td>
                                            <td><%= courseInfoSet[i].instructor %></td>
                                            <td>Unenroll</td>
                                        </tr>
                                    <% } %>
                                </tbody>
                                <% } %>
                            </table>
                        <% } else { %>
                            <% if (status === 'admin' || status === 'faculty') { %>
                                <div class='text-center partners__text'>
                                    <h3>You haven't created any course yet</h3>
                                </div>
                            <% } else { %>
                                <div class='text-center partners__text'>
                                    <h3>You haven't enrolled in any course yet</h3>
                                </div>
                            <% } %>
                        <% } %>
                    <% } else { %>
                        <%- include('../components/component-loginToView'); -%>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include('../components/footer'); -%>