<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                <%= userInfo.userName %>'s profile
            </div>
            <% if (user.status === 'admin') { %>
                <a class="btn btn-outline-primary" href="/profile/create/faculty">Create another faculty profile</a>
                <a class="btn btn-outline-info" href="/profiles/view/faculty">Go back to faculty list</a>
                <br><br>
                <a class="btn btn-outline-secondary" href="/profile/send/<%= userInfo._id %>">Send notification email</a>
                <p class="text-center"><%= sentStatus %></p>
            <% } %>
        </div>
    </div>
</section>

<section class='section section__grey' data-aos='fade-up'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-3 col-sm-12'></div>
            <div class='col-md-6 col-sm-12'>
                <h3><b>Basic information</b></h3>
                <hr>

                <% if (userInfo.profilePicURL) { %>
                    <img src='<%= userInfo.profilePicURL %>' width='100%' alt='profile picture'>
                <% } else { %>
                    No profile image
                <% } %>
                <br>
                <br>

                <div class='input-group-prepend'>
                    <span class='input-group-text' style='width: 180px'>Full name</span>
                    <input disabled type='text' class='form-control' value='<%= userInfo.userName %>'>
                </div>

                <br>

                <div class='input-group-prepend'>
                    <span class='input-group-text' style='width: 180px'>Pronouns</span>
                    <input disabled type='text' class='form-control' value='<%= userInfo.pronoun %>'>
                </div>

                <br>

                <div class='input-group-prepend'>
                    <span class='input-group-text' style='width: 180px'>Work Email</span>
                    <input disabled type='text' class='form-control' value='<%= userInfo.workEmail %>'>
                </div>

                <br>

                <div class='input-group-prepend'>
                    <span class='input-group-text' style='width: 180px'>Personal Email</span>
                    <input disabled type='text' class='form-control' value='<%= userInfo.personalEmail %>'>
                </div>

                <br>

                <div class='input-group-prepend'>
                    <span class='input-group-text' style='width: 180px'>Affiliation</span>
                    <input disabled type='text' class='form-control' value='<%= userInfo.affiliation %>'>
                </div>

                <br>

                <div class='input-group-prepend'>
                    <span class='input-group-text' style='width: 180px'>Department</span>
                    <input disabled type='text' class='form-control' value='<%= userInfo.department %>'>
                </div>

                <br>

                <div class='input-group-prepend'>
                    <span class='input-group-text' style='width: 180px'>State</span>
                    <input disabled type='text' class='form-control' value='<%= userInfo.state %>'>
                </div>

                <br>


                <div class='input-group-prepend'>
                    <span class='input-group-text' style='width: 180px'>Phone Number</span>
                    <input disabled type='text' class='form-control' value='<%= userInfo.phoneNumber %>'>
                </div>

                <br>

                <div class='input-group-prepend'>
                    <span class='input-group-text' style='width: 180px'>Bio</span>
                    <textarea disabled type='text' class='form-control' rows="6"><%= userInfo.bio %></textarea>
                </div>

                <br>

                <% if (user._id.equals(userInfo._id)) { %>
                    <a class='btn btn-outline-dark' href='/profile/update'>Edit</a>
                <% } %>

            </div>
        </div>
    </div>
</section>

<%- include('../components/footer'); -%>
