<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<script src="/js/autocompleteCourseOwner.js"></script>
<script src="/js/courseTimeSelector.js"></script>

<section class='section diagonal-gradient'>
    <div class='section__content section__content--full-width diagonal-gradient'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                Update Course Information
            </div>
        </div>
    </div>
</section>

<p hidden id="yearFromServer"><%= courseInfo.year %></p>
<p hidden id="semesterFromServer"><%= courseInfo.semester %></p>
<p hidden id="timezoneFromServer"><%= courseInfo.timezone %></p>
<p hidden id="stateFromServer"><%= courseInfo.state %></p>

<section class='section section__grey' data-aos='fade-up'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-3 col-sm-12'></div>
            <div class='col-md-6 col-sm-12'>
                <% if (loggedIn) { %>
                    <form method='post' action='/course/update/<%= courseInfo._id %>'>
                        <h3>Basic Information</h3>
                        <hr>
                        <div class='input-group-prepend'>
                            <span class='input-group-text' style='width: 180px'>Course Name</span>
                            <input type='text' class='form-control' name='courseName'
                                   value="<%= courseInfo.courseName %>" placeholder='e.g. Brandeis ENACT'>
                        </div>
                        <br>
                        <div class='input-group-prepend'>
                            <span class='input-group-text' style='width: 180px'>Year</span>
                            <select class='form-control' name="year" id="yearpicker"></select>
                        </div>
                        <br>
                        <div class='input-group-prepend'>
                            <span class='input-group-text' style='width: 180px'>Semester</span>
                            <select class='form-control' name="semester" id="semester">
                                <option value="spring">Spring</option>
                                <option value="summer">Summer</option>
                                <option value="fall">Fall</option>
                            </select>
                        </div>
                        <br>
                        <div class='input-group-prepend'>
                            <span class='input-group-text' style='width: 180px'>Timezone</span>
                            <select class="form-control" name="timezone" id="timezone">
                                <option value="US/Atlantic">(GMT-04:00) Atlantic Time</option>
                                <option value="US/Eastern">(GMT-05:00) Eastern Time</option>
                                <option value="US/Central">(GMT-06:00) Central Time</option>
                                <option value="US/Mountain">(GMT-07:00) Mountain Time</option>
                                <option value="US/Pacific">(GMT-08:00) Pacific Time</option>
                                <option value="US/Alaska">(GMT-09:00) Alaska Time</option>
                                <option value="US/Hawaii‑Aleutian">(GMT-10:00) Hawaii‑Aleutian Time</option>

                            </select>
                        </div>
                        <br>
                        <div class='input-group-prepend'>
                            <span class='input-group-text' style='width: 180px'>Institution</span>
                            <input type='text' class='form-control' name='institution'
                                   placeholder='e.g. Brandeis University' value="<%= courseInfo.institution %>">
                        </div>
                        <br>
                        <div class='input-group-prepend'>
                            <span class='input-group-text' style='width: 180px'>Institution URL</span>
                            <input type='text' class='form-control' name='institutionURL'
                                   placeholder='e.g. https://www.brandeis.edu' value="<%= courseInfo.institutionURL %>">
                        </div>
                        <br>
                        <div class='input-group-prepend'>
                            <span class='input-group-text' style='width: 180px'>State</span>
                            <select class='form-control' name='state' id="state">
                                <option value="Not state-specific">Not state-specific</option>
                                <option value='AL'>Alabama</option>
                                <option value='AK'>Alaska</option>
                                <option value='AZ'>Arizona</option>
                                <option value='AR'>Arkansas</option>
                                <option value='CA'>California</option>
                                <option value='CO'>Colorado</option>
                                <option value='CT'>Connecticut</option>
                                <option value='DE'>Delaware</option>
                                <option value='DC'>District Of Columbia</option>
                                <option value='FL'>Florida</option>
                                <option value='GA'>Georgia</option>
                                <option value='HI'>Hawaii</option>
                                <option value='ID'>Idaho</option>
                                <option value='IL'>Illinois</option>
                                <option value='IN'>Indiana</option>
                                <option value='IA'>Iowa</option>
                                <option value='KS'>Kansas</option>
                                <option value='KY'>Kentucky</option>
                                <option value='LA'>Louisiana</option>
                                <option value='ME'>Maine</option>
                                <option value='MD'>Maryland</option>
                                <option value='MA'>Massachusetts</option>
                                <option value='MI'>Michigan</option>
                                <option value='MN'>Minnesota</option>
                                <option value='MS'>Mississippi</option>
                                <option value='MO'>Missouri</option>
                                <option value='MT'>Montana</option>
                                <option value='NE'>Nebraska</option>
                                <option value='NV'>Nevada</option>
                                <option value='NH'>New Hampshire</option>
                                <option value='NJ'>New Jersey</option>
                                <option value='NM'>New Mexico</option>
                                <option value='NY'>New York</option>
                                <option value='NC'>North Carolina</option>
                                <option value='ND'>North Dakota</option>
                                <option value='OH'>Ohio</option>
                                <option value='OK'>Oklahoma</option>
                                <option value='OR'>Oregon</option>
                                <option value='PA'>Pennsylvania</option>
                                <option value='RI'>Rhode Island</option>
                                <option value='SC'>South Carolina</option>
                                <option value='SD'>South Dakota</option>
                                <option value='TN'>Tennessee</option>
                                <option value='TX'>Texas</option>
                                <option value='UT'>Utah</option>
                                <option value='VT'>Vermont</option>
                                <option value='VA'>Virginia</option>
                                <option value='WA'>Washington</option>
                                <option value='WV'>West Virginia</option>
                                <option value='WI'>Wisconsin</option>
                                <option value='WY'>Wyoming</option>
                            </select>
                        </div>
                        <br>
                        <div class='input-group-prepend'>
                            <span class='input-group-text' style='width: 180px'>Owner</span>
                            <input autofill="off" autocomplete="off" id="profiles"
                                   placeholder="Current owner is: <%= courseInfo.instructor %>" type='text'
                                   class='form-control' name='ownerName'>
                            <input hidden autofill="off" autocomplete="off"
                                   id="ownerId" type='text' style='margin-right: 20px' class='form-control'
                                   name='ownerId' value="<%= courseInfo.ownerId %>">
                        </div>
                        <br><br>
                        <h3>Course Time</h3>
                        <hr>
                        <div class="form-horizontal" id="form-horizontal">
                            <% if (courseTimes) { %>
                                <% for (let q = 0; q < courseTimes.length; q++) { %>
                                    <br class="removeMe">
                                    <div class="input-group-prepend" id="input-group-prepend">
                                        <span class="input-group-text" style="width: 180px">Start Time</span>
                                        <input class="form-control" type="time" name="startTime"
                                               style="margin: 0 10px 0 0" value="<%= courseTimes[q].startTime %>">
                                        <span class="input-group-text" style="width: 180px">End Time</span>
                                        <input class="form-control" type="time" name="endTime"
                                               style="margin: 0 10px 0 0" value="<%= courseTimes[q].endTime %>">
                                        <span class="input-group-text" style="width: 180px">Day</span>
                                        <input class="form-control" type="text" name="day" style="margin: 0 10px 0 0"
                                               value="<%= courseTimes[q].day %>">
                                    </div>
                                <% } %>
                            <% } %>
                        </div>
                        <br>
                        <input class="btn btn-outline-primary" type='button' value='Add a timeslot'
                               id='addButton'/>
                        <input class="btn btn-outline-info" type='button' value='Remove last entered timeslot'
                               id='removeButton'/>
                        <br><br>
                        <h3>Submission</h3>
                        <hr>
                        <input type='submit' name='submit' class='btn btn-outline-dark' value='Save to ENACT database'>
                    </form>
                <% } else { %>
                    <%- include('../components/component-loginToView'); -%>
                <% } %>
            </div>
        </div>
    </div>
</section>

<script>
    for (let i = new Date().getFullYear(); i >= 2000; i--) {
        $('#yearpicker').append($('<option class="form-control"/>').val(i).html(i));
    }
    $('#yearpicker option').each(function () {
        if ($(this).val() === $('#yearFromServer').text()) {
            $(this).prop('selected', true)
        }
    })
    $('#semester option').each(function () {
        if ($(this).val() === $('#semesterFromServer').text()) {
            $(this).prop('selected', true)
        }
    })
    $('#timezone option').each(function () {
        if ($(this).val() === $('#timezoneFromServer').text()) {
            $(this).prop('selected', true)
        }
    })
    $('#state option').each(function () {
        if ($(this).val() === $('#stateFromServer').text()) {
            $(this).prop('selected', true)
        }
    })
</script>


<%- include('../components/footer'); -%>
