<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<script src='/js/aws.js'></script>
<script src='/js/aws-uploadFile.js'></script>
<script src='/js/authorship.js'></script>
<script src="/js/autocompleteResourceOwner.js"></script>

<!-- disable autofill-->
<script src="https://cdn.jsdelivr.net/npm/disableautofill/src/jquery.disableAutoFill.min.js"></script>
<script>
    $('input[autofill="off"]').disableAutoFill;
</script>

<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                ENACT-wide Resource Upload
            </div>
        </div>
    </div>
</section>

<section class='section section__grey' data-aos='fade-up'>
    <div class='container'>
        <% if (loggedIn) { %>
            <div class='row'>
                <div class='col-md-3 col-sm-12'></div>
                <div class='col-md-6 col-sm-12'>
                    <h3>Upload to the cloud</h3>
                    <hr>
                    <button type='button' class='btn btn-outline-primary' data-toggle='modal'
                            data-target='#myModal'>
                        File upload
                    </button>
                    <p class='uploaded'></p>
                </div>
            </div>
            <br>
            <form method='post' action='/resource/upload/course/<%= req.params.courseId %>'>
                <div class='row'>
                    <div class='col-md-3 col-sm-12'></div>
                    <div class='col-md-6 col-sm-12'>
                        <h3>Author(s)</h3>
                        <hr>
                        <h5 style="color: grey">Notice: If you wish to change the author, fill in the name of the actual author and click one of the suggestions.</h5><br>
                        <div class="form-horizontal">
                            <div class="input-group-prepend">
                                <span class='input-group-text' style='width: 180px'>Name</span>
                                <input autofill="off" autocomplete="off" id="profiles" type='text' style='margin-right: 20px' class='form-control' value="<%= user.userName %>" name='ownerName'>
                                <input hidden autofill="off" autocomplete="off" id="ownerId" value="<%= user._id %>" type='text' style='margin-right: 20px' class='form-control' name='ownerId'>
                            </div>
                        </div>
                        <br>
                        <input class="btn btn-outline-primary" type='button' value='Add another author' id='addButton'/>
                        <input class="btn btn-outline-info" type='button' value='Remove last entered author' id='removeButton'/>
                        <p id="authorNames"></p>
                        <br>
                        <h3>Basic information</h3>
                        <hr>
                        <%- include('../components/component-basicInfo') -%>
                        <br>
                        <%- include('../components/component-stateSelector') -%>
                        <br>
                        <div class='input-group-prepend'>
                            <span class='input-group-text' style='width: 180px'>Institution</span>
                            <input type='text' class='form-control' name='institution'
                                   placeholder='e.g. Brandeis University' required>
                        </div>
                        <br>
                        <div class='input-group-prepend'>
                            <span class='input-group-text' style='width: 180px'>Creation Year</span>
                            <input type='number' class='form-control' name='yearOfCreation'
                                   placeholder='e.g. 2020' required>
                        </div>
                        <br>
                        <h5>Please be sure there is no confidential or sensitive information in materials you upload. Materials you upload will be accessible to the public, and may be included in other ENACT-produced materials.
                        </h5><br>
                        <input type="hidden" name="status" value="public">
                        <div class='form-check'>
                            <input class="form-check-input" type="checkbox" id="publicConsent" required>
                            <label class="form-check-label" for="publicConsent">
                                I agree that the materials I upload will be accessible to the public and may be used in ENACT-produced materials.
                            </label>
                        </div>
                    </div>
                    <div class='w-100'></div>
                    <br>
                    <%- include('../components/component-tagSelector') -%>
                    <br>
                    <div class='w-100'></div>
                    <div class='col-md-3 col-sm-12'></div>
                    <div class='col-md-6 col-sm-12'>
                        <h3>Submission</h3>
                        <hr>
                        <input type='submit' name='submit' class='btn btn-outline-dark' value='Save to ENACT database'>
                    </div>
                </div>
            </form>
            <br>
        <% } else { %>
            <%- include('../components/component-loginToView'); -%>
        <% } %>
    </div>
</section>

<%- include('../components/footer'); -%>

<script>
    $('form input').on('keypress', function (e) {
        return e.which !== 13;
    });
</script>
