<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<script src='/js/aws.js'></script>
<script src='/js/aws-uploadFile.js'></script>
<script src='/js/authorship.js'></script>

<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                ENACT-wide Resource Upload
            </div>
        </div>
    </div>
</section>

<section class='section section__grey' data-aos='fade-up'>
    <div class='container'>
        <% if (loggedIn) { %>
            <div class='row'>
                <div class='col-md-3 col-sm-12'></div>
                <div class='col-md-6 col-sm-12'>
                    <h3>Upload to the cloud</h3>
                    <hr>
                    <button type='button' class='btn btn-outline-primary' data-toggle='modal'
                            data-target='#myModal'>
                        File upload
                    </button>
                    <p class='uploaded'></p>
                </div>
            </div>
            <br>
            <form method='post' action='/resource/upload/course/<%= req.params.courseId %>'>
                <div class='row'>
                    <div class='col-md-3 col-sm-12'></div>
                    <div class='col-md-6 col-sm-12'>
                        <h3>Author(s)</h3>
                        <hr>
                        <h5 style="color: grey">Please make sure to spell the name and email correctly. <br>
                            If you wish to remove one or more authors from the list, please contact us. </h5>
                        <br>
                        <div class="form-horizontal">
                            <div class="input-group-prepend">
                                <span class='input-group-text' style='width: 180px'>Name</span>
                                <input disabled type='text' style="margin: 0 20px 0 0" class='form-control'
                                       name='authorName' value=<%= user.userName %>>
                                <span class='input-group-text' style='width: 180px'>Email</span>
                                <input disabled type='text' style="margin: 0 20px 0 0" class='form-control'
                                       name='authorEmail' value=<%= user.workEmail || user.googleemail %>>
                            </div>
                        </div>
                        <br>
                        <input class="btn btn-outline-primary" type='button' value='Add another author' id='addButton'/>
                        <input class="btn btn-outline-info" type='button' value='Remove last entered author'
                               id='removeButton'/>
                        <p id="authorNames"></p>
                        <br><br><br>
                        <h3>Basic information</h3>
                        <hr>
                        <% if (status === 'admin' || status === 'faculty') { %>
                            <%- include('../components/component-basicInfo') -%>
                        <% } else { %>
                            <%- include('../components/component-basicInfo') -%>
                        <% } %>
                        <br>
                        <%- include('../components/component-stateSelector') -%>
                        <br>
                        <%- include('../components/component-institutionSelector') -%>
                        <br>
                        <%- include('../components/component-yearOfCreationSelector') -%>
                        <br>
                        <% if (status === 'admin' || status === 'faculty') { %>
                            <div class='input-group-prepend'>
                                <span class='input-group-text' style='width: 180px'>Resource Status</span>
                                <select class='form-control' name='status'>
                                    <option selected value='privateToENACT'>Exclusive to all ENACT members</option>
                                    <option value='privateToProfessor'>Exclusive to ENACT professors</option>
                                    <% if (status === 'admin') { %>
                                        <option value='public'>Open to public</option>
                                        <option value='finalPublic'>Displayed on the front page</option>
                                    <% } else { %>
                                        <option value='partPublic'>Open to public (needs to be approved by admins)
                                        </option>
                                    <% } %>
                                </select>
                            </div>
                            <br>
                        <% } else { %>
                            <div class='input-group-prepend'>
                                <span class='input-group-text' style='width: 180px'>Resource Status</span>
                                <select class='form-control' name='status'>
                                    <option selected value='privateToENACT'>Exclusive to all ENACT members</option>
                                    <option value='partPublic'>Open to public (needs to be approved by admins)</option>
                                </select>
                            </div>
                        <% } %>
                    </div>
                    <div class='w-100'></div>
                    <br>
                    <%- include('../components/component-tagSelector') -%>
                    <br>
                    <div class='w-100'></div>
                    <div class='col-md-3 col-sm-12'></div>
                    <div class='col-md-6 col-sm-12'>
                        <h3>Submission</h3>
                        <hr>
                        <input type='submit' name='submit' class='btn btn-outline-dark' value='Save to ENACT database'>
                    </div>
                </div>
            </form>
            <br>
        <% } else { %>
            <%- include('../components/component-loginToView'); -%>
        <% } %>
    </div>
</section>


<!-- Modal -->
<div class='modal fade' id='myModal' tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel'
     aria-hidden='true'>
    <div class='modal-dialog modal-lg' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title' id='exampleModalLabel'>Upload file</h5>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                    <span aria-hidden='true'>&times;</span>
                </button>
            </div>
            <div class='modal-body'>
                <div class='row'>
                    <br><br>
                    <div class='col-md-12 col-sm-12'>
                        <div class='input-group-prepend'>
                            <span class='input-group-text' id='basic-addon1'>Upload File</span>
                            <input type='file' class='form-control' id='file-input'>
                        </div>
                        <br>
                        <h5 style="display: inline">Upload status:</h5>
                        <img style='height: 50px; width: 50px' id="uploadStatus"
                             src="https://image.flaticon.com/icons/svg/2078/2078840.svg">
                        <p class='uploaded'><b>Not uploaded</b></p>
                        <hr>
                        <h5 id='fileName'>File Name:</h5>
                        <h5 id='fileType'>File Type:</h5>
                        <h5>If you are uploading a video, please use MP4 format.</h5>
                        <h5>Please do not close the window until upload finishes.</h5>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' id='closeBtn' class='btn btn-secondary' data-dismiss='modal'>Close</button>
            </div>
        </div>
    </div>
</div>

<div class='modal fade' id='addTags' tabindex='-1' role='dialog'
     aria-labelledby='exampleModalLabel'
     aria-hidden='true'>
    <div class='modal-dialog modal-lg' role='document'>
        <form method='post' action='/tag/add'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <h5 class='modal-title' id='exampleModalLabel'>Suggesting a new resource topic/issue?</h5>
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                        <span aria-hidden='true'>&times;</span>
                    </button>
                </div>
                <div class='modal-body'>
                    <div class='row'>
                        <div class='col-md-12 col-sm-12'>
                            <div class='input-group-prepend'>
                                <span class='input-group-text' style='width: 180px'>Name</span>
                                <input type='text' id='addingTag' class='form-control' name='addingTag'
                                       placeholder='e.g. COVID-19'>
                            </div>
                            <br>
                            <div class='input-group-prepend'>
                                <span class='input-group-text' style='width: 180px'>Reason</span>
                                <textarea type='text' class='form-control' name='reason'
                                          rows='4'></textarea>
                            </div>
                            <br>
                            <h6>Note: your request will be processed by ENACT admin. </h6>
                        </div>
                    </div>
                </div>
                <div class='modal-footer'>
                    <input type='submit' name='submit' class='btn btn-outline-primary' value='Submit'>
                    <button type='button' id='closeBtn' class='btn btn-outline-secondary' data-dismiss='modal'>
                        Close
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<%- include('../components/footer'); -%>

<script>
    $('form input').on('keypress', function (e) {
        return e.which !== 13;
    });
</script>