<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<script src='/js/aws.js'></script>
<script src='/js/uploadFile.js'></script>
<script src='/js/authorship.js'></script>

<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                Faculty Resource Upload
            </div>
        </div>
    </div>
</section>

<section class='section section__grey' data-aos='fade-up'>
    <div class='container'>
        <% if (loggedIn) { %>
            <div class='row'>
                <div class='col-md-3 col-sm-12'></div>
                <div class='col-md-6 col-sm-12'>
                    <h3>Upload the file to cloud</h3>
                    <hr>
                    <button type='button' class='btn btn-outline-primary' data-toggle='modal'
                            data-target='#myModal'>
                        File upload
                    </button>
                    <p class='uploaded'></p>
                </div>
            </div>
            <br><br>
            <form id='form' method='post' action='/resource/upload/faculty'>
                <div class='row'>
                    <div class='col-md-3 col-sm-12'></div>
                    <div class='col-md-6 col-sm-12'>
                        <h3>Author(s)</h3>
                        <hr>
                        <div class="form-horizontal">
                            <div class="input-group-prepend">
                                <span class='input-group-text' style='width: 180px'>Name</span>
                                <input disabled type='text' style="margin: 0 20px 0 0" class='form-control'
                                       name='authorName' value=<%= user.userName %>>
                                <span class='input-group-text' style='width: 180px'>Email</span>
                                <input disabled type='text' style="margin: 0 20px 0 0" class='form-control'
                                       name='authorEmail' value=<%= user.workEmail || user.googleemail %>>
                            </div>
                        </div>
                        <br>
                        <input class="btn btn-outline-primary" type='button' value='Add another author' id='addButton'/>
                        <input class="btn btn-outline-info" type='button' value='Remove last entered author' id='removeButton'/>
                        <br><br><br>
                        <h3>Basic information</h3>
                        <hr>
                        <%- include('../components/component-facultyBasicInfo') -%>
                        <br>
                        <%- include('../components/component-stateSelector') -%>
                        <br>
                        <%- include('../components/component-institutionSelector') -%>
                        <br>
                        <%- include('../components/component-yearOfCreationSelector') -%>
                        <br>
                        <% if (status === 'admin' || status === 'faculty') { %>
                            <div class='input-group-prepend'>
                                <span class='input-group-text' style='width: 180px'>Resource Status</span>
                                <select class='form-control' name='status'>
                                    <option selected value='privateToProfessor'>Exclusive to ENACT professors</option>
                                    <option value='privateToENACT'>Exclusive to all ENACT members</option>
                                    <option value='partPublic'>Open to public (need to be approved by admins)</option>
                                </select>
                            </div>
                            <br>
                        <% } %>
                    </div>
                    <div class='w-100'></div>

                    <%- include('../components/component-tagSelector') -%>

                    <div class='w-100'></div>
                    <div class='col-md-3 col-sm-12'></div>
                    <div class='col-md-6 col-sm-12'>
                        <h3>Submission</h3>
                        <hr>
                        <input type='submit' name='submit' class='btn btn-outline-dark' value='Save to ENACT database'>
                    </div>
                </div>
            </form>
            <br>
        <% } else { %>
            <%- include('../components/component-loginToView'); -%>
        <% } %>
    </div>
</section>


<!-- Modal -->
<div class='modal fade' id='myModal' tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel'
     aria-hidden='true'>
    <div class='modal-dialog modal-lg' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title' id='exampleModalLabel'>Upload file</h5>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                    <span aria-hidden='true'>&times;</span>
                </button>
            </div>
            <div class='modal-body'>
                <div class='row'>
                    <br><br>
                    <div class='col-md-12 col-sm-12'>
                        <div class='input-group-prepend'>
                            <span class='input-group-text' id='basic-addon1'>Upload File</span>
                            <input type='file' class='form-control' id='file-input'>
                        </div>
                        <br>
                        <b>Upload status:</b>
                        <img style='height: 50px; width: 50px' id="uploadStatus"
                             src="https://image.flaticon.com/icons/svg/2078/2078840.svg">
                        <p class='uploaded'><b>Not uploaded</b></p>
                        <hr>
                        <h5 id='fileName'>File Name: </h5>
                        <h5 id='fileType'>File Type: </h5>
                        <h5><b>Please do not close the window until upload finishes.</b></h5>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' id='closeBtn' class='btn btn-secondary' data-dismiss='modal'>Close</button>
            </div>
        </div>
    </div>
</div>

<div class='modal fade' id='addTags' tabindex='-1' role='dialog'
     aria-labelledby='exampleModalLabel'
     aria-hidden='true'>
    <div class='modal-dialog modal-lg' role='document'>
        <form method='post' action='/tag/add'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <h5 class='modal-title' id='exampleModalLabel'>Suggesting a new area?</h5>
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                        <span aria-hidden='true'>&times;</span>
                    </button>
                </div>
                <div class='modal-body'>
                    <div class='row'>
                        <div class='col-md-12 col-sm-12'>
                            <div class='input-group-prepend'>
                                <span class='input-group-text' style='width: 180px'>Name</span>
                                <input type='text' id='addingTag' class='form-control' name='addingTag'
                                       placeholder='e.g. COVID-19'>
                            </div>
                            <br>
                            <div class='input-group-prepend'>
                                <span class='input-group-text' style='width: 180px'>Content type</span>
                                <select id='contentTypeSelect' class='form-control' name='contentType'>
                                    <option selected value='empty'>Choose...</option>
                                    <option value='Advocacy Video'>Advocacy Video</option>
                                    <option value='Assignment Guidelines'>Assignment Guidelines & Rubrics</option>
                                    <option value='Journal'>Campaign Journal</option>
                                    <option value='Course Planning'>Course Planning</option>
                                    <option value='Course Reading'>Course Reading</option>
                                    <option value='Elevator Speech'>Elevator Speech</option>
                                    <option value='ENACT Research'>ENACT Faculty Research</option>
                                    <option value='Flyer'>Fact Sheet/Storybook</option>
                                    <option value='Letter to Legislator'>Letter to the Legislator</option>
                                    <option value='Next Steps'>Next Steps</option>
                                    <option value='Online'>Online Teaching Resources</option>
                                    <option value='Outlets'>Outlets for Publication</option>
                                    <option value='Op-Ed'>Op-Ed</option>
                                    <option value='Personal Reflection'>Personal reflection</option>
                                    <option value='Portfolio'>Portfolio</option>
                                    <option value='Presentations'>Presentations</option>
                                    <option value='Research Report'>Student Research Report</option>
                                    <option value='Script'>Script for meeting with Ways and Means Staff</option>
                                    <option value='State Legislative'>State Legislative Website Resources</option>
                                    <option value='Syllabus'>Syllabi</option>
                                    <option value='Testimony'>Testimony</option>
                                </select>
                            </div>
                            <br>
                            <div class='input-group-prepend'>
                                <span class='input-group-text' style='width: 180px'>Reason</span>
                                <textarea type='text' class='form-control' name='reason'
                                          rows='4'></textarea>
                            </div>
                            <br>
                            <h6>Note: your request will be processed by ENACT admin. </h6>
                        </div>
                    </div>
                </div>
                <div class='modal-footer'>
                    <input type='submit' name='submit' class='btn btn-outline-primary' value='Submit'>
                    <button type='button' id='closeBtn' class='btn btn-outline-secondary' data-dismiss='modal'>
                        Close
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<%- include('../components/footer'); -%>