<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<script src='/js/aws.js'></script>
<script src='/js/uploadFile.js'></script>

<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                Faculty Resource Upload
            </div>
        </div>
    </div>
</section>

<section class='section section__grey' data-aos='fade-up'>
    <div class='container'>
        <% if (loggedIn) { %>
            <div class='row'>
                <div class='col-md-3 col-sm-12'></div>
                <div class='col-md-6 col-sm-12'>
                    <h3>Upload the file</h3>
                    <hr>
                    <button type='button' class='btn btn-outline-primary' data-toggle='modal'
                            data-target='#myModal'>
                        Upload the file
                    </button>
                    <p class='uploaded'></p>
                </div>
            </div>
            <br>
            <form method='post' action='/uploadToFacultyExclusive'>
                <div class='row'>
                    <div class='col-md-3 col-sm-12'></div>
                    <div class='col-md-6 col-sm-12'>
                        <h3>Basic information</h3>
                        <hr>
                        <%- include('../components/component-facultyBasicInfo') -%>
                        <br>
                        <%- include('../components/component-stateSelector') -%>
                        <br>
                        <%- include('../components/component-institutionSelector') -%>
                        <br>
                        <%- include('../components/component-yearOfCreationSelector') -%>
                        <br>
                        <% if (status === 'admin' || status === 'faculty') { %>
                            <div class='input-group-prepend'>
                                <span class='input-group-text' style='width: 180px'>Resource Status</span>
                                <select class='form-control' name='status'>
                                    <option selected value='privateToProfessor'>Exclusive to ENACT professors</option>
                                    <option value='privateToENACT'>Exclusive to all ENACT members</option>
                                    <option value='partPublic'>Open to public(Need to be approved by admins)</option>
                                </select>
                            </div>
                            <br>
                        <% } %>
                    </div>

                    <div class='w-100'></div>
                    <br>
                    <div class='col-md-3 col-sm-12'></div>
                    <div class='col-md-6 col-sm-12'>
                        <h3>Tag the resource</h3>
                        <hr>

                    </div>
                    <div class='w-100'></div>

                    <%- include('../components/component-tagSelectorFaculty') -%>

                    <br>

                    <div class='w-100'></div>
                    <div class='col-md-3 col-sm-12'></div>
                    <div class='col-md-6 col-sm-12'>
                        <input type='submit' name='submit' class='btn btn-outline-dark' value='Save'>
                    </div>
                </div>
            </form>
            <br>
        <% } else { %>
            <%- include('../components/component-loginToView'); -%>
        <% } %>
    </div>
</section>


<!-- Modal -->
<div class='modal fade' id='myModal' tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel'
     aria-hidden='true'>
    <div class='modal-dialog modal-lg' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title' id='exampleModalLabel'>Upload file</h5>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                    <span aria-hidden='true'>&times;</span>
                </button>
            </div>
            <div class='modal-body'>
                <div class='row'>
                    <br><br>
                    <div class='col-md-12 col-sm-12'>
                        <div class='input-group-prepend'>
                            <span class='input-group-text' id='basic-addon1'>Upload File</span>
                            <input type='file' class='form-control' id='file-input'>
                        </div>
                        <br>
                        <b>Upload status:</b>
                        <p class='uploaded'>Not uploaded</p>
                        <hr>
                        <h5 id='fileName'>File Name: </h5>
                        <h5 id='fileType'>File Type: </h5>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' id='closeBtn' class='btn btn-secondary' data-dismiss='modal'>Close</button>
            </div>
        </div>
    </div>
</div>

<%- include('../components/footer'); -%>